# 04 abr 2018

O objetivo de hoje é 

- Remontar o dataset de candidatos (2004 - 2016) com as informações do TSE
- Tratar os dados
- Popular as tabelas auxiliares com as informações do dataset
  - Estados
  - Cidades
  - Nacionalidades
  - Graus de Instrução
  - Ocupações
  - Eleições
  - Cargos
  - Partidos
  - Situações de uma Candidatura
  - Resultado de uma Candidatura

## Re-construção do dataset de Histórico de Campanhas

In [34]:
import pandas as pd
import numpy as np
import os
import urllib
import zipfile
import glob

from tempfile import mkdtemp
from utils.download import download

Definição de constantes a serem utilizadas ao longo do código

In [35]:
# Diretório temporário
# DIRETORIO_TEMPORARIO = mkdtemp()
DIRETORIO_TEMPORARIO = os.path.join('../temp')

# Nome e endereço dos arquivos do diretório do TSE
PREFIXO_ARQUIVO_CANDIDATURAS = 'consulta_cand_'
URL_CANDIDATURAS = 'http://agencia.tse.jus.br/estatistica/sead/odsele/consulta_cand/'

# Setup de configuração para o arquivo de saída (nome do dataset)
HOJE = pd.datetime.today().date()
ARQUIVO_SAIDA_CANDIDATURAS = HOJE.isoformat() + '-candidaturas-tse.xz'
DATASET_SAIDA_CANDIDATURAS = os.path.join('../data', ARQUIVO_SAIDA_CANDIDATURAS)

Como os arquivos das candidaturas anteriores a 2004 ainda apresentam incosistência, vamos realizar o download de todos os anos a partir de 2004 até a eleição anterior ao ano de processamento deste algoritmo

In [36]:
anos_eleitorais = [str(year) for year in (range(2004, HOJE.year - 1, 2))]

In [37]:
for ano in anos_eleitorais:
    nome_arquivo = '{}{}.zip'.format(PREFIXO_ARQUIVO_CANDIDATURAS, ano)
    url_arquivo = URL_CANDIDATURAS + nome_arquivo
    arquivo_saida = os.path.join(DIRETORIO_TEMPORARIO, nome_arquivo)
    
    # urllib.request.urlretrieve(url_arquivo, arquivo_saida)
    download(url_arquivo, arquivo_saida)

    print('Arquivos de ' + ano + ' baixados com sucesso!')

[██████████████████████████████████████████████████]
Arquivos de 2004 baixados com sucesso!
[██████████████████████████████████████████████████]
Arquivos de 2006 baixados com sucesso!
[██████████████████████████████████████████████████]
Arquivos de 2008 baixados com sucesso!
[██████████████████████████████████████████████████]
Arquivos de 2010 baixados com sucesso!
[██████████████████████████████████████████████████]
Arquivos de 2012 baixados com sucesso!
[██████████████████████████████████████████████████]
Arquivos de 2014 baixados com sucesso!
[██████████████████████████████████████████████████]
Arquivos de 2016 baixados com sucesso!

Como os arquivos baixados estão no formato .zip, precisamos extrair seu conteúdo para o diretório temporário

In [38]:
for ano in anos_eleitorais:
    arquivo = PREFIXO_ARQUIVO_CANDIDATURAS + ano + '.zip'
    path = os.path.join(DIRETORIO_TEMPORARIO, arquivo)
    
    zip_ref = zipfile.ZipFile(path, 'r')
    zip_ref.extractall(DIRETORIO_TEMPORARIO)
    zip_ref.close()

Agora temos arquivos `.txt` divididos por ano e por estado, para explorarmos.

Como os arquivos não contém _header_, descritos no arquivo LEIAME.pdf, precisaremos inserir manualmente.

In [39]:
header_consulta_cand_ate2010 = [
    "DATA_GERACAO",
    "HORA_GERACAO",
    "ANO_ELEICAO",
    "NUM_TURNO",  # (*)
    "DESCRICAO_ELEICAO",  # (*)
    "SIGLA_UF",
    "SIGLA_UE",  # (*)
    "DESCRICAO_UE",
    "CODIGO_CARGO",  # (*)
    "DESCRICAO_CARGO",
    "NOME_CANDIDATO",
    "SEQUENCIAL_CANDIDATO",  # (*)
    "NUMERO_CANDIDATO",
    "CPF_CANDIDATO",
    "NOME_URNA_CANDIDATO",
    "COD_SITUACAO_CANDIDATURA",
    "DES_SITUACAO_CANDIDATURA",
    "NUMERO_PARTIDO",
    "SIGLA_PARTIDO",
    "NOME_PARTIDO",
    "CODIGO_LEGENDA",
    "SIGLA_LEGENDA",
    "COMPOSICAO_LEGENDA",
    "NOME_LEGENDA",
    "CODIGO_OCUPACAO",
    "DESCRICAO_OCUPACAO",
    "DATA_NASCIMENTO",
    "NUM_TITULO_ELEITORAL_CANDIDATO",
    "IDADE_DATA_ELEICAO",
    "CODIGO_SEXO",
    "DESCRICAO_SEXO",
    "COD_GRAU_INSTRUCAO",
    "DESCRICAO_GRAU_INSTRUCAO",
    "CODIGO_ESTADO_CIVIL",
    "DESCRICAO_ESTADO_CIVIL",
    "CODIGO_NACIONALIDADE",
    "DESCRICAO_NACIONALIDADE",
    "SIGLA_UF_NASCIMENTO",
    "CODIGO_MUNICIPIO_NASCIMENTO",
    "NOME_MUNICIPIO_NASCIMENTO",
    "DESPESA_MAX_CAMPANHA",
    "COD_SIT_TOT_TURNO",
    "DESC_SIT_TOT_TURNO",
]

In [40]:
header_consulta_cand_em2012 = [
    "DATA_GERACAO",
    "HORA_GERACAO",
    "ANO_ELEICAO",
    "NUM_TURNO",  # (*)
    "DESCRICAO_ELEICAO",  # (*)
    "SIGLA_UF",
    "SIGLA_UE",  # (*)
    "DESCRICAO_UE",
    "CODIGO_CARGO",  # (*)
    "DESCRICAO_CARGO",
    "NOME_CANDIDATO",
    "SEQUENCIAL_CANDIDATO",  # (*)
    "NUMERO_CANDIDATO",
    "CPF_CANDIDATO",
    "NOME_URNA_CANDIDATO",
    "COD_SITUACAO_CANDIDATURA",
    "DES_SITUACAO_CANDIDATURA",
    "NUMERO_PARTIDO",
    "SIGLA_PARTIDO",
    "NOME_PARTIDO",
    "CODIGO_LEGENDA",
    "SIGLA_LEGENDA",
    "COMPOSICAO_LEGENDA",
    "NOME_LEGENDA",
    "CODIGO_OCUPACAO",
    "DESCRICAO_OCUPACAO",
    "DATA_NASCIMENTO",
    "NUM_TITULO_ELEITORAL_CANDIDATO",
    "IDADE_DATA_ELEICAO",
    "CODIGO_SEXO",
    "DESCRICAO_SEXO",
    "COD_GRAU_INSTRUCAO",
    "DESCRICAO_GRAU_INSTRUCAO",
    "CODIGO_ESTADO_CIVIL",
    "DESCRICAO_ESTADO_CIVIL",
    "CODIGO_NACIONALIDADE",
    "DESCRICAO_NACIONALIDADE",
    "SIGLA_UF_NASCIMENTO",
    "CODIGO_MUNICIPIO_NASCIMENTO",
    "NOME_MUNICIPIO_NASCIMENTO",
    "DESPESA_MAX_CAMPANHA",
    "COD_SIT_TOT_TURNO",
    "DESC_SIT_TOT_TURNO",
    "NM_EMAIL",
]

In [41]:
header_consulta_cand_pos2014 = [
    "DATA_GERACAO",
    "HORA_GERACAO",
    "ANO_ELEICAO",
    "NUM_TURNO",  # (*)
    "DESCRICAO_ELEICAO",  # (*)
    "SIGLA_UF",
    "SIGLA_UE",  # (*)
    "DESCRICAO_UE",
    "CODIGO_CARGO",  # (*)
    "DESCRICAO_CARGO",
    "NOME_CANDIDATO",
    "SEQUENCIAL_CANDIDATO",  # (*)
    "NUMERO_CANDIDATO",
    "CPF_CANDIDATO",
    "NOME_URNA_CANDIDATO",
    "COD_SITUACAO_CANDIDATURA",
    "DES_SITUACAO_CANDIDATURA",
    "NUMERO_PARTIDO",
    "SIGLA_PARTIDO",
    "NOME_PARTIDO",
    "CODIGO_LEGENDA",
    "SIGLA_LEGENDA",
    "COMPOSICAO_LEGENDA",
    "NOME_LEGENDA",
    "CODIGO_OCUPACAO",
    "DESCRICAO_OCUPACAO",
    "DATA_NASCIMENTO",
    "NUM_TITULO_ELEITORAL_CANDIDATO",
    "IDADE_DATA_ELEICAO",
    "CODIGO_SEXO",
    "DESCRICAO_SEXO",
    "COD_GRAU_INSTRUCAO",
    "DESCRICAO_GRAU_INSTRUCAO",
    "CODIGO_ESTADO_CIVIL",
    "DESCRICAO_ESTADO_CIVIL",
    "CODIGO_COR_RACA",
    "DESCRICAO_COR_RACA",
    "CODIGO_NACIONALIDADE",
    "DESCRICAO_NACIONALIDADE",
    "SIGLA_UF_NASCIMENTO",
    "CODIGO_MUNICIPIO_NASCIMENTO",
    "NOME_MUNICIPIO_NASCIMENTO",
    "DESPESA_MAX_CAMPANHA",
    "COD_SIT_TOT_TURNO",
    "DESC_SIT_TOT_TURNO",
    "NM_EMAIL",
]

Feito isso, vamos criar um pandas DataFrame com todos os dados concatenados.

_Obs.: Será necessário tratar os dados das eleições 2018 quando o dataset for liberado pelo TSE_

In [42]:
cand_df = pd.DataFrame()
for ano in anos_eleitorais:
    arquivos = PREFIXO_ARQUIVO_CANDIDATURAS + ano + '*.txt'
    pathes = os.path.join(DIRETORIO_TEMPORARIO, arquivos)
    arquivos_do_ano = sorted(glob.glob(pathes))
    for arquivo_i in arquivos_do_ano:
        if ('2014' in arquivo_i) or ('2016' in arquivo_i):
            cand_df_i = pd.read_csv(
                arquivo_i,
                sep=';',
                header=None,
                dtype=np.str,
                names=header_consulta_cand_pos2014,
                encoding='iso-8859-1')
        elif ('2012' in arquivo_i):
            cand_df_i = pd.read_csv(
                arquivo_i,
                sep=';',
                header=None,
                dtype=np.str,
                names=header_consulta_cand_em2012,
                encoding='iso-8859-1')
        else:
            cand_df_i = pd.read_csv(
                arquivo_i,
                sep=';',
                header=None,
                dtype=np.str,
                names=header_consulta_cand_ate2010,
                encoding='iso-8859-1')
        cand_df = cand_df.append(cand_df_i)
        print(ano + arquivo_i + ' arquivo anexado com sucesso!')

2004../temp\consulta_cand_2004_AC.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_AL.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_AM.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_AP.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_BA.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_CE.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_ES.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_GO.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_MA.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_MG.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_MS.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_MT.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_PA.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_PB.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_PE.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_PI.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_PR.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_RJ.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_RN.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_RO.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_RR.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_RS.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_SC.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_SE.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_SP.txt arquivo anexado com sucesso!
2004../temp\consulta_cand_2004_TO.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_AC.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_AL.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_AM.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_AP.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_BA.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_BR.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_CE.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_DF.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_ES.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_GO.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_MA.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_MG.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_MS.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_MT.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_PA.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_PB.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_PE.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_PI.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_PR.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_RJ.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_RN.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_RO.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_RR.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_RS.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_SC.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_SE.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_SP.txt arquivo anexado com sucesso!
2006../temp\consulta_cand_2006_TO.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_AC.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_AL.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_AM.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_AP.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_BA.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_CE.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_ES.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_GO.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_MA.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_MG.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_MS.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_MT.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_PA.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_PB.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_PE.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_PI.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_PR.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_RJ.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_RN.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_RO.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_RR.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_RS.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_SC.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_SE.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_SP.txt arquivo anexado com sucesso!
2008../temp\consulta_cand_2008_TO.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_AC.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_AL.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_AM.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_AP.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_BA.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_BR.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_CE.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_DF.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_ES.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_GO.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_MA.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_MG.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_MS.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_MT.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_PA.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_PB.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_PE.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_PI.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_PR.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_RJ.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_RN.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_RO.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_RR.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_RS.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_SC.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_SE.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_SP.txt arquivo anexado com sucesso!
2010../temp\consulta_cand_2010_TO.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_AC.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_AL.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_AM.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_AP.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_BA.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_CE.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_ES.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_GO.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_MA.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_MG.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_MS.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_MT.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_PA.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_PB.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_PE.txt arquivo anexado com sucesso!

2012../temp\consulta_cand_2012_PI.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_PR.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_RJ.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_RN.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_RO.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_RR.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_RS.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_SC.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_SE.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_SP.txt arquivo anexado com sucesso!
2012../temp\consulta_cand_2012_TO.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_AC.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_AL.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_AM.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_AP.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_BA.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_BR.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_CE.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_DF.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_ES.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_GO.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_MA.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_MG.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_MS.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_MT.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_PA.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_PB.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_PE.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_PI.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_PR.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_RJ.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_RN.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_RO.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_RR.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_RS.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_SC.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_SE.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_SP.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_TO.txt arquivo anexado com sucesso!
2014../temp\consulta_cand_2014_ZZ.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_AC.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_AL.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_AM.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_AP.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_BA.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_BR.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_CE.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_DF.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_ES.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_GO.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_MA.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_MG.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_MS.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_MT.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_PA.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_PB.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_PE.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_PI.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_PR.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_RJ.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_RN.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_RO.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_RR.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_RS.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_SC.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_SE.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_SP.txt arquivo anexado com sucesso!
2016../temp\consulta_cand_2016_TO.txt arquivo anexado com sucesso!

In [43]:
cand_df

,ANO_ELEICAO,CODIGO_CARGO,CODIGO_COR_RACA,CODIGO_ESTADO_CIVIL,CODIGO_LEGENDA,CODIGO_MUNICIPIO_NASCIMENTO,CODIGO_NACIONALIDADE,CODIGO_OCUPACAO,CODIGO_SEXO,COD_GRAU_INSTRUCAO,...,NUMERO_CANDIDATO,NUMERO_PARTIDO,NUM_TITULO_ELEITORAL_CANDIDATO,NUM_TURNO,SEQUENCIAL_CANDIDATO,SIGLA_LEGENDA,SIGLA_PARTIDO,SIGLA_UE,SIGLA_UF,SIGLA_UF_NASCIMENTO
0,2004,11,NaN,3,5,-1,1,601,2,4,...,13,13,000356682496,1,6,#NE#,PT,01120,AC,RS
1,2004,11,NaN,3,1,-1,1,601,2,3,...,14,14,000525772445,1,1,#NE#,PTB,01120,AC,AC
2,2004,11,NaN,3,12,-1,1,143,2,8,...,45,45,002053882488,1,27,#NE#,PSDB,01120,AC,PR
3,2004,12,NaN,3,7,-1,1,601,2,0,...,13,40,002817512496,1,7,#NE#,PSB,01120,AC,AC
4,2004,12,NaN,5,3,-1,1,143,2,8,...,14,14,002600402445,1,2,#NE#,PTB,01120,AC,AC
5,2004,12,NaN,3,14,-1,1,999,2,4,...,45,15,000411782470,1,28,#NE#,PMDB,01120,AC,PR
6,2004,13,NaN,3,18,-1,1,999,2,2,...,15120,15,001022542470,1,43,#NE#,PMDB,01120,AC,PR
7,2004,13,NaN,3,10,-1,1,601,2,3,...,13113,13,001750702445,1,23,#NE#,PT,01120,AC,ES
8,2004,13,NaN,3,10,-1,1,601,2,2,...,13613,13,001580082461,1,18,#NE#,PT,01120,AC,PR
9,2004,13,NaN,1,9,-1,1,999,2,4,...,43333,43,003552582461,1,8,#NE#,PV,01120,AC,RO
10,2004,13,NaN,1,2,-1,1,601,2,6,...,14014,14,003851432453,1,4,#NE#,PTB,01120,AC,AC
11,2004,13,NaN,3,10,-1,1,601,2,4,...,13456,13,002158792453,1,20,#NE#,PT,01120,AC,ES
12,2004,13,NaN,3,16,-1,1,999,4,6,...,45123,45,000968162410,1,32,#NE#,PSDB,01120,AC,PR
13,2004,13,NaN,3,18,-1,1,999,2,3,...,25555,25,002814592453,1,41,#NE#,PFL,01120,AC,PR
14,2004,13,NaN,1,18,-1,1,999,4,3,...,15123,15,020802772232,1,42,#NE#,PMDB,01120,AC,MS
15,2004,13,NaN,1,10,-1,1,227,2,3,...,13611,13,001738802410,1,19,#NE#,PT,01120,AC,PR
16,2004,13,NaN,3,16,-1,1,143,4,8,...,12345,12,001738842445,1,29,#NE#,PDT,01120,AC,PR
17,2004,13,NaN,3,16,-1,1,143,2,8,...,45678,45,002161102496,1,33,#NE#,PSDB,01120,AC,MG
18,2004,13,NaN,3,16,-1,1,999,2,6,...,45645,45,002817542437,1,34,#NE#,PSDB,01120,AC,SC
19,2004,13,NaN,1,18,-1,1,999,2,6,...,15130,15,003157012461,1,45,#NE#,PMDB,01120,AC,AC
20,2004,13,NaN,3,16,-1,1,143,2,7,...,12300,12,000764552488,1,30,#NE#,PDT,01120,AC,AM
21,2004,13,NaN,9,2,-1,1,601,2,3,...,14601,14,000924252437,1,3,#NE#,PTB,01120,AC,MA
22,2004,13,NaN,3,16,-1,1,999,2,4,...,45555,45,002817382410,1,35,#NE#,PSDB,01120,AC,BA
23,2004,13,NaN,1,18,-1,1,999,2,6,...,23456,23,002187552488,1,48,#NE#,PPS,01120,AC,AC
24,2004,13,NaN,3,9,-1,1,999,2,0,...,33222,33,003181972496,1,12,#NE#,PMN,01120,AC,AL
25,2004,13,NaN,3,10,-1,1,999,2,6,...,13333,13,000154372470,1,21,#NE#,PT,01120,AC,AC
26,2004,13,NaN,1,9,-1,1,143,2,6,...,40111,40,000405262445,1,15,#NE#,PSB,01120,AC,AC
27,2004,13,NaN,3,10,-1,1,999,2,8,...,13000,13,000612792402,1,26,#NE#,PT,01120,AC,AC
28,2004,13,NaN,1,9,-1,1,296,2,8,...,40240,40,003181562410,1,14,#NE#,PSB,01120,AC,MG
29,2004,13,NaN,3,18,-1,1,999,2,4,...,15110,15,002876952470,1,44,#NE#,PMDB,01120,AC,PR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7448,2016,13,03,9,270000000706,-3,1,999,2,3,...,12456,12,033629232747,1,270000007727,#NULO#,PDT,96156,TO,TO
7449,2016,13,02,1,270000000851,-3,1,512,2,6,...,36266,36,057684521198,1,270000009393,#NULO#,PTC,92410,TO,MA
7450,2016,13,03,1,270000000546,-3,1,390,2,6,...,22123,22,032836722747,1,270000005784,#NULO#,PR,96857,TO,AL
7451,2016,13,03,3,270000000812,-3,1,923,2,7,...,31444,31,002657462658,1,270000008849,#NULO#,PHS,92410,TO,PE
7452,2016,13,03,3,270000000526,-3,1,601,4,6,...,25000,25,053587241333,1,270000005514,#NULO#,DEM,73245,TO,PA
7453,2016,13,03,1,270000000824,-3,1,254,2,6,...,51234,51,031528412747,1,270000009049,#NULO#,PEN,92410,TO,CE
7454,2016,13,03,1,270000000729,-3,1,278,2,3,...,31111,31,034597032747,1,270000008034,#NULO#,PHS,93653,TO,TO
7455,2016,13,02,1,270000000526,-3,1,999,4,3,...,20333,20,038021712747,1,270000005527,#NULO#,PSC,73245,TO,TO
7456,2016,13,03,1,270000000712,-3,1,601,2,6,...,44111,44,038279912763,1,270000007804,#NULO#,PRP,73423,TO,TO
7457,2016,13,02,3,270000000289,-3,1,298,2,4,...,14444,14,031911322739,1,270000002864,#NULO#,PTB,73512,TO,TO
7458,2016,13,03,1,270000000179,-3,1,931,2,7,...,40123,40,039209622780,1,270000001479,#NULO#,PSB,92533,TO,TO
7459,2016,13,03,1,270000000588,-3,1,999,4,6,...,10456,10,039034422798,1,270000006363,#NULO#,PRB,92525,TO,TO
7460,2016,13,01,3,270000000547,-3,1,266,2,8,...,27777,27,016600262763,1,270000005806,#NULO#,PSDC,92134,TO,MG
7461,2016,13,03,3,270000000881,-3,1,169,2,4,...,15051,15,015195812739,1,270000005837,#NULO#,PMDB,94633,TO,GO
7462,2016,13,03,1,270000000882,-3,1,999,4,5,...,25123,25,034635792739,1,270000005843,#NULO#,DEM,94633,TO,TO
7463,2016,13,03,9,270000000734,-3,1,999,2,3,...,15999,15,022451762755,1,270000008068,#NULO#,PMDB,94617,TO,CE
7464,2016,13,01,1,270000000734,-3,1,257,2,4,...,15015,15,016913921520,1,270000008070,#NULO#,PMDB,94617,TO,PI
7465,2016,12,03,3,270000000590,-3,1,298,4,8,...,55,40,034252012704,1,270000006383,#NULO#,PSB,73555,TO,TO
7466,2016,11,01,1,270000000716,-3,1,111,2,8,...,25,25,041659041007,1,270000010291,#NULO#,DEM,96792,TO,GO
7467,2016,13,03,9,270000000555,-3,1,298,2,2,...,43123,43,033743202771,1,270000005918,#NULO#,PV,73512,TO,TO
7468,2016,13,02,1,270000000647,-3,1,402,2,6,...,43123,43,048802331066,1,270000007049,#NULO#,PV,73261,TO,MA
7469,2016,13,01,3,270000000599,-3,1,278,2,7,...,40000,40,032734862771,1,270000006440,#NULO#,PSB,73377,TO,TO
7470,2016,13,03,3,270000000604,-3,1,278,2,6,...,15123,15,034788412771,1,270000006501,#NULO#,PMDB,96156,TO,TO
7471,2016,13,02,3,270000000804,-3,1,171,4,8,...,51765,51,027009932798,1,270000008687,#NULO#,PEN,73440,TO,GO
7472,2016,13,02,1,270000000831,-3,1,931,4,6,...,13123,13,040320122704,1,270000009131,#NULO#,PT,92479,TO,TO
7473,2016,13,02,3,270000000739,-3,1,257,2,4,...,22444,22,032836852763,1,270000008160,#NULO#,PR,73423,TO,MA
7474,2016,11,01,3,270000000739,-3,1,275,2,8,...,11,11,033807392763,1,270000008166,#NULO#,PP,73423,TO,MA
7475,2016,13,01,1,270000000545,-3,1,606,2,3,...,14444,14,022770912771,1,270000005767,#NULO#,PTB,73598,TO,GO
7476,2016,13,01,3,270000000881,-3,1,257,2,3,...,15101,15,015219732798,1,270000005831,#NULO#,PMDB,94633,TO,TO
7477,2016,13,01,3,270000000941,-3,1,606,2,6,...,45123,45,022595862747,1,270000010001,#NULO#,PSDB,73180,TO,TO

Como o _index_ não contém não informação útil, vamos resetá-lo

In [44]:
# this index contains no useful information
cand_df.index = cand_df.reset_index().index

In [45]:
cand_df

,ANO_ELEICAO,CODIGO_CARGO,CODIGO_COR_RACA,CODIGO_ESTADO_CIVIL,CODIGO_LEGENDA,CODIGO_MUNICIPIO_NASCIMENTO,CODIGO_NACIONALIDADE,CODIGO_OCUPACAO,CODIGO_SEXO,COD_GRAU_INSTRUCAO,...,NUMERO_CANDIDATO,NUMERO_PARTIDO,NUM_TITULO_ELEITORAL_CANDIDATO,NUM_TURNO,SEQUENCIAL_CANDIDATO,SIGLA_LEGENDA,SIGLA_PARTIDO,SIGLA_UE,SIGLA_UF,SIGLA_UF_NASCIMENTO
0,2004,11,NaN,3,5,-1,1,601,2,4,...,13,13,000356682496,1,6,#NE#,PT,01120,AC,RS
1,2004,11,NaN,3,1,-1,1,601,2,3,...,14,14,000525772445,1,1,#NE#,PTB,01120,AC,AC
2,2004,11,NaN,3,12,-1,1,143,2,8,...,45,45,002053882488,1,27,#NE#,PSDB,01120,AC,PR
3,2004,12,NaN,3,7,-1,1,601,2,0,...,13,40,002817512496,1,7,#NE#,PSB,01120,AC,AC
4,2004,12,NaN,5,3,-1,1,143,2,8,...,14,14,002600402445,1,2,#NE#,PTB,01120,AC,AC
5,2004,12,NaN,3,14,-1,1,999,2,4,...,45,15,000411782470,1,28,#NE#,PMDB,01120,AC,PR
6,2004,13,NaN,3,18,-1,1,999,2,2,...,15120,15,001022542470,1,43,#NE#,PMDB,01120,AC,PR
7,2004,13,NaN,3,10,-1,1,601,2,3,...,13113,13,001750702445,1,23,#NE#,PT,01120,AC,ES
8,2004,13,NaN,3,10,-1,1,601,2,2,...,13613,13,001580082461,1,18,#NE#,PT,01120,AC,PR
9,2004,13,NaN,1,9,-1,1,999,2,4,...,43333,43,003552582461,1,8,#NE#,PV,01120,AC,RO
10,2004,13,NaN,1,2,-1,1,601,2,6,...,14014,14,003851432453,1,4,#NE#,PTB,01120,AC,AC
11,2004,13,NaN,3,10,-1,1,601,2,4,...,13456,13,002158792453,1,20,#NE#,PT,01120,AC,ES
12,2004,13,NaN,3,16,-1,1,999,4,6,...,45123,45,000968162410,1,32,#NE#,PSDB,01120,AC,PR
13,2004,13,NaN,3,18,-1,1,999,2,3,...,25555,25,002814592453,1,41,#NE#,PFL,01120,AC,PR
14,2004,13,NaN,1,18,-1,1,999,4,3,...,15123,15,020802772232,1,42,#NE#,PMDB,01120,AC,MS
15,2004,13,NaN,1,10,-1,1,227,2,3,...,13611,13,001738802410,1,19,#NE#,PT,01120,AC,PR
16,2004,13,NaN,3,16,-1,1,143,4,8,...,12345,12,001738842445,1,29,#NE#,PDT,01120,AC,PR
17,2004,13,NaN,3,16,-1,1,143,2,8,...,45678,45,002161102496,1,33,#NE#,PSDB,01120,AC,MG
18,2004,13,NaN,3,16,-1,1,999,2,6,...,45645,45,002817542437,1,34,#NE#,PSDB,01120,AC,SC
19,2004,13,NaN,1,18,-1,1,999,2,6,...,15130,15,003157012461,1,45,#NE#,PMDB,01120,AC,AC
20,2004,13,NaN,3,16,-1,1,143,2,7,...,12300,12,000764552488,1,30,#NE#,PDT,01120,AC,AM
21,2004,13,NaN,9,2,-1,1,601,2,3,...,14601,14,000924252437,1,3,#NE#,PTB,01120,AC,MA
22,2004,13,NaN,3,16,-1,1,999,2,4,...,45555,45,002817382410,1,35,#NE#,PSDB,01120,AC,BA
23,2004,13,NaN,1,18,-1,1,999,2,6,...,23456,23,002187552488,1,48,#NE#,PPS,01120,AC,AC
24,2004,13,NaN,3,9,-1,1,999,2,0,...,33222,33,003181972496,1,12,#NE#,PMN,01120,AC,AL
25,2004,13,NaN,3,10,-1,1,999,2,6,...,13333,13,000154372470,1,21,#NE#,PT,01120,AC,AC
26,2004,13,NaN,1,9,-1,1,143,2,6,...,40111,40,000405262445,1,15,#NE#,PSB,01120,AC,AC
27,2004,13,NaN,3,10,-1,1,999,2,8,...,13000,13,000612792402,1,26,#NE#,PT,01120,AC,AC
28,2004,13,NaN,1,9,-1,1,296,2,8,...,40240,40,003181562410,1,14,#NE#,PSB,01120,AC,MG
29,2004,13,NaN,3,18,-1,1,999,2,4,...,15110,15,002876952470,1,44,#NE#,PMDB,01120,AC,PR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1837229,2016,13,03,9,270000000706,-3,1,999,2,3,...,12456,12,033629232747,1,270000007727,#NULO#,PDT,96156,TO,TO
1837230,2016,13,02,1,270000000851,-3,1,512,2,6,...,36266,36,057684521198,1,270000009393,#NULO#,PTC,92410,TO,MA
1837231,2016,13,03,1,270000000546,-3,1,390,2,6,...,22123,22,032836722747,1,270000005784,#NULO#,PR,96857,TO,AL
1837232,2016,13,03,3,270000000812,-3,1,923,2,7,...,31444,31,002657462658,1,270000008849,#NULO#,PHS,92410,TO,PE
1837233,2016,13,03,3,270000000526,-3,1,601,4,6,...,25000,25,053587241333,1,270000005514,#NULO#,DEM,73245,TO,PA
1837234,2016,13,03,1,270000000824,-3,1,254,2,6,...,51234,51,031528412747,1,270000009049,#NULO#,PEN,92410,TO,CE
1837235,2016,13,03,1,270000000729,-3,1,278,2,3,...,31111,31,034597032747,1,270000008034,#NULO#,PHS,93653,TO,TO
1837236,2016,13,02,1,270000000526,-3,1,999,4,3,...,20333,20,038021712747,1,270000005527,#NULO#,PSC,73245,TO,TO
1837237,2016,13,03,1,270000000712,-3,1,601,2,6,...,44111,44,038279912763,1,270000007804,#NULO#,PRP,73423,TO,TO
1837238,2016,13,02,3,270000000289,-3,1,298,2,4,...,14444,14,031911322739,1,270000002864,#NULO#,PTB,73512,TO,TO
1837239,2016,13,03,1,270000000179,-3,1,931,2,7,...,40123,40,039209622780,1,270000001479,#NULO#,PSB,92533,TO,TO
1837240,2016,13,03,1,270000000588,-3,1,999,4,6,...,10456,10,039034422798,1,270000006363,#NULO#,PRB,92525,TO,TO
1837241,2016,13,01,3,270000000547,-3,1,266,2,8,...,27777,27,016600262763,1,270000005806,#NULO#,PSDC,92134,TO,MG
1837242,2016,13,03,3,270000000881,-3,1,169,2,4,...,15051,15,015195812739,1,270000005837,#NULO#,PMDB,94633,TO,GO
1837243,2016,13,03,1,270000000882,-3,1,999,4,5,...,25123,25,034635792739,1,270000005843,#NULO#,DEM,94633,TO,TO
1837244,2016,13,03,9,270000000734,-3,1,999,2,3,...,15999,15,022451762755,1,270000008068,#NULO#,PMDB,94617,TO,CE
1837245,2016,13,01,1,270000000734,-3,1,257,2,4,...,15015,15,016913921520,1,270000008070,#NULO#,PMDB,94617,TO,PI
1837246,2016,12,03,3,270000000590,-3,1,298,4,8,...,55,40,034252012704,1,270000006383,#NULO#,PSB,73555,TO,TO
1837247,2016,11,01,1,270000000716,-3,1,111,2,8,...,25,25,041659041007,1,270000010291,#NULO#,DEM,96792,TO,GO
1837248,2016,13,03,9,270000000555,-3,1,298,2,2,...,43123,43,033743202771,1,270000005918,#NULO#,PV,73512,TO,TO
1837249,2016,13,02,1,270000000647,-3,1,402,2,6,...,43123,43,048802331066,1,270000007049,#NULO#,PV,73261,TO,MA
1837250,2016,13,01,3,270000000599,-3,1,278,2,7,...,40000,40,032734862771,1,270000006440,#NULO#,PSB,73377,TO,TO
1837251,2016,13,03,3,270000000604,-3,1,278,2,6,...,15123,15,034788412771,1,270000006501,#NULO#,PMDB,96156,TO,TO
1837252,2016,13,02,3,270000000804,-3,1,171,4,8,...,51765,51,027009932798,1,270000008687,#NULO#,PEN,73440,TO,GO
1837253,2016,13,02,1,270000000831,-3,1,931,4,6,...,13123,13,040320122704,1,270000009131,#NULO#,PT,92479,TO,TO
1837254,2016,13,02,3,270000000739,-3,1,257,2,4,...,22444,22,032836852763,1,270000008160,#NULO#,PR,73423,TO,MA
1837255,2016,11,01,3,270000000739,-3,1,275,2,8,...,11,11,033807392763,1,270000008166,#NULO#,PP,73423,TO,MA
1837256,2016,13,01,1,270000000545,-3,1,606,2,3,...,14444,14,022770912771,1,270000005767,#NULO#,PTB,73598,TO,GO
1837257,2016,13,01,3,270000000881,-3,1,257,2,3,...,15101,15,015219732798,1,270000005831,#NULO#,PMDB,94633,TO,TO
1837258,2016,13,01,3,270000000941,-3,1,606,2,6,...,45123,45,022595862747,1,270000010001,#NULO#,PSDB,73180,TO,TO

Agora, exportaremos o conjunto completo para um super `.csv` comprimido em `xz`

In [46]:
cand_df.to_csv(
    OUTPUT_DATASET_PATH,
    encoding='utf-8',
    compression='xz',
    header=True,
    index=False)

## Tratar os Dados

### Estados

In [127]:
estados_df = cand_df[[
    'SIGLA_UF'
]].drop_duplicates('SIGLA_UF', keep='last').sort_values(by=['SIGLA_UF'], ascending=True, na_position='first')

print(estados_df)
print(estados_df.shape)

        SIGLA_UF
1342066       AC
1349338       AL
1358906       AM
1360796       AP
1397606       BA
1317068       BR
1412524       CE
1319152       DF
1423018       ES
1444280       GO
1462807       MA
1541596       MG
1548992       MS
1559423       MT
1580045       PA
1592042       PB
1611183       PE
1621381       PI
1652767       PR
1675064       RJ
1684194       RN
1688873       RO
1690662       RR
1719569       RS
1737236       SC
1743134       SE
1829780       SP
1837258       TO
(28, 1)

In [128]:
estados = pd.DataFrame({
    'sigla': [
        'AC',
        'AL',
        'AM',
        'AP',
        'BA',
        'CE',
        'DF',
        'ES',
        'GO',
        'MA',
        'MG',
        'MS',
        'MT',
        'PA',
        'PB',
        'PE',
        'PI',
        'PR',
        'RJ',
        'RN',
        'RO',
        'RR',
        'RS',
        'SC',
        'SE',
        'SP',
        'TO'
    ],
    'nome': [
        'Acre',
        'Alagoas',
        'Amazonas',
        'Amapá',
        'Bahia',
        'Ceará',
        'Distrito Federal',
        'Espírito Santos',
        'Goiás',
        'Maranhão',
        'Minas Gerais',
        'Mato Grosso do Sul',
        'Mato Grosso',
        'Pará',
        'Paraíba',
        'Pernambuco',
        'Piauí',
        'Paraná',
        'Rio de Janeiro',
        'Rio Grande do Norte',
        'Rondônia',
        'Roraima',
        'Rio Grande do Sul',
        'Santa Catarina',
        'Sergipe',
        'São Paulo',
        'Tocantins'
    ]
})

print(estados)
print(estados.shape)

                   nome sigla
0                  Acre    AC
1               Alagoas    AL
2              Amazonas    AM
3                 Amapá    AP
4                 Bahia    BA
5                 Ceará    CE
6      Distrito Federal    DF
7       Espírito Santos    ES
8                 Goiás    GO
9              Maranhão    MA
10         Minas Gerais    MG
11   Mato Grosso do Sul    MS
12          Mato Grosso    MT
13                 Pará    PA
14              Paraíba    PB
15           Pernambuco    PE
16                Piauí    PI
17               Paraná    PR
18       Rio de Janeiro    RJ
19  Rio Grande do Norte    RN
20             Rondônia    RO
21              Roraima    RR
22    Rio Grande do Sul    RS
23       Santa Catarina    SC
24              Sergipe    SE
25            São Paulo    SP
26            Tocantins    TO
(27, 2)

### Cidades

_Obs.: Foi necessário remover os últimos 28 resultados pois eles se referem a ESTADOS e não a CIDADES_

In [88]:
cidades = (
    cand_df[[
        'SIGLA_UE',
        'DESCRICAO_UE',
        'SIGLA_UF'
    ]]
    .drop_duplicates('SIGLA_UE', keep='last')
    .sort_values(by=['SIGLA_UE'], ascending=True, na_position='first')
    .rename(columns = {
        'SIGLA_UE': 'codigo_tse',
        'DESCRICAO_UE': 'nome',
        'SIGLA_UF': 'estado'
    })
)[:-28]

print(cidades.shape)
print(cidades)

(5568, 3)
        codigo_tse                       nome estado
1688797      00019              GUAJARÁ-MIRIM     RO
1688872      00035                PORTO VELHO     RO
1688864      00051                  JI-PARANÁ     RO
1688740      00078                  ARIQUEMES     RO
1688856      00094                     CACOAL     RO
1688705      00116              PIMENTA BUENO     RO
1688826      00132                    VILHENA     RO
1688704      00159                       JARU     RO
1688865      00175        OURO PRETO DO OESTE     RO
1688868      00191          PRESIDENTE MÉDICI     RO
1688812      00213              COSTA MARQUES     RO
1688866      00230          COLORADO DO OESTE     RO
1688871      00256           ESPIGÃO DO OESTE     RO
1688850      00272                 CEREJEIRAS     RO
1688821      00299             ROLIM DE MOURA     RO
1688828      00310     ALTA FLORESTA DO OESTE     RO
1688858      00337          ALVORADA DO OESTE     RO
1688504      00353       SANTA LUZIA DO OESTE     RO
1688857      00370  NOVA BRASILÂNDIA DO OESTE     RO
1688728      00396        MACHADINHO DO OESTE     RO
1688838      00418      SÃO MIGUEL DO GUAPORÉ     RO
1688873      00434                NOVA MAMORÉ     RO
1688817      00450                     CABIXI     RO
1688855      00477         CANDEIAS DO JAMARI     RO
1688804      00493            ITAPUÃ DO OESTE     RO
1688698      00515    NOVO HORIZONTE DO OESTE     RO
1688712      00531               CASTANHEIRAS     RO
1688744      00558            VALE DO PARAÍSO     RO
1688560      00566                      URUPÁ     RO
1688481      00574           MIRANTE DA SERRA     RO
...            ...                        ...    ...
1358705      98493                     UARINI     AM
1358809      98515                  TONANTINS     AM
1411686      98531                    QUIXELÔ     CE
1412125      98558                     UMIRIM     CE
1412346      98574                    VARJOTA     CE
1548683      98590           CORONEL SAPUCAIA     MS
1558664      98612               ALTO TAQUARI     MT
1559396      98639                 ARAGUAIANA     MT
1558137      98655               CAMPINÁPOLIS     MT
1558949      98671                  COCALINHO     MT
1559197      98698                     ITAÚBA     MT
1559364      98710                MARCELÂNDIA     MT
1559348      98736               NOVA OLÍMPIA     MT
1559300      98752        NOVA CANAÃ DO NORTE     MT
1558618      98779           NOVO SÃO JOAQUIM     MT
1558827      98795    NOVO HORIZONTE DO NORTE     MT
1559185      98817         PEIXOTO DE AZEVEDO     MT
1558998      98833                  PARANAÍTA     MT
1559160      98850      PORTO ALEGRE DO NORTE     MT
1559092      98876           PORTO ESPERIDIÃO     MT
1559422      98892         PRIMAVERA DO LESTE     MT
1559344      98914         RESERVA DO CABAÇAL     MT
1559388      98930                    SORRISO     MT
1559061      98957        TERRA NOVA DO NORTE     MT
1559343      98973                       VERA     MT
1559310      98990                  VILA RICA     MT
1559099      99015                   COMODORO     MT
1558211      99031      FIGUEIRÓPOLIS D'OESTE     MT
1559333      99058          GUARANTÃ DO NORTE     MT
1558907      99074                   INDIAVAÍ     MT

[5568 rows x 3 columns]

### Nacionalidades

In [124]:
nacionalidades = (
    cand_df[[
        'CODIGO_NACIONALIDADE',
        'DESCRICAO_NACIONALIDADE'
    ]]
    .drop_duplicates('CODIGO_NACIONALIDADE', keep='last')
    .sort_values(by=['CODIGO_NACIONALIDADE'], ascending=True, na_position='first')
    .rename(columns = {
        'CODIGO_NACIONALIDADE': 'codigo_tse',
        'DESCRICAO_NACIONALIDADE': 'nome'
    })
)[:-1]

print(nacionalidades.shape)
print(nacionalidades)

(5, 2)
        codigo_tse                                  nome
401701           0                         NÃO INFORMADA
1837258          1                       BRASILEIRA NATA
1836773          2             BRASILEIRA (NATURALIZADA)
1830351          3  PORTUGUESA COM IGUALDADE DE DIREITOS
1836916          4                           ESTRANGEIRO

Foi necessário remover a última entrada por se tratar de uma distorção, a entrada é incompatível com o tipo de dado:
`CODIGO_NACIONALIDADE = 'BRASILEIRA NATA'`

In [125]:
cand_df.loc[cand_df['CODIGO_NACIONALIDADE'] == 'BRASILEIRA NATA']

,ANO_ELEICAO,CODIGO_CARGO,CODIGO_COR_RACA,CODIGO_ESTADO_CIVIL,CODIGO_LEGENDA,CODIGO_MUNICIPIO_NASCIMENTO,CODIGO_NACIONALIDADE,CODIGO_OCUPACAO,CODIGO_SEXO,COD_GRAU_INSTRUCAO,...,NUMERO_CANDIDATO,NUMERO_PARTIDO,NUM_TITULO_ELEITORAL_CANDIDATO,NUM_TURNO,SEQUENCIAL_CANDIDATO,SIGLA_LEGENDA,SIGLA_PARTIDO,SIGLA_UE,SIGLA_UF,SIGLA_UF_NASCIMENTO
653018,2008,13,NaN,CASADO(A),#NE#,MANDAGUARI,BRASILEIRA NATA,"CARPINTEIRO, MARCENEIRO E ASSEMELHADOS",MASCULINO,ENSINO MÉDIO COMPLETO,...,23333,PPS,-1,1,30416,#NE#,PARTIDO POPULAR SOCIALISTA,76775,PR,-1
743740,2008,13,NaN,SEPARADO(A) JUDICIALMENTE,#NE#,LINS,BRASILEIRA NATA,APOSENTADO (EXCETO SERVIDOR PÚBLICO),FEMININO,SUPERIOR COMPLETO,...,22183,PR,-1,1,19494,#NE#,PARTIDO DA REPÚBLICA,62499,SP,-1

### Graus de Instrução

In [140]:
graus_instrucao = (
    cand_df[[
        'COD_GRAU_INSTRUCAO',
        'DESCRICAO_GRAU_INSTRUCAO'
    ]]
    .drop_duplicates('COD_GRAU_INSTRUCAO', keep='last')
    .sort_values(by=['COD_GRAU_INSTRUCAO'], ascending=True, na_position='first')
    .rename(columns = {
        'COD_GRAU_INSTRUCAO': 'codigo_tse',
        'DESCRICAO_GRAU_INSTRUCAO': 'descricao'
    })
)[:-2]

print(graus_instrucao.shape)
print(graus_instrucao)

(9, 2)
        codigo_tse                      descricao
410000           0                  NÃO INFORMADO
1790642          1                     ANALFABETO
1837248          2                   LÊ E ESCREVE
1837257          3  ENSINO FUNDAMENTAL INCOMPLETO
1837254          4    ENSINO FUNDAMENTAL COMPLETO
1837243          5        ENSINO MÉDIO INCOMPLETO
1837258          6          ENSINO MÉDIO COMPLETO
1837250          7            SUPERIOR INCOMPLETO
1837255          8              SUPERIOR COMPLETO

Foi necessário remover as duas últimas entrada por se tratar de uma distorção, a entrada é incompatível com o tipo de dado. Foram as mesmas entradas que deram problema na etapa de nacionalidade

In [138]:
cand_df.loc[cand_df['COD_GRAU_INSTRUCAO'] == 'ENSINO MÉDIO COMPLETO']

,ANO_ELEICAO,CODIGO_CARGO,CODIGO_COR_RACA,CODIGO_ESTADO_CIVIL,CODIGO_LEGENDA,CODIGO_MUNICIPIO_NASCIMENTO,CODIGO_NACIONALIDADE,CODIGO_OCUPACAO,CODIGO_SEXO,COD_GRAU_INSTRUCAO,...,NUMERO_CANDIDATO,NUMERO_PARTIDO,NUM_TITULO_ELEITORAL_CANDIDATO,NUM_TURNO,SEQUENCIAL_CANDIDATO,SIGLA_LEGENDA,SIGLA_PARTIDO,SIGLA_UE,SIGLA_UF,SIGLA_UF_NASCIMENTO
653018,2008,13,NaN,CASADO(A),#NE#,MANDAGUARI,BRASILEIRA NATA,"CARPINTEIRO, MARCENEIRO E ASSEMELHADOS",MASCULINO,ENSINO MÉDIO COMPLETO,...,23333,PPS,-1,1,30416,#NE#,PARTIDO POPULAR SOCIALISTA,76775,PR,-1

In [139]:
cand_df.loc[cand_df['COD_GRAU_INSTRUCAO'] == 'SUPERIOR COMPLETO']

,ANO_ELEICAO,CODIGO_CARGO,CODIGO_COR_RACA,CODIGO_ESTADO_CIVIL,CODIGO_LEGENDA,CODIGO_MUNICIPIO_NASCIMENTO,CODIGO_NACIONALIDADE,CODIGO_OCUPACAO,CODIGO_SEXO,COD_GRAU_INSTRUCAO,...,NUMERO_CANDIDATO,NUMERO_PARTIDO,NUM_TITULO_ELEITORAL_CANDIDATO,NUM_TURNO,SEQUENCIAL_CANDIDATO,SIGLA_LEGENDA,SIGLA_PARTIDO,SIGLA_UE,SIGLA_UF,SIGLA_UF_NASCIMENTO
743740,2008,13,NaN,SEPARADO(A) JUDICIALMENTE,#NE#,LINS,BRASILEIRA NATA,APOSENTADO (EXCETO SERVIDOR PÚBLICO),FEMININO,SUPERIOR COMPLETO,...,22183,PR,-1,1,19494,#NE#,PARTIDO DA REPÚBLICA,62499,SP,-1

### Ocupações

In [144]:
ocupacoes = (
    cand_df[[
        'CODIGO_OCUPACAO',
        'DESCRICAO_OCUPACAO'
    ]]
    .drop_duplicates('CODIGO_OCUPACAO', keep='last')
    .sort_values(by=['CODIGO_OCUPACAO'], ascending=True, na_position='first')
    .rename(columns = {
        'CODIGO_OCUPACAO': 'codigo_tse',
        'DESCRICAO_OCUPACAO': 'descricao'
    })
)[:-2]

print(ocupacoes.shape)
print(ocupacoes)

(260, 2)
        codigo_tse                                          descricao
401787           0                                      NÃO INFORMADA
1836784        101                                         ENGENHEIRO
1834397        102                                          ARQUITETO
1836343        103                                           AGRÔNOMO
1829197        104                                            QUÍMICO
1792908        106                                             FÍSICO
1807883        107                                            GEÓLOGO
1837224        109                      AGENTE DE SAÚDE E SANITARISTA
1834161        110                                      AGENTE POSTAL
1837247        111                                             MÉDICO
1836577        112                                        VETERINÁRIO
1837189        113                                         ENFERMEIRO
1836494        114             FISIOTERAPEUTA E TERAPEUTA OCUPACIONAL
1837053        115                                         ODONTÓLOGO
397149         116                                BIOLOGO E BIOMEDICO
1836764        117                                       FARMACÊUTICO
1833906        118                                      FONOAUDIÓLOGO
1835086        119                                         ALMOXARIFE
1684693        120                                        ANTROPÓLOGO
1834021        121                                         ECONOMISTA
1818473        122                                        ESTATÍSTICO
1830498        123                               MATEMÁTICO E ATUÁRIO
1837204        124                                           CONTADOR
1837210        125                                      ADMINISTRADOR
1836148        126                               ANALISTA DE SISTEMAS
1823811        127                                           GEÓGRAFO
1835633        128                                          ASTRÔNOMO
1836507        129                                            ARTESÃO
1828009        130                                   ARTISTA DE CIRCO
1837172        131                                           ADVOGADO
...            ...                                                ...
1837237        601                                         AGRICULTOR
1837124        602                                         PECUARISTA
1822482        603                              TRABALHADOR FLORESTAL
1837214        604                                           PESCADOR
1718626        605                                         GARIMPEIRO
1837258        606                                  TRABALHADOR RURAL
1833795        701                MESTRE E CONTRAMESTRE DE EMBARCAÇÃO
1836752        702       OPERADOR DE APARELHOS DE PRODUÇÃO INDUSTRIAL
1837223        703                         ELETRICISTA E ASSEMELHADOS
1826885        704  TRABALHADOR EM ATIVIDADE DE PROCESSAMENTO QUÍMICO
1828657        705                TRABALHADOR DE FABRICAÇÃO DE ROUPAS
1707986        706  TRABALHADOR DE TRATAMENTO DE FUMO E DE FABRICA...
1829348        707              TRABALHADOR METALÚRGICO E SIDERÚRGICO
1824370        708                  TRABALHADOR DE USINAGEM DE METAIS
1837179        709                    TRABALHADOR DE CONSTRUÇÃO CIVIL
1830087        710  TRABALHADOR DE FABRICAÇÃO E PREPARAÇÃO DE ALIM...
1835503        711                      TRABALHADOR DE ARTES GRÁFICAS
1827395        712  TRABALHADOR DE FABRICAÇÃO DE PRODUTOS TÊXTEIS ...
1837022        713             CARPINTEIRO, MARCENEIRO E ASSEMELHADOS
1829162        714       TRABALHADOR DE FABRICAÇÃO DE PAPEL E PAPELÃO
1828894        715  TRABALHADOR DE FABRICAÇÃO DE CALÇADOS E ARTEFA...
1819779        716  TRABALHADOR DE FABRICAÇÃO DE PRODUTOS DE BORRA...
1746530        717                                JOALHEIRO E OURIVES
1836931        907                  CAPITALISTA DE ATIVOS FINANCEIROS
1837044        910    SACERDOTE OU MEMBRO DE ORDEM OU SEITA RELIGIOSA
1836970        921                                  MILITAR REFORMADO
1836584        922                  SERVIDOR PÚBLICO CIVIL APOSENTADO
1837232        923               APOSENTADO (EXCETO SERVIDOR PÚBLICO)
1837253        931     ESTUDANTE, BOLSISTA, ESTAGIÁRIO E ASSEMELHADOS
1837244        999                                             OUTROS

[260 rows x 2 columns]

Foi necessário remover as duas últimas entrada por se tratar de uma distorção, a entrada é incompatível com o tipo de dado.

In [157]:
cand_df.loc[cand_df['DESCRICAO_OCUPACAO'] == '18-DEC-50']

,ANO_ELEICAO,CODIGO_CARGO,CODIGO_COR_RACA,CODIGO_ESTADO_CIVIL,CODIGO_LEGENDA,CODIGO_MUNICIPIO_NASCIMENTO,CODIGO_NACIONALIDADE,CODIGO_OCUPACAO,CODIGO_SEXO,COD_GRAU_INSTRUCAO,...,NUMERO_CANDIDATO,NUMERO_PARTIDO,NUM_TITULO_ELEITORAL_CANDIDATO,NUM_TURNO,SEQUENCIAL_CANDIDATO,SIGLA_LEGENDA,SIGLA_PARTIDO,SIGLA_UE,SIGLA_UF,SIGLA_UF_NASCIMENTO
743740,2008,13,NaN,SEPARADO(A) JUDICIALMENTE,#NE#,LINS,BRASILEIRA NATA,APOSENTADO (EXCETO SERVIDOR PÚBLICO),FEMININO,SUPERIOR COMPLETO,...,22183,PR,-1,1,19494,#NE#,PARTIDO DA REPÚBLICA,62499,SP,-1

In [143]:
cand_df.loc[cand_df['DESCRICAO_OCUPACAO'] == '29-DEC-69']

,ANO_ELEICAO,CODIGO_CARGO,CODIGO_COR_RACA,CODIGO_ESTADO_CIVIL,CODIGO_LEGENDA,CODIGO_MUNICIPIO_NASCIMENTO,CODIGO_NACIONALIDADE,CODIGO_OCUPACAO,CODIGO_SEXO,COD_GRAU_INSTRUCAO,...,NUMERO_CANDIDATO,NUMERO_PARTIDO,NUM_TITULO_ELEITORAL_CANDIDATO,NUM_TURNO,SEQUENCIAL_CANDIDATO,SIGLA_LEGENDA,SIGLA_PARTIDO,SIGLA_UE,SIGLA_UF,SIGLA_UF_NASCIMENTO
653018,2008,13,NaN,CASADO(A),#NE#,MANDAGUARI,BRASILEIRA NATA,"CARPINTEIRO, MARCENEIRO E ASSEMELHADOS",MASCULINO,ENSINO MÉDIO COMPLETO,...,23333,PPS,-1,1,30416,#NE#,PARTIDO POPULAR SOCIALISTA,76775,PR,-1

### Eleições

In [146]:
eleicoes = (
    cand_df[[
        'ANO_ELEICAO',
        'DESCRICAO_ELEICAO'
    ]]
    .drop_duplicates('DESCRICAO_ELEICAO', keep='last')
    .sort_values(by=['ANO_ELEICAO'], ascending=True, na_position='first')
    .rename(columns = {
        'ANO_ELEICAO': 'ano',
        'DESCRICAO_ELEICAO': 'descricao'
    })
)

print(eleicoes.shape)
print(eleicoes)

(201, 2)
          ano                               descricao
401788   2004                           ELEICOES 2004
422578   2006                           ELEICOES 2006
578196   2008                  ELEIÇÕES SUPLEMENTARES
800173   2008                              PLEBISCITO
807094   2008                           ELEIÇÕES 2008
807109   2008             ELEIÇÕES SUPLEMENTARES 2008
829686   2010                           ELEIÇÕES 2010
1200422  2012              MAJORITÁRIA - PEDRAS ALTAS
1200426  2012                   MAJORITÁRIA - TAQUARI
1200434  2012         MAJORITÁRIA - EUGÊNIO DE CASTRO
1200437  2012                   MAJORITÁRIA - ERECHIM
1200440  2012             MAJORITÁRIA - NOVO HAMBURGO
1200444  2012    MAJORITÁRIA - MAXIMILIANO DE ALMEIDA
1200456  2012          MAJORITÁRIA - SÃO JOSÉ DO OURO
1200452  2012      MAJORITÁRIA - SÃO JOSÉ DAS MISSÕES
1200418  2012                MAJORITÁRIA - SOBRADINHO
1200464  2012           MAJORITÁRIA - AUGUSTO PESTANA
1200468  2012                   MAJORITÁRIA - TUPANDI
1200472  2012     MAJORITÁRIA - DEZESSEIS DE NOVEMBRO
1200448  2012             MAJORITÁRIA - DOM FELICIANO
1200413  2012                 MAJORITÁRIA - TUCUNDUVA
1200399  2012                   MAJORITÁRIA - TRIUNFO
1200405  2012                   MAJORITÁRIA - COLINAS
1200403  2012       MAJORITÁRIA - FORTALEZA DOS VALOS
1200476  2012      MAJORITÁRIA - ALM TAMANDARÉ DO SUL
1164311  2012          ELEIÇÃO SUPLEMENTAR MOSSORÓ-RN
1163897  2012  ELEIÇÃO MAJ_CAIÇARA DO RIO DO VENTO/RN
1163675  2012      ELEIÇÃO SUPLEMENTAR DE PASSAGEM-RN
1163673  2012     ELEIÇÃO SUPLEMENTAR - PEDRA GRANDE
1163672  2012    ELEIÇÃO SUPLEMENTAR DE LUÍS GOMES-RN
...       ...                                     ...
1836948  2016          Eleição Suplementar Itacajá-TO
1358555  2016    Eleição Suplementar Novo Aripuanã-AM
1360751  2016      Eleição Suplementar de Calçoene-AP
1418995  2016      Eleição Suplementar de Fundão (ES)
1422992  2016          Eleição Suplementar Muqui (ES)
1443362  2016    Eleição Suplementar - Petrolina (GO)
1510569  2016            Eleição Suplementar Jordânia
1521265  2016   Eleição Suplementar Alvorada de Minas
1521714  2016   Eleição Suplementar Ibitiúra de Minas
1523169  2016     Eleição Sup. Conceição do Rio Verde
1526651  2016             Eleição Suplementar Ervália
1533169  2016       Eleição Suplementar Campo Florido
1534815  2016     Eleição Suplementar Cristiano Otoni
1611069  2016          Eleição Suplementar Ipojuca PE
1536523  2016   Eleição Suplementar Santana da Vargem
1539325  2016              Eleição Suplementar Canaã
1539864  2016     Eleição Suplementar São Bento Abade
1539868  2016           Eleição Suplementar Ibiracatu
1541387  2016          Eleição Suplementar Campo Azul
1541404  2016  Eleição Suplementar Santa Cruz Salinas
1541405  2016           Eleição Suplementar Ibituruna
1541451  2016        Eleição Suplementar Antonio Dias
1547520  2016              ELEIÇÃO SUPLEMENTAR TACURU
1555884  2016           Conquista D'Oeste-MT-Mar/2017
1557754  2016  Eleição Suplementar Primavera do Leste
1558664  2016                Alto Taquari-MT-Jul-2017
1559070  2016    Eleição Suplementar Mirassol D'Oeste
1577224  2016         Eleição Suplementar de Tomé-Açu
1538804  2016          Eleição Suplementar Guaraciama
1837258  2016                Eleições Municipais 2016

[201 rows x 2 columns]

### Cargos

In [152]:
cargos = (
    cand_df[[
        'CODIGO_CARGO',
        'DESCRICAO_CARGO'
    ]]
    .drop_duplicates('CODIGO_CARGO', keep='last')
    .sort_values(by=['CODIGO_CARGO'], ascending=True, na_position='first')
    .rename(columns = {
        'CODIGO_CARGO': 'codigo_tse',
        'DESCRICAO_CARGO': 'descricao'
    })
)[:-1]

print(cargos.shape)
print(cargos)

(13, 2)
        codigo_tse           descricao
1317068          1          PRESIDENTE
1339752         10         2º SUPLENTE
1837255         11            PREFEITO
1837246         12       VICE-PREFEITO
1837258         13            VEREADOR
1317066          2     VICE-PRESIDENTE
1339715          3          GOVERNADOR
1339703          4     VICE-GOVERNADOR
1339717          5             SENADOR
1339756          6    DEPUTADO FEDERAL
1339755          7   DEPUTADO ESTADUAL
1319152          8  DEPUTADO DISTRITAL
1339685          9         1º SUPLENTE

A última entrada foi removida da lista de cargos pois se refere a perguntas realizadas em plebiscitos

In [153]:
cand_df.loc[cand_df['CODIGO_CARGO'] == '91'][['DESCRICAO_CARGO']].values

array([['VOCÊ É A FAVOR | DA CRIAÇÃO DO MUNICÍPIO DE | EXTREMA DE RONDÔNIA?'],
       ['VOCÊ É A FAVOR | DA CRIAÇÃO DO MUNICÍPIO DE | EXTREMA DE RONDÔNIA?'],
       ['VOCÊ É A FAVOR DA | ALTERAÇÃO DO NOME | DA CIDADE DE EMBU" | PARA "EMBU DAS ARTES"?"'],
       ['VOCÊ É A FAVOR DA | ALTERAÇÃO DO NOME | DA CIDADE DE EMBU" | PARA "EMBU DAS ARTES"?"']],
      dtype=object)

### Partidos

In [155]:
partidos = (
    cand_df[[
        'NUMERO_PARTIDO',
        'SIGLA_PARTIDO',
        'NOME_PARTIDO'
    ]]
    .drop_duplicates('NUMERO_PARTIDO', keep='last')
    .sort_values(by=['NUMERO_PARTIDO'], ascending=True, na_position='first')
    .rename(columns = {
        'NUMERO_PARTIDO': 'numero',
        'SIGLA_PARTIDO': 'sigla',
        'NOME_PARTIDO': 'nome',
    })
)[:-2]

print(partidos.shape)
print(partidos)

(37, 3)
        numero    sigla                                            nome
1837240     10      PRB                  PARTIDO REPUBLICANO BRASILEIRO
1837255     11       PP                            PARTIDO PROGRESSISTA
1837229     12      PDT                 PARTIDO DEMOCRÁTICO TRABALHISTA
1837253     13       PT                       PARTIDO DOS TRABALHADORES
1837256     14      PTB                  PARTIDO TRABALHISTA BRASILEIRO
1837257     15     PMDB     PARTIDO DO MOVIMENTO DEMOCRÁTICO BRASILEIRO
1824733     16     PSTU  PARTIDO SOCIALISTA DOS TRABALHADORES UNIFICADO
1837217     17      PSL                          PARTIDO SOCIAL LIBERAL
1836945     18     REDE                           REDE SUSTENTABILIDADE
1837140     19      PTN                    PARTIDO TRABALHISTA NACIONAL
1837236     20      PSC                          PARTIDO SOCIAL CRISTÃO
1830854     21      PCB                    PARTIDO COMUNISTA BRASILEIRO
1837254     22       PR                            PARTIDO DA REPÚBLICA
1837197     23      PPS                      PARTIDO POPULAR SOCIALISTA
1837247     25      DEM                                      DEMOCRATAS
422547      26      PAN                PARTIDO DOS APOSENTADOS DA NAÇÃO
1837241     27     PSDC                PARTIDO SOCIAL DEMOCRATA CRISTÃO
1837219     28     PRTB        PARTIDO RENOVADOR TRABALHISTA BRASILEIRO
1829488     29      PCO                       PARTIDO DA CAUSA OPERÁRIA
1829030     30     NOVO                                    PARTIDO NOVO
1837235     31      PHS              PARTIDO HUMANISTA DA SOLIDARIEDADE
1837143     33      PMN                 PARTIDO DA MOBILIZAÇÃO NACIONAL
1836309     35      PMB                    PARTIDO DA MULHER BRASILEIRA
1837230     36      PTC                     PARTIDO TRABALHISTA CRISTÃO
1837250     40      PSB                   PARTIDO SOCIALISTA BRASILEIRO
1837249     43       PV                                   PARTIDO VERDE
1837237     44      PRP                PARTIDO REPUBLICANO PROGRESSISTA
1837258     45     PSDB         PARTIDO DA SOCIAL DEMOCRACIA BRASILEIRA
1837210     50     PSOL                  PARTIDO SOCIALISMO E LIBERDADE
1837252     51      PEN                      PARTIDO ECOLÓGICO NACIONAL
1836967     54      PPL                            PARTIDO PÁTRIA LIVRE
1837214     55      PSD                      PARTIDO SOCIAL DEMOCRÁTICO
422365      56    PRONA       PARTIDO DE REEDIFICAÇÃO DA ORDEM NACIONAL
1836869     65  PC do B                     PARTIDO COMUNISTA DO BRASIL
1836365     70  PT do B                   PARTIDO TRABALHISTA DO BRASIL
1837203     77       SD                                   SOLIDARIEDADE
1837221     90     PROS             PARTIDO REPUBLICANO DA ORDEM SOCIAL

Foi necessário remover as duas últimas entrada por se tratar de uma distorção, a entrada é incompatível com o tipo de dado.

In [158]:
cand_df.loc[cand_df['NUMERO_PARTIDO'] == 'PPS']

,ANO_ELEICAO,CODIGO_CARGO,CODIGO_COR_RACA,CODIGO_ESTADO_CIVIL,CODIGO_LEGENDA,CODIGO_MUNICIPIO_NASCIMENTO,CODIGO_NACIONALIDADE,CODIGO_OCUPACAO,CODIGO_SEXO,COD_GRAU_INSTRUCAO,...,NUMERO_CANDIDATO,NUMERO_PARTIDO,NUM_TITULO_ELEITORAL_CANDIDATO,NUM_TURNO,SEQUENCIAL_CANDIDATO,SIGLA_LEGENDA,SIGLA_PARTIDO,SIGLA_UE,SIGLA_UF,SIGLA_UF_NASCIMENTO
653018,2008,13,NaN,CASADO(A),#NE#,MANDAGUARI,BRASILEIRA NATA,"CARPINTEIRO, MARCENEIRO E ASSEMELHADOS",MASCULINO,ENSINO MÉDIO COMPLETO,...,23333,PPS,-1,1,30416,#NE#,PARTIDO POPULAR SOCIALISTA,76775,PR,-1

In [159]:
cand_df.loc[cand_df['NUMERO_PARTIDO'] == 'PR']

,ANO_ELEICAO,CODIGO_CARGO,CODIGO_COR_RACA,CODIGO_ESTADO_CIVIL,CODIGO_LEGENDA,CODIGO_MUNICIPIO_NASCIMENTO,CODIGO_NACIONALIDADE,CODIGO_OCUPACAO,CODIGO_SEXO,COD_GRAU_INSTRUCAO,...,NUMERO_CANDIDATO,NUMERO_PARTIDO,NUM_TITULO_ELEITORAL_CANDIDATO,NUM_TURNO,SEQUENCIAL_CANDIDATO,SIGLA_LEGENDA,SIGLA_PARTIDO,SIGLA_UE,SIGLA_UF,SIGLA_UF_NASCIMENTO
743740,2008,13,NaN,SEPARADO(A) JUDICIALMENTE,#NE#,LINS,BRASILEIRA NATA,APOSENTADO (EXCETO SERVIDOR PÚBLICO),FEMININO,SUPERIOR COMPLETO,...,22183,PR,-1,1,19494,#NE#,PARTIDO DA REPÚBLICA,62499,SP,-1

### Sitações de Candidatura

In [165]:
situacoes_candidatura = (
    cand_df[[
        'COD_SITUACAO_CANDIDATURA',
        'DES_SITUACAO_CANDIDATURA'
    ]]
    .drop_duplicates('COD_SITUACAO_CANDIDATURA', keep='last')
    .sort_values(by=['COD_SITUACAO_CANDIDATURA'], ascending=True, na_position='first')
    .rename(columns = {
        'COD_SITUACAO_CANDIDATURA': 'codigo_tse',
        'DES_SITUACAO_CANDIDATURA': 'descricao'
    })
)[:-1]

print(situacoes_candidatura.shape)
print(situacoes_candidatura)

(15, 2)
        codigo_tse                   descricao
1826796         10                     CASSADO
616879          11                   IMPUGNADO
1836321         13  NÃO CONHECIMENTO DO PEDIDO
1837252         14                  INDEFERIDO
1837030         16        DEFERIDO COM RECURSO
1805071         17      PENDENTE DE JULGAMENTO
1828962         18         CASSADO COM RECURSO
1684173         19       CANCELADO COM RECURSO
1837258          2                    DEFERIDO
1836955          4      INDEFERIDO COM RECURSO
1836637          5                   CANCELADO
1837240          6                    RENÚNCIA
1836293          7                    FALECIDO
1200484          8       AGUARDANDO JULGAMENTO
806347           9                  INELEGÍVEL

Foi necessário remover a última entrada por se tratar de uma distorção, a entrada é incompatível com o tipo de dado.

In [163]:
cand_df.loc[cand_df['COD_SITUACAO_CANDIDATURA'] == 'DEFERIDO']

,ANO_ELEICAO,CODIGO_CARGO,CODIGO_COR_RACA,CODIGO_ESTADO_CIVIL,CODIGO_LEGENDA,CODIGO_MUNICIPIO_NASCIMENTO,CODIGO_NACIONALIDADE,CODIGO_OCUPACAO,CODIGO_SEXO,COD_GRAU_INSTRUCAO,...,NUMERO_CANDIDATO,NUMERO_PARTIDO,NUM_TITULO_ELEITORAL_CANDIDATO,NUM_TURNO,SEQUENCIAL_CANDIDATO,SIGLA_LEGENDA,SIGLA_PARTIDO,SIGLA_UE,SIGLA_UF,SIGLA_UF_NASCIMENTO
653018,2008,13,NaN,CASADO(A),#NE#,MANDAGUARI,BRASILEIRA NATA,"CARPINTEIRO, MARCENEIRO E ASSEMELHADOS",MASCULINO,ENSINO MÉDIO COMPLETO,...,23333,PPS,-1,1,30416,#NE#,PARTIDO POPULAR SOCIALISTA,76775,PR,-1
743740,2008,13,NaN,SEPARADO(A) JUDICIALMENTE,#NE#,LINS,BRASILEIRA NATA,APOSENTADO (EXCETO SERVIDOR PÚBLICO),FEMININO,SUPERIOR COMPLETO,...,22183,PR,-1,1,19494,#NE#,PARTIDO DA REPÚBLICA,62499,SP,-1

### Resultados de Candidatura

In [181]:
resultados_candidatura = (
    cand_df[[
        'COD_SIT_TOT_TURNO',
        'DESC_SIT_TOT_TURNO'
    ]]
    .drop_duplicates('COD_SIT_TOT_TURNO', keep='last')
    .sort_values(by=['COD_SIT_TOT_TURNO'], ascending=True, na_position='first')
    .rename(columns = {
        'COD_SIT_TOT_TURNO': 'codigo_tse',
        'DESC_SIT_TOT_TURNO': 'sigla'
    })
)[3:15]

print(resultados_candidatura.shape)
print(resultados_candidatura)

(12, 2)
        codigo_tse                                         sigla
1837255          1                                        ELEITO
826076          10                                   SUBSTITUÍDO
829630          11                        INDEFERIDO COM RECURSO
807433          12                           CASSADO COM RECURSO
1837251          2                                 ELEITO POR QP
1837219          3                              ELEITO POR MÉDIA
1837246          4                                    NÃO ELEITO
1837258          5                                      SUPLENTE
1829480          6                                      2º TURNO
825631           7  RENÚNCIA/FALECIMENTO/CASSAÇÃO APÓS A ELEIÇÃO
829639           8              REGISTRO NEGADO ANTES DA ELEIÇÃO
820781           9                REGISTRO NEGADO APÓS A ELEIÇÃO

Além das entradas problemáticas, neste caso temos algumas situações:

- Campos preenchidos com '#NULO' significam que a informação está em branco no banco de dados. O correspondente para '#NULO' nos campos numéricos é '-1';
- Campos preenchidos com '#NE' significam que naquele ano a informação não era registrada em banco de dados pelos sistemas eleitorais. O correspondente para #NE nos campos numéricos é '-3';

In [173]:
cand_df.loc[cand_df['COD_SIT_TOT_TURNO'] == 'NaN']

Empty DataFrame
Columns: [ANO_ELEICAO, CODIGO_CARGO, CODIGO_COR_RACA, CODIGO_ESTADO_CIVIL, CODIGO_LEGENDA, CODIGO_MUNICIPIO_NASCIMENTO, CODIGO_NACIONALIDADE, CODIGO_OCUPACAO, CODIGO_SEXO, COD_GRAU_INSTRUCAO, COD_SITUACAO_CANDIDATURA, COD_SIT_TOT_TURNO, COMPOSICAO_LEGENDA, CPF_CANDIDATO, DATA_GERACAO, DATA_NASCIMENTO, DESCRICAO_CARGO, DESCRICAO_COR_RACA, DESCRICAO_ELEICAO, DESCRICAO_ESTADO_CIVIL, DESCRICAO_GRAU_INSTRUCAO, DESCRICAO_NACIONALIDADE, DESCRICAO_OCUPACAO, DESCRICAO_SEXO, DESCRICAO_UE, DESC_SIT_TOT_TURNO, DESPESA_MAX_CAMPANHA, DES_SITUACAO_CANDIDATURA, HORA_GERACAO, IDADE_DATA_ELEICAO, NM_EMAIL, NOME_CANDIDATO, NOME_LEGENDA, NOME_MUNICIPIO_NASCIMENTO, NOME_PARTIDO, NOME_URNA_CANDIDATO, NUMERO_CANDIDATO, NUMERO_PARTIDO, NUM_TITULO_ELEITORAL_CANDIDATO, NUM_TURNO, SEQUENCIAL_CANDIDATO, SIGLA_LEGENDA, SIGLA_PARTIDO, SIGLA_UE, SIGLA_UF, SIGLA_UF_NASCIMENTO]
Index: []

[0 rows x 46 columns]

In [171]:
cand_df.loc[cand_df['COD_SIT_TOT_TURNO'] == '-1']

,ANO_ELEICAO,CODIGO_CARGO,CODIGO_COR_RACA,CODIGO_ESTADO_CIVIL,CODIGO_LEGENDA,CODIGO_MUNICIPIO_NASCIMENTO,CODIGO_NACIONALIDADE,CODIGO_OCUPACAO,CODIGO_SEXO,COD_GRAU_INSTRUCAO,...,NUMERO_CANDIDATO,NUMERO_PARTIDO,NUM_TITULO_ELEITORAL_CANDIDATO,NUM_TURNO,SEQUENCIAL_CANDIDATO,SIGLA_LEGENDA,SIGLA_PARTIDO,SIGLA_UE,SIGLA_UF,SIGLA_UF_NASCIMENTO
3,2004,12,NaN,3,7,-1,1,601,2,0,...,13,40,002817512496,1,7,#NE#,PSB,01120,AC,AC
4,2004,12,NaN,5,3,-1,1,143,2,8,...,14,14,002600402445,1,2,#NE#,PTB,01120,AC,AC
5,2004,12,NaN,3,14,-1,1,999,2,4,...,45,15,000411782470,1,28,#NE#,PMDB,01120,AC,PR
14,2004,13,NaN,1,18,-1,1,999,4,3,...,15123,15,020802772232,1,42,#NE#,PMDB,01120,AC,MS
30,2004,13,NaN,1,9,-1,1,999,2,6,...,40640,40,001867852470,1,17,#NE#,PSB,01120,AC,PR
38,2004,13,NaN,3,10,-1,1,999,2,3,...,13124,13,002815132437,1,22,#NE#,PT,01120,AC,PR
43,2004,13,NaN,3,18,-1,1,999,2,3,...,25678,25,002463832305,1,39,#NE#,PFL,01120,AC,MG
51,2004,12,NaN,3,5,-1,1,297,2,6,...,13,40,000141032488,1,34,#NE#,PSB,01570,AC,AC
52,2004,12,NaN,3,2,-1,1,143,4,6,...,23,25,000139702402,1,11,#NE#,PFL,01570,AC,AC
83,2004,13,NaN,1,3,-1,1,581,4,4,...,25678,25,001773602470,1,19,#NE#,PFL,01570,AC,AC
88,2004,12,NaN,3,12,-1,1,293,2,6,...,13,40,001370132488,1,67,#NE#,PSB,01058,AC,AC
89,2004,12,NaN,3,19,-1,1,143,4,7,...,15,22,000126802429,1,83,#NE#,PL,01058,AC,AC
93,2004,13,NaN,9,39,-1,1,143,2,8,...,40555,40,001355862445,1,197,#NE#,PSB,01058,AC,AC
99,2004,13,NaN,1,22,-1,1,531,2,3,...,25111,25,002125952410,1,125,#NE#,PFL,01058,AC,AC
119,2004,13,NaN,1,20,-1,1,531,2,6,...,22555,22,002953812410,1,92,#NE#,PL,01058,AC,AC
123,2004,13,NaN,1,21,-1,1,601,4,3,...,45234,45,001756232402,1,105,#NE#,PSDB,01058,AC,PR
125,2004,13,NaN,1,21,-1,1,999,2,3,...,45602,45,001757142488,1,107,#NE#,PSDB,01058,AC,AC
145,2004,13,NaN,3,37,-1,1,999,4,7,...,13131,13,000124042445,1,212,#NE#,PT,01058,AC,AC
154,2004,13,NaN,1,20,-1,1,601,2,3,...,22111,22,000036542445,1,85,#NE#,PL,01058,AC,AC
161,2004,13,NaN,1,39,-1,1,169,2,4,...,40888,40,000455862453,1,207,#NE#,PSB,01058,AC,AC
170,2004,12,NaN,3,5,-1,1,169,2,3,...,15,23,001971312402,1,17,#NE#,PPS,01007,AC,AC
171,2004,12,NaN,1,16,-1,1,234,2,3,...,13,22,000708532445,1,40,#NE#,PL,01007,AC,GO
172,2004,12,NaN,3,11,-1,1,297,2,2,...,27,25,001469042453,1,23,#NE#,PFL,01007,AC,AC
185,2004,13,NaN,1,12,-1,1,532,2,3,...,27555,27,001943222470,1,31,#NE#,PSDC,01007,AC,AC
197,2004,13,NaN,3,12,-1,1,601,2,3,...,45678,45,000243732461,1,37,#NE#,PSDB,01007,AC,AC
201,2004,13,NaN,3,6,-1,1,601,2,2,...,15234,15,003663512453,1,5,#NE#,PMDB,01007,AC,AC
239,2004,12,NaN,3,35,-1,1,922,4,4,...,23,15,000708122470,1,94,#NE#,PMDB,01015,AC,ES
240,2004,12,NaN,1,29,-1,1,601,2,3,...,14,27,002989842402,1,76,#NE#,PSDC,01015,AC,BA
241,2004,12,NaN,9,22,-1,1,297,2,6,...,65,13,001563542488,1,51,#NE#,PT,01015,AC,AC
242,2004,12,NaN,3,40,-1,1,298,2,3,...,45,45,002302342496,1,108,#NE#,PSDB,01015,AC,AC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1836659,2016,13,03,1,270000000465,-3,1,999,4,6,...,14999,14,036234422771,1,270000004764,#NULO#,PTB,96636,TO,TO
1836660,2016,13,03,1,270000000453,-3,1,999,2,3,...,65123,65,018698892712,1,270000004672,#NULO#,PC do B,95192,TO,TO
1836686,2016,13,01,9,270000000746,-3,1,394,4,6,...,25123,25,023951452712,1,270000008233,#NULO#,DEM,96431,TO,MA
1836692,2016,13,02,1,270000000667,-3,1,606,2,3,...,28000,28,023367772763,1,270000007284,#NULO#,PRTB,73270,TO,TO
1836750,2016,13,03,1,270000000830,-3,1,999,4,6,...,77000,77,040840902755,1,270000009190,#NULO#,SD,73172,TO,TO
1836754,2016,13,03,3,270000000808,-3,1,581,4,3,...,31321,31,031204272798,1,270000008756,#NULO#,PHS,73440,TO,TO
1836759,2016,13,02,1,270000000714,-3,1,931,4,6,...,44555,44,037569562720,1,270000007838,#NULO#,PRP,94692,TO,GO
1836764,2016,13,01,3,270000000850,-3,1,117,2,8,...,10010,10,016454521899,1,270000009357,#NULO#,PRB,92410,TO,GO
1836779,2016,13,03,3,270000000186,-3,1,257,2,6,...,20123,20,034389322763,1,270000001599,#NULO#,PSC,73504,TO,GO
1836786,2016,13,03,1,270000000645,-3,1,601,2,3,...,55555,55,024746142720,1,270000007008,#NULO#,PSD,73326,TO,TO
1836833,2016,13,03,3,270000000252,-3,1,999,2,6,...,40777,40,015212882720,1,270000002339,#NULO#,PSB,73407,TO,MG
1836847,2016,13,03,9,270000000249,-3,1,265,4,8,...,20123,20,014872342704,1,270000002295,#NULO#,PSC,95478,TO,TO
1836882,2016,13,03,3,270000000365,-3,1,169,4,4,...,13013,13,348290400132,1,270000003803,#NULO#,PT,73431,TO,MA
1836888,2016,13,03,3,270000000739,-3,1,278,2,6,...,11123,11,025528812755,1,270000008161,#NULO#,PP,73423,TO,PI
1836968,2016,13,02,1,270000000537,-3,1,999,2,6,...,19999,19,029928052720,1,270000005678,#NULO#,PTN,96857,TO,MA
1836979,2016,13,03,1,270000000815,-3,1,394,4,6,...,44200,44,038108012712,1,270000008927,#NULO#,PRP,73440,TO,MA
1836990,2016,13,03,3,270000000821,-3,1,266,4,8,...,40700,40,030324552763,1,270000009001,#NULO#,PSB,73440,TO,TO
1837025,2016,13,01,3,270000000283,-3,1,278,2,6,...,43700,43,033697382780,1,270000002785,#NULO#,PV,92240,TO,TO
1837135,2016,13,01,3,270000000386,-3,1,601,4,5,...,11200,11,008385472755,1,270000004093,#NULO#,PP,93653,TO,TO
1837164,2016,13,03,1,270000000961,-3,1,999,4,6,...,22777,22,036849392712,1,270000008261,#NULO#,PR,96156,TO,TO
1837171,2016,13,03,1,270000000664,-3,1,194,4,5,...,10110,10,033101072780,1,270000007248,#NULO#,PRB,73610,TO,MA
1837180,2016,13,03,1,270000000562,-3,1,598,4,2,...,31777,31,032052812720,1,270000006011,#NULO#,PHS,73326,TO,MA
1837182,2016,11,03,3,270000000854,-3,1,292,2,8,...,50,50,032355142798,1,270000009469,#NULO#,PSOL,73440,TO,MA
1837183,2016,13,03,1,270000000763,-3,1,581,4,6,...,15777,15,039243142712,1,270000008425,#NULO#,PMDB,95532,TO,TO
1837209,2016,13,03,1,270000000765,-3,1,536,2,6,...,20151,20,028996432771,1,270000008436,#NULO#,PSC,95192,TO,TO
1837210,2016,12,01,3,270000000843,-3,1,125,4,6,...,13,50,005069982003,1,270000009282,#NULO#,PSOL,73440,TO,TO
1837217,2016,13,02,1,270000000666,-3,1,999,2,3,...,17789,17,021613092755,1,270000007278,#NULO#,PSL,73164,TO,TO
1837221,2016,13,03,3,270000000690,-3,1,601,4,6,...,90111,90,038670802712,1,270000007518,#NULO#,PROS,95214,TO,TO
1837240,2016,13,03,1,270000000588,-3,1,999,4,6,...,10456,10,039034422798,1,270000006363,#NULO#,PRB,92525,TO,TO
1837252,2016,13,02,3,270000000804,-3,1,171,4,8,...,51765,51,027009932798,1,270000008687,#NULO#,PEN,73440,TO,GO

In [172]:
cand_df.loc[cand_df['COD_SIT_TOT_TURNO'] == '-3']

,ANO_ELEICAO,CODIGO_CARGO,CODIGO_COR_RACA,CODIGO_ESTADO_CIVIL,CODIGO_LEGENDA,CODIGO_MUNICIPIO_NASCIMENTO,CODIGO_NACIONALIDADE,CODIGO_OCUPACAO,CODIGO_SEXO,COD_GRAU_INSTRUCAO,...,NUMERO_CANDIDATO,NUMERO_PARTIDO,NUM_TITULO_ELEITORAL_CANDIDATO,NUM_TURNO,SEQUENCIAL_CANDIDATO,SIGLA_LEGENDA,SIGLA_PARTIDO,SIGLA_UE,SIGLA_UF,SIGLA_UF_NASCIMENTO
8550,2004,12,NaN,9,29,-1,1,395,2,7,...,40,40,008895691740,2,139,#NE#,PSB,27855,AL,RJ
8551,2004,12,NaN,3,18,-1,1,102,4,8,...,12,14,000992611759,2,63,#NE#,PTB,27855,AL,PE
14697,2004,12,NaN,9,17,-1,1,201,2,8,...,40,12,004865942240,2,167,#NE#,PDT,02550,AM,CE
14698,2004,12,NaN,3,31,-1,1,201,2,6,...,25,23,003343832291,2,895,#NE#,PPS,02550,AM,AM
46637,2004,12,NaN,3,31,-1,1,131,2,8,...,12,45,008127370590,2,822,#NE#,PSDB,38490,BA,BA
46638,2004,12,NaN,3,19,-1,1,201,2,8,...,25,25,000643610507,2,176,#NE#,PFL,38490,BA,BA
58599,2004,12,NaN,3,63,-1,1,0,2,7,...,13,40,032233350736,2,1129,#NE#,PSB,13897,CE,PE
58600,2004,12,NaN,5,15,-1,1,143,4,8,...,25,26,007879160744,2,74,#NE#,PAN,13897,CE,CE
66611,2004,12,NaN,3,15,-1,1,125,2,6,...,13,40,015467331430,2,255,#NE#,PSB,56251,ES,ES
66612,2004,12,NaN,9,3,-1,1,111,2,8,...,45,15,000740321422,2,29,#NE#,PMDB,56251,ES,ES
66615,2004,12,NaN,9,18,-1,1,131,4,8,...,45,23,012353471473,2,69,#NE#,PPS,57053,ES,ES
66616,2004,12,NaN,3,14,-1,1,142,2,8,...,13,40,000608531406,2,261,#NE#,PSB,57053,ES,ES
83777,2004,12,NaN,3,23,-1,1,169,2,8,...,40,11,002698141058,2,262,#NE#,PP,92215,GO,MG
83778,2004,12,NaN,3,34,-1,1,201,2,6,...,13,45,003180541090,2,340,#NE#,PSDB,92215,GO,MG
83781,2004,12,NaN,3,57,-1,1,201,2,6,...,13,14,000227221066,2,783,#NE#,PTB,93734,GO,GO
83782,2004,12,NaN,3,25,-1,1,121,2,8,...,15,15,001976711007,2,451,#NE#,PMDB,93734,GO,GO
163800,2004,12,NaN,3,10,-1,1,131,2,8,...,13,22,041056850205,2,404,#NE#,PL,43710,MG,MG
163801,2004,12,NaN,5,31,-1,1,257,2,4,...,45,11,069653440256,2,395,#NE#,PP,43710,MG,MG
163804,2004,12,NaN,3,17,-1,1,111,2,8,...,45,40,055645540221,2,217,#NE#,PSB,47333,MG,MG
163805,2004,12,NaN,3,8,-1,1,131,2,8,...,14,22,045235480213,2,129,#NE#,PL,47333,MG,MG
163808,2004,12,NaN,9,24,-1,1,999,2,3,...,15,22,068066420221,2,186,#NE#,PL,48658,MG,MG
163809,2004,12,NaN,3,15,-1,1,143,2,8,...,23,13,050182260299,2,73,#NE#,PT,48658,MG,MG
163812,2004,12,NaN,3,17,-1,1,201,2,8,...,11,45,026157220256,2,217,#NE#,PSDB,54038,MG,MG
163813,2004,12,NaN,3,11,-1,1,257,2,8,...,22,25,033214140205,2,59,#NE#,PFL,54038,MG,MG
177942,2004,12,NaN,3,24,-1,1,111,2,8,...,13,22,018155081813,2,206,#NE#,PL,90670,MT,PR
177943,2004,12,NaN,3,34,-1,1,142,4,8,...,45,40,001389111848,2,260,#NE#,PSB,90670,MT,MT
192092,2004,12,NaN,3,32,-1,1,0,2,8,...,14,45,017113961325,2,51,#NE#,PSDB,04278,PA,MG
192093,2004,12,NaN,3,21,-1,1,131,4,8,...,13,22,001213761384,2,47,#NE#,PL,04278,PA,PE
202758,2004,12,NaN,3,40,-1,1,230,4,8,...,45,11,018882051260,2,284,#NE#,PP,19810,PB,PB
202759,2004,12,NaN,3,46,-1,1,171,2,8,...,15,15,003579871252,2,388,#NE#,PMDB,19810,PB,PB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307887,2004,12,NaN,3,4,-1,1,201,2,8,...,15,12,007286620477,2,22,#NE#,PDT,85995,RS,RS
307888,2004,12,NaN,3,12,-1,1,131,2,8,...,13,13,025879920485,2,88,#NE#,PT,85995,RS,RS
307891,2004,12,NaN,3,29,-1,1,910,2,5,...,13,22,052502650418,2,211,#NE#,PL,87912,RS,RS
307892,2004,12,NaN,3,3,-1,1,395,2,8,...,23,11,030157600493,2,1,#NE#,PP,87912,RS,RS
307895,2004,12,NaN,3,36,-1,1,201,2,8,...,23,14,048722660493,2,287,#NE#,PTB,88013,RS,RS
307896,2004,12,NaN,3,5,-1,1,201,4,8,...,13,13,022431930442,2,5,#NE#,PT,88013,RS,RS
322601,2004,12,NaN,3,26,-1,1,111,2,8,...,11,25,004852430957,2,160,#NE#,PFL,81051,SC,SC
322602,2004,12,NaN,3,40,-1,1,910,2,7,...,45,45,004967860906,2,219,#NE#,PSDB,81051,SC,SC
395514,2004,12,NaN,7,38,-1,1,111,2,8,...,45,22,046929720108,2,298,#NE#,PL,62197,SP,SP
395515,2004,12,NaN,1,2,-1,1,201,2,7,...,12,15,230785630183,2,2,#NE#,PMDB,62197,SP,SP
395518,2004,12,NaN,3,33,-1,1,395,2,8,...,45,23,108125540183,2,238,#NE#,PPS,62910,SP,SP
395519,2004,12,NaN,3,60,-1,1,169,2,8,...,12,25,017292920116,2,229,#NE#,PFL,62910,SP,SP
395522,2004,12,NaN,3,4,-1,1,999,2,4,...,13,13,114441410132,2,32,#NE#,PT,63770,SP,SE
395523,2004,12,NaN,3,19,-1,1,169,2,3,...,45,40,142135660167,2,201,#NE#,PSB,63770,SP,PE
395526,2004,12,NaN,1,18,-1,1,201,2,8,...,45,27,110834780108,2,477,#NE#,PSDC,67890,SP,SP
395527,2004,12,NaN,7,12,-1,1,923,2,8,...,13,14,068882300116,2,59,#NE#,PTB,67890,SP,SP
395530,2004,12,NaN,3,9,-1,0,101,2,8,...,23,15,104029860124,2,86,#NE#,PMDB,68756,SP,SP
395531,2004,12,NaN,3,13,-1,1,111,2,8,...,45,31,103855620191,2,125,#NE#,PHS,68756,SP,SP
395534,2004,12,NaN,3,17,-1,1,171,2,8,...,15,23,163264890191,2,71,#NE#,PPS,69698,SP,SP
395535,2004,12,NaN,3,29,-1,1,131,2,8,...,45,20,126149150116,2,214,#NE#,PSC,69698,SP,SP
395538,2004,12,NaN,3,34,-1,1,257,2,6,...,45,14,054034590116,2,360,#NE#,PTB,70572,SP,SP
395539,2004,12,NaN,1,4,-1,1,201,4,8,...,13,13,126951540132,2,2,#NE#,PT,70572,SP,SP
395542,2004,12,NaN,3,38,-1,1,101,2,8,...,15,25,106211860124,2,323,#NE#,PFL,70718,SP,SP
395543,2004,12,NaN,3,13,-1,1,218,2,8,...,13,43,059648220183,2,324,#NE#,PV,70718,SP,SP
395546,2004,12,NaN,3,17,-1,1,131,4,8,...,23,15,220757610159,2,174,#NE#,PMDB,70971,SP,MG
395547,2004,12,NaN,3,5,-1,1,131,4,8,...,25,45,103056670108,2,25,#NE#,PSDB,70971,SP,SP
395550,2004,12,NaN,1,45,-1,1,101,2,8,...,45,25,086302290191,2,1318,#NE#,PFL,71072,SP,SP
395551,2004,12,NaN,3,50,-1,1,171,2,8,...,13,13,001997250141,2,818,#NE#,PT,71072,SP,MG
395554,2004,12,NaN,3,28,-1,1,257,2,8,...,25,25,173044510141,2,331,#NE#,PFL,71455,SP,SP
395555,2004,12,NaN,3,24,-1,1,102,2,8,...,45,45,104768910167,2,434,#NE#,PSDB,71455,SP,SP

In [179]:
cand_df.loc[cand_df['COD_SIT_TOT_TURNO'] == 'NÃO ELEITO']

,ANO_ELEICAO,CODIGO_CARGO,CODIGO_COR_RACA,CODIGO_ESTADO_CIVIL,CODIGO_LEGENDA,CODIGO_MUNICIPIO_NASCIMENTO,CODIGO_NACIONALIDADE,CODIGO_OCUPACAO,CODIGO_SEXO,COD_GRAU_INSTRUCAO,...,NUMERO_CANDIDATO,NUMERO_PARTIDO,NUM_TITULO_ELEITORAL_CANDIDATO,NUM_TURNO,SEQUENCIAL_CANDIDATO,SIGLA_LEGENDA,SIGLA_PARTIDO,SIGLA_UE,SIGLA_UF,SIGLA_UF_NASCIMENTO
653018,2008,13,NaN,CASADO(A),#NE#,MANDAGUARI,BRASILEIRA NATA,"CARPINTEIRO, MARCENEIRO E ASSEMELHADOS",MASCULINO,ENSINO MÉDIO COMPLETO,...,23333,PPS,-1,1,30416,#NE#,PARTIDO POPULAR SOCIALISTA,76775,PR,-1

In [180]:
cand_df.loc[cand_df['COD_SIT_TOT_TURNO'] == 'SUPLENTE']

,ANO_ELEICAO,CODIGO_CARGO,CODIGO_COR_RACA,CODIGO_ESTADO_CIVIL,CODIGO_LEGENDA,CODIGO_MUNICIPIO_NASCIMENTO,CODIGO_NACIONALIDADE,CODIGO_OCUPACAO,CODIGO_SEXO,COD_GRAU_INSTRUCAO,...,NUMERO_CANDIDATO,NUMERO_PARTIDO,NUM_TITULO_ELEITORAL_CANDIDATO,NUM_TURNO,SEQUENCIAL_CANDIDATO,SIGLA_LEGENDA,SIGLA_PARTIDO,SIGLA_UE,SIGLA_UF,SIGLA_UF_NASCIMENTO
743740,2008,13,NaN,SEPARADO(A) JUDICIALMENTE,#NE#,LINS,BRASILEIRA NATA,APOSENTADO (EXCETO SERVIDOR PÚBLICO),FEMININO,SUPERIOR COMPLETO,...,22183,PR,-1,1,19494,#NE#,PARTIDO DA REPÚBLICA,62499,SP,-1

### Candidatos

In [182]:
candidatos = (
    cand_df[[
        'NOME_CANDIDATO',
        'DATA_NASCIMENTO',
        'CPF_CANDIDATO',
        'NUM_TITULO_ELEITORAL_CANDIDATO',
        'NM_EMAIL',
        'NOME_MUNICIPIO_NASCIMENTO',
        'CODIGO_NACIONALIDADE',
        'COD_GRAU_INSTRUCAO',
        'CODIGO_OCUPACAO',
    ]]
    .drop_duplicates('CPF_CANDIDATO', keep='last')
    # .sort_values(by=['NOME_CANDIDATO'], ascending=True, na_position='first')
    .rename(columns = {
        'NOME_CANDIDATO': 'nome',
        'DATA_NASCIMENTO': 'data_nascimento',
        'CPF_CANDIDATO': 'cpf',
        'NUM_TITULO_ELEITORAL_CANDIDATO': 'titulo_eleitoral',
        'NM_EMAIL': 'email',
        'NOME_MUNICIPIO_NASCIMENTO': 'cidade',
        'CODIGO_NACIONALIDADE': 'nacionalidade',
        'COD_GRAU_INSTRUCAO': 'grau_instrucao',
        'CODIGO_OCUPACAO': 'ocupacao'
    })
)

print(candidatos.shape)
print(candidatos)

(1257905, 9)
                                         nome data_nascimento          cpf  \
0                             JOÃO DE ALMEIDA        26081957  18139124249
1              PAULO CÉSAR FERREIRA DE ARAUJO        08041957  07857136204
3                    ERAIDES CAETANO DE SOUZA        26081957  40917860900
12                        DAMARIS DE OLIVEIRA        24091966  49488929200
14                     EDILENE SILVA DOS REIS        07041971  38950707268
16                    EDNA BERNARDINO E SILVA        29061958  34006451253
18                  ERACIDES CAETANO DE SOUZA        14011950  17630207972
19                  ESTEVÃO DE SOUZA FERREIRA        26121978  61072621215
20            FRANCISCO ANTONIO DA SILVA DIAS        15061964  21580430244
23                     IVAN DA SILVA FERREIRA        23041974  44378793253
26          JOSÉ GILDICELLI TEIXEIRA DA SILVA        14071955  19688440230
27              JOSÉ IDNILTON SANTOS DA SILVA        10021961  13331698253
28                              JOSÉ LAURINDO        17111934  04876563187
30                       JOSÉ URLANIO DE LIMA        09091969  21678545287
32                       JURACI JULIO PEREIRA        12101957  00119685833
33       LUCINEIA APARECIDA FALCÃO DE ALMEIDA        18011972  62278789287
34                      LUZIA CASSIMIRO FILHO        03111968  47817704287
37                       MARIA DE JESUS ANDER        25071952  23336510244
38                           OSVALDO COUTINHO        19091956  81129602834
40                       RAIMUNDO PAZ DE MELO        12071963  33965790200
41                   RENATO SALVADOR GUARECHI        01041970  36063169253
45                 SEBASTIÃO RITA DE CARVALHO        20011962  21600899234
46                    SOLANGE DE AMORIM SOUZA        22021972  41223330249
48                VANILTON MORAIS DE OLIVEIRA        29031969  30560330200
50                   MANOEL BATISTA DE ARAÚJO        03031968  19697120234
51                     DORISMAR GOMES RIBEIRO        04051957  12892262291
52                   SÔNIA MARIA ARAÚJO BESSA        02061962  09139583287
53                   AGRINALDO RODRIGUES MOTA        31081973  72574275268
54                ALEXANDRE ARAÚJO DE ALMEIDA        15011985  74811045220
55                   ALOÍSIO REBOUÇAS DE MELO        09121959  09561579200
...                                       ...             ...          ...
1837229                NERIO PEREIRA DA SILVA      10/05/1957  18542603168
1837230               FRANCO BARBOSA DE SOUSA      11/11/1987  03225102369
1837231                 JOSÉ WALDIR DE ARAÚJO      18/05/1977  83510001168
1837232                       PLINIO MEDEIROS      07/06/1948  03677311420
1837233       GICELDA PEREIRA DE SOUSA  MOURA      05/09/1987  90433084200
1837234            MARCOS ANTONIO DE OLIVEIRA      27/04/1976  78518458072
1837235             JOSE DE JESUS VERAS COSTA      06/10/1970  47065761134
1837236               JANANE SILVA NASCIMENTO      18/07/1989  01818927152
1837237               DIONE PAULINHO DA SILVA      08/10/1990  03586129181
1837238              RUBERVAL FEITOSA PEREIRA      04/09/1978  85646130344
1837239         LUCAS GOMES DE ALMEIDA SANTOS      10/10/1993  05201785131
1837240               CAMILA DOS SANTOS SOUSA      18/04/1992  04443482121
1837241            SILVEIRA FAGUNDES DA SILVA      01/01/1963  51038056691
1837242         JOSÉ MARIA FERNANDES DA SILVA      11/03/1951  47635380125
1837243          MARIA SELMA ROCHA DOS SANTOS      17/12/1979  00306454173
1837244                 ANTONIO INACIO LEITÃO      15/06/1969  47723742134
1837245                    JOSÉ COELHO MAURIZ      10/04/1970  15519779821
1837246                NEIVA GOMES DE ALENCAR      28/08/1979  00332326101
1837247          JOAOZINEI FRANCISCO DA ROCHA      07/08/1978  97148733120
1837248      RAIMUNDO PEREIRA DOS SANTOS NETO      12/06/1965  40139280359
1837249                     ISMAR LIMA XAVIER      30/08/1979  90997611120
1837250            DORISMAR CORDEIRO DA SILVA      11/11/1978  94983380191
1837251              LINDOMA ALMEIDA DA SILVA      19/08/1976  01516951131
1837252            ZULEICA SILVA NEGRI BARROS      01/10/1972  00116326662
1837253             VHALLERIA RIBEIRO PEREIRA      02/12/1997  04771913129
1837254                        JORGE DA SILVA      08/10/1968  33297240130
1837255     CARLOS ALBERTO RODRIGUES DA SILVA      26/11/1976  74985442372
1837256            ELIAS EVANGELISTA DA COSTA      26/08/1968  48535559191
1837257         ANTÔNIO CARLOS ANDRADE JARDIM      13/06/1962  28252438172
1837258       RAIMUNDO FRANOMAR ROCHA MARTINS      06/08/1969  87960109168

        titulo_eleitoral                               email  \
0           000356682496                                 NaN
1           000525772445                                 NaN
3           002817512496                                 NaN
12          000968162410                                 NaN
14          020802772232                                 NaN
16          001738842445                                 NaN
18          002817542437                                 NaN
19          003157012461                                 NaN
20          000764552488                                 NaN
23          002187552488                                 NaN
26          000405262445                                 NaN
27          000612792402                                 NaN
28          003181562410                                 NaN
30          001867852470                                 NaN
32          000355242402                                 NaN
33          002800582461                                 NaN
34          001567462429                                 NaN
37          000180102461                                 NaN
38          002815132437                                 NaN
40          000475902445                                 NaN
41          002884752453                                 NaN
45          000180142496                                 NaN
46          000198292437                                 NaN
48          002242392470                                 NaN
50          001547772410                                 NaN
51          000141032488                                 NaN
52          000139702402                                 NaN
53          003520082402                                 NaN
54          003356382488                                 NaN
55          001389392445                                 NaN
...                  ...                                 ...
1837229     033629232747               ZEDOLINHA@HOTMAIL.COM
1837230     057684521198          M.F.PICARRAMCFLY@GMAIL.COM
1837231     032836722747         IRINEIA.HOLANDA@OUTLOOK.COM
1837232     002657462658           PSDBARAGUAINA45@GMAIL.COM
1837233     053587241333    UNIDOSPORBRASILANDIA20@GMAIL.COM
1837234     031528412747           PITADEARRUDA@YAHOO.COM.BR
1837235     034597032747           AVANTEFORMOSO28@GMAIL.COM
1837236     038021712747    UNIDOSPORBRASILANDIA20@GMAIL.COM
1837237     038279912763                LARIOS1958@GMAIL.COM
1837238     031911322739          EDMARSARAIVAMOTA@GMAIL.COM
1837239     039209622780         LUCASGOMES08@HOTMAIL.COM.BR
1837240     039034422798     COLIGACAOOPOVONOPODER@GMAIL.COM
1837241     016600262763        MEIRELES-RIBEIRO@HOTMAIL.COM
1837242     015195812739         TODOSPORMIRANORTE@GMAIL.COM
1837243     034635792739         TODOSPORMIRANORTE@GMAIL.COM
1837244     022451762755  MIRACEMAQUERMUDANCA_15@HOTMAIL.COM
1837245     016913921520  MIRACEMAQUERMUDANCA_15@HOTMAIL.COM
1837246     034252012704             JOSIANO_100@HOTMAIL.COM
1837247     041659041007         CLAUDINEI-ROCHA@HOTMAIL.COM
1837248     033743202771             PAIZIM43123@HOTMAIL.COM
1837249     048802331066      CAMPANHAPAUDARCO2016@GMAIL.COM
1837250     032734862771      SIMONEBAZEVEDO2016@HOTMAIL.COM
1837251     034788412771           GIVANILDOJUBI@HOTMAIL.COM
1837252     027009932798          ZFVIDEOPRODUCOES@GMAIL.COM
1837253     040320122704               VHALLERIARP@GMAIL.COM
1837254     032836852763    COLIGAUNIDOSVENCEREMOS@GMAIL.COM
1837255     033807392763    COLIGAUNIDOSVENCEREMOS@GMAIL.COM
1837256     022770912771            FABRICIANO4744@GMAIL.COM
1837257     015219732798         TODOSPORMIRANORTE@GMAIL.COM
1837258     022595862747               JFAGUIAR233@GMAIL.COM

                         cidade nacionalidade grau_instrucao ocupacao
0               TENENTE PORTELA             1              4      601
1                    ACRELÂNDIA             1              3      601
3                    ACRELÂNDIA             1              0      601
12                      UBIRATÃ             1              6      999
14                      CAARAPO             1              3      999
16                      GUARACI             1              8      143
18                         TAIO             1              6      999
19                   RIO BRANCO             1              6      999
20                 BOCA DO ACRE             1              7      143
23               SENA MADUREIRA             1              6      999
26                    BRASILÉIA             1              6      143
27                   RIO BRANCO             1              8      999
28           SÃO ROQUE DE MINAS             1              8      296
30                     UMUARAMA             1              6      999
32                    ITAMARAJU             1              2      999
33                       JABOTI             1              6      143
34                      MARILUZ             1              4      298
37                      PITANGA             2              4      109
38           OLINDA ASSAD LETRA             1              3      999
40                   RIO BRANCO             1              2      999
41                     COLATINA             1              4      999
45                  PARANAPOEMA             1              6      999
46                   RIO BRANCO             1              6      999
48       SANTA MARIA DA VITÓRIA             1              5      601
50                    BRASILEIA             1              6      143
51                    BRASILEIA             1              6      297
52                   RIO BRANCO             1              6      143
53                    BRASILEIA             1              3      601
54                    BRASILEIA             1              5      999
55                       XAPURI             1              3      411
...                         ...           ...            ...      ...
1837229              TAGUATINGA             1              3      999
1837230             PASTOS BONS             1              6      512
1837231            CAMPO GRANDE             1              6      390
1837232                LIMOEIRO             1              7      923
1837233   CONCEIÇAO DO ARAGUAIA             1              6      601
1837234              JAGUARUANA             1              6      254
1837235    PARAISO DO TOCANTINS             1              3      278
1837236             ARAPOEMA TO             1              3      999
1837237                 SAMPAIO             1              6      601
1837238          TOCANTINOPOLIS             1              4      298
1837239     AURORA DO TOCANTINS             1              7      931
1837240      AXIXÁ DO TOCANTINS             1              6      999
1837241        SERRA DA SAUDADE             1              8      266
1837242               MIRANORTE             1              4      169
1837243               MIRANORTE             1              5      999
1837244                MANITUBA             1              3      999
1837245        SIMPLICIO MENDES             1              4      257
1837246            CRISTALANDIA             1              8      298
1837247                 GOIANIA             1              8      111
1837248          TOCANTINOPOLIS             1              2      298
1837249            PORTO FRANCO             1              6      402
1837250                   PEIXE             1              7      278
1837251     AURORA DO TOCANTINS             1              6      278
1837252               PORONGATU             1              8      171
1837253                 ARRAIAS             1              6      931
1837254       GOVERNADOR ARCHER             1              4      257
1837255         PASSAGEM FRANCA             1              8      275
1837256             NOVO BRASIL             1              3      606
1837257               MIRANORTE             1              3      257
1837258              ITAGUATINS             1              6      606

[1257905 rows x 9 columns]

Existem 3 tipos diferentes de data de nascimento que devem ser tratados antes da inserção no banco de dados

In [194]:
tipos_data = (
    cand_df[[
        'ANO_ELEICAO',
        'DATA_NASCIMENTO',
    ]]
    .drop_duplicates('ANO_ELEICAO', keep='last')
)

print(tipos_data)

        ANO_ELEICAO DATA_NASCIMENTO
401788         2004        01061949
422578         2006      08/04/1945
807109         2008       26-OCT-59
829686         2010       03-JAN-34
1313511        2012      15/02/1958
1339756        2014      12/10/1965
1837258        2016      06/08/1969

### Candidaturas

In [196]:
candidaturas = (
    cand_df[[
        'NUMERO_CANDIDATO',
        'NOME_URNA_CANDIDATO',
        'NOME_LEGENDA',
        'COMPOSICAO_LEGENDA',
        'DESPESA_MAX_CAMPANHA',

        'CPF_CANDIDATO', # candidato_id
        'SIGLA_UE', # cidade_id
        'SIGLA_UF', # estado_id
        'NUMERO_PARTIDO', # partido_id
        'CODIGO_CARGO', # cargo_id
        'COD_SITUACAO_CANDIDATURA', # situacao_candidatura_id
        'COD_SIT_TOT_TURNO', # resultado_id
    ]]
    .rename(columns = {
        'NUMERO_CANDIDATO': 'numero_candidato',
        'NOME_URNA_CANDIDATO': 'nome_urna',
        'NOME_LEGENDA': 'nome_legenda',
        'COMPOSICAO_LEGENDA': 'composicao_legenda',
        'DESPESA_MAX_CAMPANHA': 'despesa_maxima',

        'CPF_CANDIDATO': 'candidato_cpf', # candidato_id
        'SIGLA_UE': 'cidade', # cidade_id
        'SIGLA_UF': 'estado', # estado_id
        'NUMERO_PARTIDO': 'partido_numero', # partido_id
        'CODIGO_CARGO': 'cargo_codigo_tse', # cargo_id
        'COD_SITUACAO_CANDIDATURA': 'situacao_candidatura_codigo_tse', # situacao_candidatura_id
        'COD_SIT_TOT_TURNO': 'resultado_codigo_tse', # resultado_id
    })
)

print(candidaturas.shape)
print(candidaturas)

(1837259, 12)
        numero_candidato                nome_urna  \
0                     13                    JANGO
1                     14                 PAULINHO
2                     45             TIÃO BOCALOM
3                     13                    GRAIA
4                     14        PROFESSOR RICARDO
5                     45               PR. VILSEU
6                  15120                    ALAOR
7                  13113                    VAUNA
8                  13613                APARECIDO
9                  43333                  ARISTON
10                 14014                CARLINHOS
11                 13456        PININHO CESALPINO
12                 45123                  DAMARIS
13                 25555                 DERMIVAL
14                 15123                  EDILENE
15                 13611                   TOBIAS
16                 12345          PROFESSORA EDNA
17                 45678          PROFESSOR ELIAS
18                 45645         ERACIDAS CAETANO
19                 15130         ESTEVÃO FERREIRA
20                 12300      PROFESSOR FRANCISCO
21                 14601                 BURRINHO
22                 45555                 GILDÉSIO
23                 23456                     IVAN
24                 33222                    JOSUÉ
25                 13333                  BRANDÃO
26                 40111          PROFESSOR GILDO
27                 13000                    PINGO
28                 40240              ZÉ LAURINDO
29                 15110            PASTOR MENDES
...                  ...                      ...
1837229            12456                    NERIO
1837230            36266                  PIÇARRA
1837231            22123                ZÉ VALDIR
1837232            31444          PLINIO MEDEIROS
1837233            25000  GICELDA DO ASSENTAMENTO
1837234            51234           MARQUIM YOMURA
1837235            31111           ZEZINHO CABURÉ
1837236            20333                   JANANE
1837237            44111          DIONE CACHORRAO
1837238            14444                 RUBERVAL
1837239            40123                    LUCAS
1837240            10456         CAMILA DA ZERIDE
1837241            27777       PROFESSOR SILVEIRA
1837242            15051               JOSÉ MARIA
1837243            25123          SELMA CABELEIRA
1837244            15999              MANGA VERDE
1837245            15015        ZEZIM PÉ DE MANGA
1837246               55               IRMA NEIVA
1837247               25                 DR. JOÃO
1837248            43123                   PAIZIM
1837249            43123           ISMAR DA ROUPA
1837250            40000                   GORDIM
1837251            15123                  LINDOMA
1837252            51765            ZULEICA NEGRI
1837253            13123        VHALLERIA RIBEIRO
1837254            22444           JORGE DA SILVA
1837255               11           CARLOS ALBERTO
1837256            14444           ELIAS DO MATÃO
1837257            15101           ANTÔNIO JARDIM
1837258            45123                 FRANOMAR

                            nome_legenda  \
0           FRENTE POPULAR DE ACRELÂNDIA
1                                   #NE#
2                CONTINUANDO O PROGRESSO
3           FRENTE POPULAR DE ACRELÂNDIA
4                                   #NE#
5                CONTINUANDO O PROGRESSO
6             CONTINUANDO O PROGRESSO II
7                                   #NE#
8                                   #NE#
9                     UNIDOS PARA VENCER
10                                  #NE#
11                                  #NE#
12             CONTINUANDO O PROGRESSO I
13            CONTINUANDO O PROGRESSO II
14            CONTINUANDO O PROGRESSO II
15                                  #NE#
16             CONTINUANDO O PROGRESSO I
17             CONTINUANDO O PROGRESSO I
18             CONTINUANDO O PROGRESSO I
19            CONTINUANDO O PROGRESSO II
20             CONTINUANDO O PROGRESSO I
21                                  #NE#
22             CONTINUANDO O PROGRESSO I
23            CONTINUANDO O PROGRESSO II
24                    UNIDOS PARA VENCER
25                                  #NE#
26                    UNIDOS PARA VENCER
27                                  #NE#
28                    UNIDOS PARA VENCER
29            CONTINUANDO O PROGRESSO II
...                                  ...
1837229             A VOLTA DO PROGRESSO
1837230               O NOVO TEM FORÇA 2
1837231    POR UMA AUGUSTINÓPOLIS MELHOR
1837232                  PARTIDO ISOLADO
1837233         'UNIDOS POR BRASILÂNDIA'
1837234                  PARTIDO ISOLADO
1837235                AVANTE FORMOSO II
1837236         'UNIDOS POR BRASILÂNDIA'
1837237     UNIDOS POR UMA NOVA HISTORIA
1837238    COLIGAÇÃO UNIDOS SOMOS FORTES
1837239                AURORA PARA TODOS
1837240                  O POVO NO PODER
1837241                ALVORADA RENOVADA
1837242            TODOS POR MIRANORTE 1
1837243            TODOS POR MIRANORTE 2
1837244          MIRACEMA QUER MUDANÇA 1
1837245          MIRACEMA QUER MUDANÇA 1
1837246      COLIGAÇÃO CRIXAS PARA TODOS
1837247              UNIDOS POR RIO SONO
1837248  COLIGAÇÃO O FUTURO COMEÇA AGORA
1837249                Renova Pau D´arco
1837250          SUCUPIRA, UM NOVO TEMPO
1837251            UNIDOS POR TAGUATINGA
1837252                  PARTIDO ISOLADO
1837253            ESPERANÇA E RENOVAÇÃO
1837254       PRA FRENTE CARRASCO BONITO
1837255       PRA FRENTE CARRASCO BONITO
1837256              UNIDOS POR IPUEIRAS
1837257            TODOS POR MIRANORTE 1
1837258             UNIDOS VENCEREMOS II

                                        composicao_legenda despesa_maxima  \
0                            PT / PMN / PSB / PV / PC do B         100000
1                                                     #NE#          20000
2                       PP / PDT / PMDB / PPS / PFL / PSDB          30000
3                            PT / PMN / PSB / PV / PC do B              0
4                                                     #NE#              0
5                       PP / PDT / PMDB / PPS / PFL / PSDB              0
6                                    PP / PMDB / PPS / PFL           5000
7                                                     #NE#          20000
8                                                     #NE#          18000
9                                 PMN / PSB / PV / PC do B          10000
10                                                    #NE#          10000
11                                                    #NE#          15000
12                                              PDT / PSDB           5000
13                                   PP / PMDB / PPS / PFL           5000
14                                   PP / PMDB / PPS / PFL           5000
15                                                    #NE#          15000
16                                              PDT / PSDB           5000
17                                              PDT / PSDB           5000
18                                              PDT / PSDB           5000
19                                   PP / PMDB / PPS / PFL           5000
20                                              PDT / PSDB           5000
21                                                    #NE#          10000
22                                              PDT / PSDB           5000
23                                   PP / PMDB / PPS / PFL           5000
24                                PMN / PSB / PV / PC do B          10000
25                                                    #NE#          15000
26                                PMN / PSB / PV / PC do B          10000
27                                                    #NE#          15000
28                                PMN / PSB / PV / PC do B          10000
29                                   PP / PMDB / PPS / PFL           5000
...                                                    ...            ...
1837229                              PSD / PSC / PDT / PMN              0
1837230                                         PTC / PSDB              0
1837231                                    PSDB / PTB / PR             -1
1837232                                                PHS              0
1837233           PTB / PMDB / PSC / DEM / PSDB / PSD / SD             -1
1837234                                                PEN              0
1837235                        PDT / PSDC / PHS / PEN / SD              0
1837236           PTB / PMDB / PSC / DEM / PSDB / PSD / SD             -1
1837237                                          PRP / PTN             -1
1837238       PRB / PDT / PMDB / PR / PSB / PSD / PT / PTB              0
1837239                       PMDB / DEM / PSB / PPS / PSC              0
1837240                          PRB / PP / PR / PSC / PPS             -1
1837241                                    PT / PSD / PSDC             -1
1837242                              PMDB / PSB / SD / PRB              0
1837243                          PSC / DEM / PSD / PV / PT              0
1837244                              PMDB / PHS / SD / PTB             -1
1837245                              PMDB / PHS / SD / PTB             -1
1837246                       PSD / PMDB / PSB / PTB / DEM             -1
1837247                   PSC / PR / PSDB / DEM / PSB / PV             -1
1837248                         DEM / PP / PV / PSDB / PPL              0
1837249                                PSD / PDT / PV / PP             -1
1837250       PSD / PPS / PTN / PSB / PSDB / PR / PRB / PP             -1
1837251                    PV / SD / PMDB / PHS / PT / PSB              0
1837252                                                PEN             -1
1837253                                          PT / PSDC              0
1837254   PP / PSC / PR / PSD / DEM / PHS / PPS / PRB / PV              0
1837255   PP / PSC / PR / PSD / DEM / PHS / PPS / PRB / PV              0
1837256  PTB / PSB / PDT / PMN / PP / DEM / PR / PSL / ...             -1
1837257                              PMDB / PSB / SD / PRB              0
1837258                  PR / PSDB / PP / PHS / PSL / PSDC              0

        candidato_cpf cidade estado partido_numero cargo_codigo_tse  \
0         18139124249  01120     AC             13               11
1         07857136204  01120     AC             14               11
2         17357152987  01120     AC             45               11
3         40917860900  01120     AC             40               12
4         61109029268  01120     AC             14               12
5         27278913187  01120     AC             15               12
6         38733838968  01120     AC             15               13
7         21197164987  01120     AC             13               13
8         50916823253  01120     AC             13               13
9         52024768253  01120     AC             43               13
10        73900443220  01120     AC             14               13
11        77722914772  01120     AC             13               13
12        49488929200  01120     AC             45               13
13        21522332987  01120     AC             25               13
14        38950707268  01120     AC             15               13
15        40745414915  01120     AC             13               13
16        34006451253  01120     AC             12               13
17        43462111272  01120     AC             45               13
18        17630207972  01120     AC             45               13
19        61072621215  01120     AC             15               13
20        21580430244  01120     AC             12               13
21        34058133287  01120     AC             14               13
22        22053220287  01120     AC             45               13
23        44378793253  01120     AC             23               13
24        63159791220  01120     AC             33               13
25        02834286272  01120     AC             13               13
26        19688440230  01120     AC             40               13
27        13331698253  01120     AC             13               13
28        04876563187  01120     AC             40               13
29        19624948291  01120     AC             15               13
...               ...    ...    ...            ...              ...
1837229   18542603168  96156     TO             12               13
1837230   03225102369  92410     TO             36               13
1837231   83510001168  96857     TO             22               13
1837232   03677311420  92410     TO             31               13
1837233   90433084200  73245     TO             25               13
1837234   78518458072  92410     TO             51               13
1837235   47065761134  93653     TO             31               13
1837236   01818927152  73245     TO             20               13
1837237   03586129181  73423     TO             44               13
1837238   85646130344  73512     TO             14               13
1837239   05201785131  92533     TO             40               13
1837240   04443482121  92525     TO             10               13
1837241   51038056691  92134     TO             27               13
1837242   47635380125  94633     TO             15               13
1837243   00306454173  94633     TO             25               13
1837244   47723742134  94617     TO             15               13
1837245   15519779821  94617     TO             15               13
1837246   00332326101  73555     TO             40               12
1837247   97148733120  96792     TO             25               11
1837248   40139280359  73512     TO             43               13
1837249   90997611120  73261     TO             43               13
1837250   94983380191  73377     TO             40               13
1837251   01516951131  96156     TO             15               13
1837252   00116326662  73440     TO             51               13
1837253   04771913129  92479     TO             13               13
1837254   33297240130  73423     TO             22               13
1837255   74985442372  73423     TO             11               11
1837256   48535559191  73598     TO             14               13
1837257   28252438172  94633     TO             15               13
1837258   87960109168  73180     TO             45               13

        situacao_candidatura_codigo_tse resultado_codigo_tse
0                                     2                    4
1                                     2                    4
2                                     2                    1
3                                     2                   -1
4                                     2                   -1
5                                     2                   -1
6                                     2                    2
7                                     2                    2
8                                     2                    2
9                                     2                    2
10                                    2                    1
11                                    2                    2
12                                    2                    1
13                                    2                    1
14                                   14                   -1
15                                    2                    5
16                                    2                    1
17                                    2                    2
18                                    2                    2
19                                    2                    2
20                                    2                    2
21                                    2                    5
22                                    2                    2
23                                    2                    2
24                                    2                    2
25                                    2                    1
26                                    2                    2
27                                    2                    2
28                                    2                    2
29                                    2                    2
...                                 ...                  ...
1837229                               2                    5
1837230                               2                    5
1837231                               2                    5
1837232                               2                    4
1837233                               2                    5
1837234                               2                    4
1837235                               2                    5
1837236                               2                    5
1837237                               2                    4
1837238                               2                    2
1837239                               2                    5
1837240                               6                   -1
1837241                               2                    5
1837242                               2                    5
1837243                               2                    5
1837244                               2                    5
1837245                               2                    5
1837246                               2                    4
1837247                               2                    1
1837248                               2                    5
1837249                               2                    5
1837250                               2                    2
1837251                               2                    2
1837252                              14                   -1
1837253                               2                    5
1837254                               2                    5
1837255                               2                    1
1837256                               2                    5
1837257                               2                    5
1837258                               2                    5

[1837259 rows x 12 columns]

## A Ser Continuado

Antes de partir para o povoamento do banco de dados, é preciso refletir sobre qual a melhor maneira de armazenar os dados de composição de legenda

#### Links úteis
https://chrisalbon.com/python/data_wrangling/pandas_dropping_column_and_rows/

In [195]:
cand_df[['SIGLA_LEGENDA','COMPOSICAO_LEGENDA','NOME_LEGENDA']]

,SIGLA_LEGENDA,COMPOSICAO_LEGENDA,NOME_LEGENDA
0,#NE#,PT / PMN / PSB / PV / PC do B,FRENTE POPULAR DE ACRELÂNDIA
1,#NE#,#NE#,#NE#
2,#NE#,PP / PDT / PMDB / PPS / PFL / PSDB,CONTINUANDO O PROGRESSO
3,#NE#,PT / PMN / PSB / PV / PC do B,FRENTE POPULAR DE ACRELÂNDIA
4,#NE#,#NE#,#NE#
5,#NE#,PP / PDT / PMDB / PPS / PFL / PSDB,CONTINUANDO O PROGRESSO
6,#NE#,PP / PMDB / PPS / PFL,CONTINUANDO O PROGRESSO II
7,#NE#,#NE#,#NE#
8,#NE#,#NE#,#NE#
9,#NE#,PMN / PSB / PV / PC do B,UNIDOS PARA VENCER
10,#NE#,#NE#,#NE#
11,#NE#,#NE#,#NE#
12,#NE#,PDT / PSDB,CONTINUANDO O PROGRESSO I
13,#NE#,PP / PMDB / PPS / PFL,CONTINUANDO O PROGRESSO II
14,#NE#,PP / PMDB / PPS / PFL,CONTINUANDO O PROGRESSO II
15,#NE#,#NE#,#NE#
16,#NE#,PDT / PSDB,CONTINUANDO O PROGRESSO I
17,#NE#,PDT / PSDB,CONTINUANDO O PROGRESSO I
18,#NE#,PDT / PSDB,CONTINUANDO O PROGRESSO I
19,#NE#,PP / PMDB / PPS / PFL,CONTINUANDO O PROGRESSO II
20,#NE#,PDT / PSDB,CONTINUANDO O PROGRESSO I
21,#NE#,#NE#,#NE#
22,#NE#,PDT / PSDB,CONTINUANDO O PROGRESSO I
23,#NE#,PP / PMDB / PPS / PFL,CONTINUANDO O PROGRESSO II
24,#NE#,PMN / PSB / PV / PC do B,UNIDOS PARA VENCER
25,#NE#,#NE#,#NE#
26,#NE#,PMN / PSB / PV / PC do B,UNIDOS PARA VENCER
27,#NE#,#NE#,#NE#
28,#NE#,PMN / PSB / PV / PC do B,UNIDOS PARA VENCER
29,#NE#,PP / PMDB / PPS / PFL,CONTINUANDO O PROGRESSO II
...,...,...,...
1837229,#NULO#,PSD / PSC / PDT / PMN,A VOLTA DO PROGRESSO
1837230,#NULO#,PTC / PSDB,O NOVO TEM FORÇA 2
1837231,#NULO#,PSDB / PTB / PR,POR UMA AUGUSTINÓPOLIS MELHOR
1837232,#NULO#,PHS,PARTIDO ISOLADO
1837233,#NULO#,PTB / PMDB / PSC / DEM / PSDB / PSD / SD,'UNIDOS POR BRASILÂNDIA'
1837234,#NULO#,PEN,PARTIDO ISOLADO
1837235,#NULO#,PDT / PSDC / PHS / PEN / SD,AVANTE FORMOSO II
1837236,#NULO#,PTB / PMDB / PSC / DEM / PSDB / PSD / SD,'UNIDOS POR BRASILÂNDIA'
1837237,#NULO#,PRP / PTN,UNIDOS POR UMA NOVA HISTORIA
1837238,#NULO#,PRB / PDT / PMDB / PR / PSB / PSD / PT / PTB,COLIGAÇÃO UNIDOS SOMOS FORTES
1837239,#NULO#,PMDB / DEM / PSB / PPS / PSC,AURORA PARA TODOS
1837240,#NULO#,PRB / PP / PR / PSC / PPS,O POVO NO PODER
1837241,#NULO#,PT / PSD / PSDC,ALVORADA RENOVADA
1837242,#NULO#,PMDB / PSB / SD / PRB,TODOS POR MIRANORTE 1
1837243,#NULO#,PSC / DEM / PSD / PV / PT,TODOS POR MIRANORTE 2
1837244,#NULO#,PMDB / PHS / SD / PTB,MIRACEMA QUER MUDANÇA 1
1837245,#NULO#,PMDB / PHS / SD / PTB,MIRACEMA QUER MUDANÇA 1
1837246,#NULO#,PSD / PMDB / PSB / PTB / DEM,COLIGAÇÃO CRIXAS PARA TODOS
1837247,#NULO#,PSC / PR / PSDB / DEM / PSB / PV,UNIDOS POR RIO SONO
1837248,#NULO#,DEM / PP / PV / PSDB / PPL,COLIGAÇÃO O FUTURO COMEÇA AGORA
1837249,#NULO#,PSD / PDT / PV / PP,Renova Pau D´arco
1837250,#NULO#,PSD / PPS / PTN / PSB / PSDB / PR / PRB / PP,"SUCUPIRA, UM NOVO TEMPO"
1837251,#NULO#,PV / SD / PMDB / PHS / PT / PSB,UNIDOS POR TAGUATINGA
1837252,#NULO#,PEN,PARTIDO ISOLADO
1837253,#NULO#,PT / PSDC,ESPERANÇA E RENOVAÇÃO
1837254,#NULO#,PP / PSC / PR / PSD / DEM / PHS / PPS / PRB / PV,PRA FRENTE CARRASCO BONITO
1837255,#NULO#,PP / PSC / PR / PSD / DEM / PHS / PPS / PRB / PV,PRA FRENTE CARRASCO BONITO
1837256,#NULO#,PTB / PSB / PDT / PMN / PP / DEM / PR / PSL / ...,UNIDOS POR IPUEIRAS
1837257,#NULO#,PMDB / PSB / SD / PRB,TODOS POR MIRANORTE 1
1837258,#NULO#,PR / PSDB / PP / PHS / PSL / PSDC,UNIDOS VENCEREMOS II