# 05 abr 2018

O objetivo de hoje é gerar e popular o banco de dados

In [1]:
import pandas as pd
import numpy as np
import mysql.connector as mysql

In [2]:
df = pd.read_csv(
    '../data/2018-04-04-candidaturas-tse.xz',
    low_memory=False
)

Conexão com o banco de dados local

In [3]:
config = {
    'user': 'root',
    'password': '',
    'host': '127.0.0.1',
    'database': 'laddres'
}

cnx = mysql.connect(**config)
cnx.close()

## Estados

Popular a tabela com os estados

In [126]:
estados = pd.DataFrame({
    'sigla': [
        'AC',
        'AL',
        'AM',
        'AP',
        'BA',
        'CE',
        'DF',
        'ES',
        'GO',
        'MA',
        'MG',
        'MS',
        'MT',
        'PA',
        'PB',
        'PE',
        'PI',
        'PR',
        'RJ',
        'RN',
        'RO',
        'RR',
        'RS',
        'SC',
        'SE',
        'SP',
        'TO'
    ],
    'nome': [
        'Acre',
        'Alagoas',
        'Amazonas',
        'Amapá',
        'Bahia',
        'Ceará',
        'Distrito Federal',
        'Espírito Santos',
        'Goiás',
        'Maranhão',
        'Minas Gerais',
        'Mato Grosso do Sul',
        'Mato Grosso',
        'Pará',
        'Paraíba',
        'Pernambuco',
        'Piauí',
        'Paraná',
        'Rio de Janeiro',
        'Rio Grande do Norte',
        'Rondônia',
        'Roraima',
        'Rio Grande do Sul',
        'Santa Catarina',
        'Sergipe',
        'São Paulo',
        'Tocantins'
    ]
})

In [127]:
cnx = mysql.connect(**config)
cursor = cnx.cursor()

for estado in estados.itertuples():
    novo_estado = ("INSERT INTO estado "
                   "(sigla, nome) "
                   "VALUES (%(sigla)s, %(nome)s)")
    cursor.execute(novo_estado, {
        'sigla': estado.sigla,
        'nome': estado.nome
    })
    cnx.commit()

cursor.close()
cnx.close()

## Cidade

In [128]:
cidades = (
    df[[
        'SIGLA_UE',
        'DESCRICAO_UE',
        'SIGLA_UF'
    ]]
    .drop_duplicates('SIGLA_UE', keep='last')
    .sort_values(by=['SIGLA_UE'], ascending=True, na_position='first')
    .rename(columns = {
        'SIGLA_UE': 'codigo_tse',
        'DESCRICAO_UE': 'nome',
        'SIGLA_UF': 'estado'
    })
)[:-28]

In [129]:
cnx = mysql.connect(**config)
cursor = cnx.cursor()

for cidade in cidades.itertuples():
    # Buscar id do estado
    query = ("SELECT id FROM estado WHERE sigla = '" + cidade.estado + "'")
    cursor.execute(query)
    estado_id = cursor.fetchone()[0]
    # Cadastrar cidade
    nova_cidade = ("INSERT INTO cidade "
                   "(codigo_tse, nome, estado_id) "
                   "VALUES (%(codigo_tse)s, %(nome)s, %(estado_id)s)")
    cursor.execute(nova_cidade, {
        'codigo_tse': cidade.codigo_tse,
        'nome': cidade.nome,
        'estado_id': estado_id
    })
    cnx.commit()

cursor.close()
cnx.close()

## Nacionalidade

In [117]:
nacionalidades = (
    df[[
        'CODIGO_NACIONALIDADE',
        'DESCRICAO_NACIONALIDADE'
    ]]
    .drop_duplicates('CODIGO_NACIONALIDADE', keep='last')
    .sort_values(by=['CODIGO_NACIONALIDADE'], ascending=True, na_position='first')
    .rename(columns = {
        'CODIGO_NACIONALIDADE': 'codigo_tse',
        'DESCRICAO_NACIONALIDADE': 'nome'
    })
)[:-1]

In [118]:
nacionalidades

        codigo_tse                                  nome
401701           0                         NÃO INFORMADA
1837258          1                       BRASILEIRA NATA
1836773          2             BRASILEIRA (NATURALIZADA)
1830351          3  PORTUGUESA COM IGUALDADE DE DIREITOS
1836916          4                           ESTRANGEIRO

In [130]:
cnx = mysql.connect(**config)
cursor = cnx.cursor()

for nacionalidade in nacionalidades.itertuples():
    novo_nacionalidade = ("INSERT INTO nacionalidade "
                   "(id, nome) "
                   "VALUES (%(codigo_tse)s, %(nome)s)")
    cursor.execute(novo_nacionalidade, {
        'codigo_tse': nacionalidade.codigo_tse,
        'nome': nacionalidade.nome
    })
    cnx.commit()

cursor.close()
cnx.close()

# Grau de Instrução

In [121]:
graus_instrucao = (
    df[[
        'COD_GRAU_INSTRUCAO',
        'DESCRICAO_GRAU_INSTRUCAO'
    ]]
    .drop_duplicates('COD_GRAU_INSTRUCAO', keep='last')
    .sort_values(by=['COD_GRAU_INSTRUCAO'], ascending=True, na_position='first')
    .rename(columns = {
        'COD_GRAU_INSTRUCAO': 'codigo_tse',
        'DESCRICAO_GRAU_INSTRUCAO': 'descricao'
    })
)[:-2]

In [122]:
graus_instrucao

        codigo_tse                      descricao
410000           0                  NÃO INFORMADO
1790642          1                     ANALFABETO
1837248          2                   LÊ E ESCREVE
1837257          3  ENSINO FUNDAMENTAL INCOMPLETO
1837254          4    ENSINO FUNDAMENTAL COMPLETO
1837243          5        ENSINO MÉDIO INCOMPLETO
1837258          6          ENSINO MÉDIO COMPLETO
1837250          7            SUPERIOR INCOMPLETO
1837255          8              SUPERIOR COMPLETO

In [131]:
cnx = mysql.connect(**config)
cursor = cnx.cursor()

for grau in graus_instrucao.itertuples():
    novo_grau = ("INSERT INTO grau_instrucao "
                   "(id, descricao) "
                   "VALUES (%(codigo_tse)s, %(descricao)s)")
    cursor.execute(novo_grau, {
        'codigo_tse': grau.codigo_tse,
        'descricao': grau.descricao
    })
    cnx.commit()

cursor.close()
cnx.close()

## Ocupação

In [133]:
ocupacoes = (
    df[[
        'CODIGO_OCUPACAO',
        'DESCRICAO_OCUPACAO'
    ]]
    .drop_duplicates('CODIGO_OCUPACAO', keep='last')
    .sort_values(by=['CODIGO_OCUPACAO'], ascending=True, na_position='first')
    .rename(columns = {
        'CODIGO_OCUPACAO': 'codigo_tse',
        'DESCRICAO_OCUPACAO': 'descricao'
    })
)[:-2]

In [134]:
ocupacoes

        codigo_tse                                          descricao
401787           0                                      NÃO INFORMADA
1836784        101                                         ENGENHEIRO
1834397        102                                          ARQUITETO
1836343        103                                           AGRÔNOMO
1829197        104                                            QUÍMICO
1792908        106                                             FÍSICO
1807883        107                                            GEÓLOGO
1837224        109                      AGENTE DE SAÚDE E SANITARISTA
1834161        110                                      AGENTE POSTAL
1837247        111                                             MÉDICO
1836577        112                                        VETERINÁRIO
1837189        113                                         ENFERMEIRO
1836494        114             FISIOTERAPEUTA E TERAPEUTA OCUPACIONAL
1837053        115                                         ODONTÓLOGO
397149         116                                BIOLOGO E BIOMEDICO
1836764        117                                       FARMACÊUTICO
1833906        118                                      FONOAUDIÓLOGO
1835086        119                                         ALMOXARIFE
1684693        120                                        ANTROPÓLOGO
1834021        121                                         ECONOMISTA
1818473        122                                        ESTATÍSTICO
1830498        123                               MATEMÁTICO E ATUÁRIO
1837204        124                                           CONTADOR
1837210        125                                      ADMINISTRADOR
1836148        126                               ANALISTA DE SISTEMAS
1823811        127                                           GEÓGRAFO
1835633        128                                          ASTRÔNOMO
1836507        129                                            ARTESÃO
1828009        130                                   ARTISTA DE CIRCO
1837172        131                                           ADVOGADO
...            ...                                                ...
1837237        601                                         AGRICULTOR
1837124        602                                         PECUARISTA
1822482        603                              TRABALHADOR FLORESTAL
1837214        604                                           PESCADOR
1718626        605                                         GARIMPEIRO
1837258        606                                  TRABALHADOR RURAL
1833795        701                MESTRE E CONTRAMESTRE DE EMBARCAÇÃO
1836752        702       OPERADOR DE APARELHOS DE PRODUÇÃO INDUSTRIAL
1837223        703                         ELETRICISTA E ASSEMELHADOS
1826885        704  TRABALHADOR EM ATIVIDADE DE PROCESSAMENTO QUÍMICO
1828657        705                TRABALHADOR DE FABRICAÇÃO DE ROUPAS
1707986        706  TRABALHADOR DE TRATAMENTO DE FUMO E DE FABRICA...
1829348        707              TRABALHADOR METALÚRGICO E SIDERÚRGICO
1824370        708                  TRABALHADOR DE USINAGEM DE METAIS
1837179        709                    TRABALHADOR DE CONSTRUÇÃO CIVIL
1830087        710  TRABALHADOR DE FABRICAÇÃO E PREPARAÇÃO DE ALIM...
1835503        711                      TRABALHADOR DE ARTES GRÁFICAS
1827395        712  TRABALHADOR DE FABRICAÇÃO DE PRODUTOS TÊXTEIS ...
1837022        713             CARPINTEIRO, MARCENEIRO E ASSEMELHADOS
1829162        714       TRABALHADOR DE FABRICAÇÃO DE PAPEL E PAPELÃO
1828894        715  TRABALHADOR DE FABRICAÇÃO DE CALÇADOS E ARTEFA...
1819779        716  TRABALHADOR DE FABRICAÇÃO DE PRODUTOS DE BORRA...
1746530        717                                JOALHEIRO E OURIVES
1836931        907                  CAPITALISTA DE ATIVOS FINANCEIROS
1837044        910    SACERDOTE OU MEMBRO DE ORDEM OU SEITA RELIGIOSA
1836970        921                                  MILITAR REFORMADO
1836584        922                  SERVIDOR PÚBLICO CIVIL APOSENTADO
1837232        923               APOSENTADO (EXCETO SERVIDOR PÚBLICO)
1837253        931     ESTUDANTE, BOLSISTA, ESTAGIÁRIO E ASSEMELHADOS
1837244        999                                             OUTROS

[260 rows x 2 columns]

In [135]:
cnx = mysql.connect(**config)
cursor = cnx.cursor()

for ocupacao in ocupacoes.itertuples():
    nova_ocupacao = ("INSERT INTO ocupacao "
                   "(id, descricao) "
                   "VALUES (%(codigo_tse)s, %(descricao)s)")
    cursor.execute(nova_ocupacao, {
        'codigo_tse': ocupacao.codigo_tse,
        'descricao': ocupacao.descricao
    })
    cnx.commit()

cursor.close()
cnx.close()

## Eleição

In [136]:
eleicoes = (
    df[[
        'ANO_ELEICAO',
        'DESCRICAO_ELEICAO'
    ]]
    .drop_duplicates('DESCRICAO_ELEICAO', keep='last')
    .sort_values(by=['ANO_ELEICAO'], ascending=True, na_position='first')
    .rename(columns = {
        'ANO_ELEICAO': 'ano',
        'DESCRICAO_ELEICAO': 'descricao'
    })
)

In [137]:
eleicoes

          ano                               descricao
401788   2004                           ELEICOES 2004
422578   2006                           ELEICOES 2006
578196   2008                  ELEIÇÕES SUPLEMENTARES
800173   2008                              PLEBISCITO
807094   2008                           ELEIÇÕES 2008
807109   2008             ELEIÇÕES SUPLEMENTARES 2008
829686   2010                           ELEIÇÕES 2010
1200422  2012              MAJORITÁRIA - PEDRAS ALTAS
1200426  2012                   MAJORITÁRIA - TAQUARI
1200434  2012         MAJORITÁRIA - EUGÊNIO DE CASTRO
1200437  2012                   MAJORITÁRIA - ERECHIM
1200440  2012             MAJORITÁRIA - NOVO HAMBURGO
1200444  2012    MAJORITÁRIA - MAXIMILIANO DE ALMEIDA
1200456  2012          MAJORITÁRIA - SÃO JOSÉ DO OURO
1200452  2012      MAJORITÁRIA - SÃO JOSÉ DAS MISSÕES
1200418  2012                MAJORITÁRIA - SOBRADINHO
1200464  2012           MAJORITÁRIA - AUGUSTO PESTANA
1200468  2012                   MAJORITÁRIA - TUPANDI
1200472  2012     MAJORITÁRIA - DEZESSEIS DE NOVEMBRO
1200448  2012             MAJORITÁRIA - DOM FELICIANO
1200413  2012                 MAJORITÁRIA - TUCUNDUVA
1200399  2012                   MAJORITÁRIA - TRIUNFO
1200405  2012                   MAJORITÁRIA - COLINAS
1200403  2012       MAJORITÁRIA - FORTALEZA DOS VALOS
1200476  2012      MAJORITÁRIA - ALM TAMANDARÉ DO SUL
1164311  2012          ELEIÇÃO SUPLEMENTAR MOSSORÓ-RN
1163897  2012  ELEIÇÃO MAJ_CAIÇARA DO RIO DO VENTO/RN
1163675  2012      ELEIÇÃO SUPLEMENTAR DE PASSAGEM-RN
1163673  2012     ELEIÇÃO SUPLEMENTAR - PEDRA GRANDE
1163672  2012    ELEIÇÃO SUPLEMENTAR DE LUÍS GOMES-RN
...       ...                                     ...
1836948  2016          Eleição Suplementar Itacajá-TO
1358555  2016    Eleição Suplementar Novo Aripuanã-AM
1360751  2016      Eleição Suplementar de Calçoene-AP
1418995  2016      Eleição Suplementar de Fundão (ES)
1422992  2016          Eleição Suplementar Muqui (ES)
1443362  2016    Eleição Suplementar - Petrolina (GO)
1510569  2016            Eleição Suplementar Jordânia
1521265  2016   Eleição Suplementar Alvorada de Minas
1521714  2016   Eleição Suplementar Ibitiúra de Minas
1523169  2016     Eleição Sup. Conceição do Rio Verde
1526651  2016             Eleição Suplementar Ervália
1533169  2016       Eleição Suplementar Campo Florido
1534815  2016     Eleição Suplementar Cristiano Otoni
1611069  2016          Eleição Suplementar Ipojuca PE
1536523  2016   Eleição Suplementar Santana da Vargem
1539325  2016              Eleição Suplementar Canaã
1539864  2016     Eleição Suplementar São Bento Abade
1539868  2016           Eleição Suplementar Ibiracatu
1541387  2016          Eleição Suplementar Campo Azul
1541404  2016  Eleição Suplementar Santa Cruz Salinas
1541405  2016           Eleição Suplementar Ibituruna
1541451  2016        Eleição Suplementar Antonio Dias
1547520  2016              ELEIÇÃO SUPLEMENTAR TACURU
1555884  2016           Conquista D'Oeste-MT-Mar/2017
1557754  2016  Eleição Suplementar Primavera do Leste
1558664  2016                Alto Taquari-MT-Jul-2017
1559070  2016    Eleição Suplementar Mirassol D'Oeste
1577224  2016         Eleição Suplementar de Tomé-Açu
1538804  2016          Eleição Suplementar Guaraciama
1837258  2016                Eleições Municipais 2016

[201 rows x 2 columns]

In [139]:
cnx = mysql.connect(**config)
cursor = cnx.cursor()

for eleicao in eleicoes.itertuples():
    nova_eleicao = ("INSERT INTO eleicao "
                   "(ano, descricao) "
                   "VALUES (%(ano)s, %(descricao)s)")
    cursor.execute(nova_eleicao, {
        'ano': eleicao.ano,
        'descricao': eleicao.descricao
    })
    cnx.commit()

cursor.close()
cnx.close()

## Cargos

In [252]:
cargos = (
    df[[
        'CODIGO_CARGO',
        'DESCRICAO_CARGO'
    ]]
    .drop_duplicates('CODIGO_CARGO', keep='last')
    .sort_values(by=['CODIGO_CARGO'], ascending=True, na_position='first')
    .rename(columns = {
        'CODIGO_CARGO': 'codigo_tse',
        'DESCRICAO_CARGO': 'nome'
    })
)[:-1]

In [253]:
cargos

         codigo_tse                nome
1317068           1          PRESIDENTE
1317066           2     VICE-PRESIDENTE
1339715           3          GOVERNADOR
1339703           4     VICE-GOVERNADOR
1339717           5             SENADOR
1339756           6    DEPUTADO FEDERAL
1339755           7   DEPUTADO ESTADUAL
1319152           8  DEPUTADO DISTRITAL
1339685           9         1º SUPLENTE
1339752          10         2º SUPLENTE
1837255          11            PREFEITO
1837246          12       VICE-PREFEITO
1837258          13            VEREADOR

In [145]:
cnx = mysql.connect(**config)
cursor = cnx.cursor()

for cargo in cargos.itertuples():
    novo_cargo = ("INSERT INTO cargo "
                   "(id, nome) "
                   "VALUES (%(codigo_tse)s, %(nome)s)")
    cursor.execute(novo_cargo, {
        'codigo_tse': cargo.codigo_tse,
        'nome': cargo.nome
    })
    cnx.commit()

cursor.close()
cnx.close()

## Partidos

In [146]:
partidos = (
    df[[
        'NUMERO_PARTIDO',
        'SIGLA_PARTIDO',
        'NOME_PARTIDO'
    ]]
    .drop_duplicates('NUMERO_PARTIDO', keep='last')
    .sort_values(by=['NUMERO_PARTIDO'], ascending=True, na_position='first')
    .rename(columns = {
        'NUMERO_PARTIDO': 'numero',
        'SIGLA_PARTIDO': 'sigla',
        'NOME_PARTIDO': 'nome',
    })
)[:-2]

In [147]:
partidos

        numero    sigla                                            nome
1837240     10      PRB                  PARTIDO REPUBLICANO BRASILEIRO
1837255     11       PP                            PARTIDO PROGRESSISTA
1837229     12      PDT                 PARTIDO DEMOCRÁTICO TRABALHISTA
1837253     13       PT                       PARTIDO DOS TRABALHADORES
1837256     14      PTB                  PARTIDO TRABALHISTA BRASILEIRO
1837257     15     PMDB     PARTIDO DO MOVIMENTO DEMOCRÁTICO BRASILEIRO
1824733     16     PSTU  PARTIDO SOCIALISTA DOS TRABALHADORES UNIFICADO
1837217     17      PSL                          PARTIDO SOCIAL LIBERAL
1836945     18     REDE                           REDE SUSTENTABILIDADE
1837140     19      PTN                    PARTIDO TRABALHISTA NACIONAL
1837236     20      PSC                          PARTIDO SOCIAL CRISTÃO
1830854     21      PCB                    PARTIDO COMUNISTA BRASILEIRO
1837254     22       PR                            PARTIDO DA REPÚBLICA
1837197     23      PPS                      PARTIDO POPULAR SOCIALISTA
1837247     25      DEM                                      DEMOCRATAS
422547      26      PAN                PARTIDO DOS APOSENTADOS DA NAÇÃO
1837241     27     PSDC                PARTIDO SOCIAL DEMOCRATA CRISTÃO
1837219     28     PRTB        PARTIDO RENOVADOR TRABALHISTA BRASILEIRO
1829488     29      PCO                       PARTIDO DA CAUSA OPERÁRIA
1829030     30     NOVO                                    PARTIDO NOVO
1837235     31      PHS              PARTIDO HUMANISTA DA SOLIDARIEDADE
1837143     33      PMN                 PARTIDO DA MOBILIZAÇÃO NACIONAL
1836309     35      PMB                    PARTIDO DA MULHER BRASILEIRA
1837230     36      PTC                     PARTIDO TRABALHISTA CRISTÃO
1837250     40      PSB                   PARTIDO SOCIALISTA BRASILEIRO
1837249     43       PV                                   PARTIDO VERDE
1837237     44      PRP                PARTIDO REPUBLICANO PROGRESSISTA
1837258     45     PSDB         PARTIDO DA SOCIAL DEMOCRACIA BRASILEIRA
1837210     50     PSOL                  PARTIDO SOCIALISMO E LIBERDADE
1837252     51      PEN                      PARTIDO ECOLÓGICO NACIONAL
1836967     54      PPL                            PARTIDO PÁTRIA LIVRE
1837214     55      PSD                      PARTIDO SOCIAL DEMOCRÁTICO
422365      56    PRONA       PARTIDO DE REEDIFICAÇÃO DA ORDEM NACIONAL
1836869     65  PC do B                     PARTIDO COMUNISTA DO BRASIL
1836365     70  PT do B                   PARTIDO TRABALHISTA DO BRASIL
1837203     77       SD                                   SOLIDARIEDADE
1837221     90     PROS             PARTIDO REPUBLICANO DA ORDEM SOCIAL

In [148]:
cnx = mysql.connect(**config)
cursor = cnx.cursor()

for partido in partidos.itertuples():
    novo_partido = ("INSERT INTO partido "
                   "(numero, sigla, nome) "
                   "VALUES (%(numero)s, %(sigla)s, %(nome)s)")
    cursor.execute(novo_partido, {
        'numero': partido.numero,
        'sigla': partido.sigla,
        'nome': partido.nome
    })
    cnx.commit()

cursor.close()
cnx.close()

## Situação da Candidatura

In [149]:
situacoes_candidatura = (
    df[[
        'COD_SITUACAO_CANDIDATURA',
        'DES_SITUACAO_CANDIDATURA'
    ]]
    .drop_duplicates('COD_SITUACAO_CANDIDATURA', keep='last')
    .sort_values(by=['COD_SITUACAO_CANDIDATURA'], ascending=True, na_position='first')
    .rename(columns = {
        'COD_SITUACAO_CANDIDATURA': 'codigo_tse',
        'DES_SITUACAO_CANDIDATURA': 'descricao'
    })
)[:-1]

In [150]:
situacoes_candidatura

        codigo_tse                   descricao
1826796         10                     CASSADO
616879          11                   IMPUGNADO
1836321         13  NÃO CONHECIMENTO DO PEDIDO
1837252         14                  INDEFERIDO
1837030         16        DEFERIDO COM RECURSO
1805071         17      PENDENTE DE JULGAMENTO
1828962         18         CASSADO COM RECURSO
1684173         19       CANCELADO COM RECURSO
1837258          2                    DEFERIDO
1836955          4      INDEFERIDO COM RECURSO
1836637          5                   CANCELADO
1837240          6                    RENÚNCIA
1836293          7                    FALECIDO
1200484          8       AGUARDANDO JULGAMENTO
806347           9                  INELEGÍVEL

In [152]:
cnx = mysql.connect(**config)
cursor = cnx.cursor()

for situacao in situacoes_candidatura.itertuples():
    nova_situacao = ("INSERT INTO situacao_candidatura "
                   "(id, descricao) "
                   "VALUES (%(codigo_tse)s, %(descricao)s)")
    cursor.execute(nova_situacao, {
        'codigo_tse': situacao.codigo_tse,
        'descricao': situacao.descricao
    })
    cnx.commit()

cursor.close()
cnx.close()

## Resultado de Candidatura

In [156]:
resultados_candidatura = (
    df[[
        'COD_SIT_TOT_TURNO',
        'DESC_SIT_TOT_TURNO'
    ]]
    .drop_duplicates('COD_SIT_TOT_TURNO', keep='last')
    .sort_values(by=['COD_SIT_TOT_TURNO'], ascending=True, na_position='first')
    .rename(columns = {
        'COD_SIT_TOT_TURNO': 'codigo_tse',
        'DESC_SIT_TOT_TURNO': 'descricao'
    })
)[3:15]

In [157]:
resultados_candidatura

        codigo_tse                                     descricao
1837255          1                                        ELEITO
826076          10                                   SUBSTITUÍDO
829630          11                        INDEFERIDO COM RECURSO
807433          12                           CASSADO COM RECURSO
1837251          2                                 ELEITO POR QP
1837219          3                              ELEITO POR MÉDIA
1837246          4                                    NÃO ELEITO
1837258          5                                      SUPLENTE
1829480          6                                      2º TURNO
825631           7  RENÚNCIA/FALECIMENTO/CASSAÇÃO APÓS A ELEIÇÃO
829639           8              REGISTRO NEGADO ANTES DA ELEIÇÃO
820781           9                REGISTRO NEGADO APÓS A ELEIÇÃO

In [158]:
cnx = mysql.connect(**config)
cursor = cnx.cursor()

for resultado in resultados_candidatura.itertuples():
    novo_resultado = ("INSERT INTO resultado_candidatura "
                   "(id, descricao) "
                   "VALUES (%(codigo_tse)s, %(descricao)s)")
    cursor.execute(novo_resultado, {
        'codigo_tse': resultado.codigo_tse,
        'descricao': resultado.descricao
    })
    cnx.commit()

cursor.close()
cnx.close()

## Candidatos

In [4]:
candidatos = (
    df[[
        'NOME_CANDIDATO',
        'DATA_NASCIMENTO',
        'CPF_CANDIDATO',
        'NUM_TITULO_ELEITORAL_CANDIDATO',
        'NM_EMAIL',
        'NOME_MUNICIPIO_NASCIMENTO',
        'CODIGO_NACIONALIDADE',
        'COD_GRAU_INSTRUCAO',
        'CODIGO_OCUPACAO',
    ]]
    .drop_duplicates('CPF_CANDIDATO', keep='last')
    # .sort_values(by=['NOME_CANDIDATO'], ascending=True, na_position='first')
    .rename(columns = {
        'NOME_CANDIDATO': 'nome',
        'DATA_NASCIMENTO': 'data_nascimento',
        'CPF_CANDIDATO': 'cpf',
        'NUM_TITULO_ELEITORAL_CANDIDATO': 'titulo_eleitoral',
        'NM_EMAIL': 'email',
        'NOME_MUNICIPIO_NASCIMENTO': 'cidade',
        'CODIGO_NACIONALIDADE': 'nacionalidade',
        'COD_GRAU_INSTRUCAO': 'grau_instrucao',
        'CODIGO_OCUPACAO': 'ocupacao'
    })
)

In [5]:
candidatos

,nome,data_nascimento,cpf,titulo_eleitoral,email,cidade,nacionalidade,grau_instrucao,ocupacao
0,JOÃO DE ALMEIDA,26081957,18139124249,000356682496,NaN,TENENTE PORTELA,1,4,601
1,PAULO CÉSAR FERREIRA DE ARAUJO,08041957,07857136204,000525772445,NaN,ACRELÂNDIA,1,3,601
3,ERAIDES CAETANO DE SOUZA,26081957,40917860900,002817512496,NaN,ACRELÂNDIA,1,0,601
12,DAMARIS DE OLIVEIRA,24091966,49488929200,000968162410,NaN,UBIRATÃ,1,6,999
14,EDILENE SILVA DOS REIS,07041971,38950707268,020802772232,NaN,CAARAPO,1,3,999
16,EDNA BERNARDINO E SILVA,29061958,34006451253,001738842445,NaN,GUARACI,1,8,143
18,ERACIDES CAETANO DE SOUZA,14011950,17630207972,002817542437,NaN,TAIO,1,6,999
19,ESTEVÃO DE SOUZA FERREIRA,26121978,61072621215,003157012461,NaN,RIO BRANCO,1,6,999
20,FRANCISCO ANTONIO DA SILVA DIAS,15061964,21580430244,000764552488,NaN,BOCA DO ACRE,1,7,143
23,IVAN DA SILVA FERREIRA,23041974,44378793253,002187552488,NaN,SENA MADUREIRA,1,6,999
26,JOSÉ GILDICELLI TEIXEIRA DA SILVA,14071955,19688440230,000405262445,NaN,BRASILÉIA,1,6,143
27,JOSÉ IDNILTON SANTOS DA SILVA,10021961,13331698253,000612792402,NaN,RIO BRANCO,1,8,999
28,JOSÉ LAURINDO,17111934,04876563187,003181562410,NaN,SÃO ROQUE DE MINAS,1,8,296
30,JOSÉ URLANIO DE LIMA,09091969,21678545287,001867852470,NaN,UMUARAMA,1,6,999
32,JURACI JULIO PEREIRA,12101957,00119685833,000355242402,NaN,ITAMARAJU,1,2,999
33,LUCINEIA APARECIDA FALCÃO DE ALMEIDA,18011972,62278789287,002800582461,NaN,JABOTI,1,6,143
34,LUZIA CASSIMIRO FILHO,03111968,47817704287,001567462429,NaN,MARILUZ,1,4,298
37,MARIA DE JESUS ANDER,25071952,23336510244,000180102461,NaN,PITANGA,2,4,109
38,OSVALDO COUTINHO,19091956,81129602834,002815132437,NaN,OLINDA ASSAD LETRA,1,3,999
40,RAIMUNDO PAZ DE MELO,12071963,33965790200,000475902445,NaN,RIO BRANCO,1,2,999
41,RENATO SALVADOR GUARECHI,01041970,36063169253,002884752453,NaN,COLATINA,1,4,999
45,SEBASTIÃO RITA DE CARVALHO,20011962,21600899234,000180142496,NaN,PARANAPOEMA,1,6,999
46,SOLANGE DE AMORIM SOUZA,22021972,41223330249,000198292437,NaN,RIO BRANCO,1,6,999
48,VANILTON MORAIS DE OLIVEIRA,29031969,30560330200,002242392470,NaN,SANTA MARIA DA VITÓRIA,1,5,601
50,MANOEL BATISTA DE ARAÚJO,03031968,19697120234,001547772410,NaN,BRASILEIA,1,6,143
51,DORISMAR GOMES RIBEIRO,04051957,12892262291,000141032488,NaN,BRASILEIA,1,6,297
52,SÔNIA MARIA ARAÚJO BESSA,02061962,09139583287,000139702402,NaN,RIO BRANCO,1,6,143
53,AGRINALDO RODRIGUES MOTA,31081973,72574275268,003520082402,NaN,BRASILEIA,1,3,601
54,ALEXANDRE ARAÚJO DE ALMEIDA,15011985,74811045220,003356382488,NaN,BRASILEIA,1,5,999
55,ALOÍSIO REBOUÇAS DE MELO,09121959,09561579200,001389392445,NaN,XAPURI,1,3,411
...,...,...,...,...,...,...,...,...,...
1837229,NERIO PEREIRA DA SILVA,10/05/1957,18542603168,033629232747,ZEDOLINHA@HOTMAIL.COM,TAGUATINGA,1,3,999
1837230,FRANCO BARBOSA DE SOUSA,11/11/1987,03225102369,057684521198,M.F.PICARRAMCFLY@GMAIL.COM,PASTOS BONS,1,6,512
1837231,JOSÉ WALDIR DE ARAÚJO,18/05/1977,83510001168,032836722747,IRINEIA.HOLANDA@OUTLOOK.COM,CAMPO GRANDE,1,6,390
1837232,PLINIO MEDEIROS,07/06/1948,03677311420,002657462658,PSDBARAGUAINA45@GMAIL.COM,LIMOEIRO,1,7,923
1837233,GICELDA PEREIRA DE SOUSA MOURA,05/09/1987,90433084200,053587241333,UNIDOSPORBRASILANDIA20@GMAIL.COM,CONCEIÇAO DO ARAGUAIA,1,6,601
1837234,MARCOS ANTONIO DE OLIVEIRA,27/04/1976,78518458072,031528412747,PITADEARRUDA@YAHOO.COM.BR,JAGUARUANA,1,6,254
1837235,JOSE DE JESUS VERAS COSTA,06/10/1970,47065761134,034597032747,AVANTEFORMOSO28@GMAIL.COM,PARAISO DO TOCANTINS,1,3,278
1837236,JANANE SILVA NASCIMENTO,18/07/1989,01818927152,038021712747,UNIDOSPORBRASILANDIA20@GMAIL.COM,ARAPOEMA TO,1,3,999
1837237,DIONE PAULINHO DA SILVA,08/10/1990,03586129181,038279912763,LARIOS1958@GMAIL.COM,SAMPAIO,1,6,601
1837238,RUBERVAL FEITOSA PEREIRA,04/09/1978,85646130344,031911322739,EDMARSARAIVAMOTA@GMAIL.COM,TOCANTINOPOLIS,1,4,298
1837239,LUCAS GOMES DE ALMEIDA SANTOS,10/10/1993,05201785131,039209622780,LUCASGOMES08@HOTMAIL.COM.BR,AURORA DO TOCANTINS,1,7,931
1837240,CAMILA DOS SANTOS SOUSA,18/04/1992,04443482121,039034422798,COLIGACAOOPOVONOPODER@GMAIL.COM,AXIXÁ DO TOCANTINS,1,6,999
1837241,SILVEIRA FAGUNDES DA SILVA,01/01/1963,51038056691,016600262763,MEIRELES-RIBEIRO@HOTMAIL.COM,SERRA DA SAUDADE,1,8,266
1837242,JOSÉ MARIA FERNANDES DA SILVA,11/03/1951,47635380125,015195812739,TODOSPORMIRANORTE@GMAIL.COM,MIRANORTE,1,4,169
1837243,MARIA SELMA ROCHA DOS SANTOS,17/12/1979,00306454173,034635792739,TODOSPORMIRANORTE@GMAIL.COM,MIRANORTE,1,5,999
1837244,ANTONIO INACIO LEITÃO,15/06/1969,47723742134,022451762755,MIRACEMAQUERMUDANCA_15@HOTMAIL.COM,MANITUBA,1,3,999
1837245,JOSÉ COELHO MAURIZ,10/04/1970,15519779821,016913921520,MIRACEMAQUERMUDANCA_15@HOTMAIL.COM,SIMPLICIO MENDES,1,4,257
1837246,NEIVA GOMES DE ALENCAR,28/08/1979,00332326101,034252012704,JOSIANO_100@HOTMAIL.COM,CRISTALANDIA,1,8,298
1837247,JOAOZINEI FRANCISCO DA ROCHA,07/08/1978,97148733120,041659041007,CLAUDINEI-ROCHA@HOTMAIL.COM,GOIANIA,1,8,111
1837248,RAIMUNDO PEREIRA DOS SANTOS NETO,12/06/1965,40139280359,033743202771,PAIZIM43123@HOTMAIL.COM,TOCANTINOPOLIS,1,2,298
1837249,ISMAR LIMA XAVIER,30/08/1979,90997611120,048802331066,CAMPANHAPAUDARCO2016@GMAIL.COM,PORTO FRANCO,1,6,402
1837250,DORISMAR CORDEIRO DA SILVA,11/11/1978,94983380191,032734862771,SIMONEBAZEVEDO2016@HOTMAIL.COM,PEIXE,1,7,278
1837251,LINDOMA ALMEIDA DA SILVA,19/08/1976,01516951131,034788412771,GIVANILDOJUBI@HOTMAIL.COM,AURORA DO TOCANTINS,1,6,278
1837252,ZULEICA SILVA NEGRI BARROS,01/10/1972,00116326662,027009932798,ZFVIDEOPRODUCOES@GMAIL.COM,PORONGATU,1,8,171
1837253,VHALLERIA RIBEIRO PEREIRA,02/12/1997,04771913129,040320122704,VHALLERIARP@GMAIL.COM,ARRAIAS,1,6,931
1837254,JORGE DA SILVA,08/10/1968,33297240130,032836852763,COLIGAUNIDOSVENCEREMOS@GMAIL.COM,GOVERNADOR ARCHER,1,4,257
1837255,CARLOS ALBERTO RODRIGUES DA SILVA,26/11/1976,74985442372,033807392763,COLIGAUNIDOSVENCEREMOS@GMAIL.COM,PASSAGEM FRANCA,1,8,275
1837256,ELIAS EVANGELISTA DA COSTA,26/08/1968,48535559191,022770912771,FABRICIANO4744@GMAIL.COM,NOVO BRASIL,1,3,606
1837257,ANTÔNIO CARLOS ANDRADE JARDIM,13/06/1962,28252438172,015219732798,TODOSPORMIRANORTE@GMAIL.COM,MIRANORTE,1,3,257
1837258,RAIMUNDO FRANOMAR ROCHA MARTINS,06/08/1969,87960109168,022595862747,JFAGUIAR233@GMAIL.COM,ITAGUATINS,1,6,606

### Observações

Será necessário checar algumas coisas para podermos preencher corretamente todas as entradas

**Email**

Checar se o `type` é do tipo `str`, caso contrário, será nulo

exemplo: `type(candidatos.iloc[1000000].email) == str`

In [183]:
print(candidatos.iloc[1000000].email)
print(type(candidatos.iloc[1000000].email) == str)

print(candidatos.iloc[0].email)
print(type(candidatos.iloc[0].email) == str)

VITORSOURE@HOTMAIL.COM
True
nan
False

In [6]:
def email_valido(email):
    return type(email) == str

**Data de Nascimento**

Existem diversos tipos de data de nascimento

```
ANO_ELEICAO     DATA_NASCIMENTO
2004            01061949
2006            08/04/1945
2008            26-OCT-59
2010            03-JAN-34
2012            15/02/1958
2014            12/10/1965
2016            06/08/1969
```

In [7]:
def formatar_data(data):
    meses = {
        'JAN': '01',
        'FEB': '02',
        'MAR': '03',
        'APR': '04',
        'MAY': '05',
        'JUN': '06',
        'JUL': '07',
        'AUG': '08',
        'SEP': '09',
        'OCT': '10',
        'NOV': '11',
        'DEC': '12',
    }
    
    if len(data) == 8:
        return data[4:8] + '-' + data[2:4] + '-' + data[0:2]
    elif '/' in data:
        return data[6:10] + '-' + data[3:5] + '-' + data[0:2]
    elif '-' in data:
        dia = data[0:2]
        mes = meses[data[3:6]]
        ano = ('19' + data[7:9]) if (int(data[7:9]) > 18) else ('20' + data[7:9])
        return ano + '-' + mes + '-' + dia
    else:
        print("formatar_data: " + data)
        return None

print(formatar_data('01061949'))
print(formatar_data('08/04/1945'))
print(formatar_data('26-OCT-59'))
print(formatar_data('26OCT59'))

1949-06-01
1945-04-08
1959-10-26
formatar_data: 26OCT59
None

**Elementos indesejados**

Vamos eliminar as duas entradas problemáticas para evitar transtornos

In [8]:
df_candidatos = df[
    (df['CPF_CANDIDATO'] != '#NULO#') & (df['CODIGO_CARGO'] != 91)
    ].drop(df.index[[653018, 743740]])

In [9]:
df_candidatos

,ANO_ELEICAO,CODIGO_CARGO,CODIGO_COR_RACA,CODIGO_ESTADO_CIVIL,CODIGO_LEGENDA,CODIGO_MUNICIPIO_NASCIMENTO,CODIGO_NACIONALIDADE,CODIGO_OCUPACAO,CODIGO_SEXO,COD_GRAU_INSTRUCAO,...,NUMERO_CANDIDATO,NUMERO_PARTIDO,NUM_TITULO_ELEITORAL_CANDIDATO,NUM_TURNO,SEQUENCIAL_CANDIDATO,SIGLA_LEGENDA,SIGLA_PARTIDO,SIGLA_UE,SIGLA_UF,SIGLA_UF_NASCIMENTO
0,2004,11,NaN,3,5,-1,1,601,2,4,...,13.0,13,000356682496,1,6,#NE#,PT,01120,AC,RS
1,2004,11,NaN,3,1,-1,1,601,2,3,...,14.0,14,000525772445,1,1,#NE#,PTB,01120,AC,AC
2,2004,11,NaN,3,12,-1,1,143,2,8,...,45.0,45,002053882488,1,27,#NE#,PSDB,01120,AC,PR
3,2004,12,NaN,3,7,-1,1,601,2,0,...,13.0,40,002817512496,1,7,#NE#,PSB,01120,AC,AC
4,2004,12,NaN,5,3,-1,1,143,2,8,...,14.0,14,002600402445,1,2,#NE#,PTB,01120,AC,AC
5,2004,12,NaN,3,14,-1,1,999,2,4,...,45.0,15,000411782470,1,28,#NE#,PMDB,01120,AC,PR
6,2004,13,NaN,3,18,-1,1,999,2,2,...,15120.0,15,001022542470,1,43,#NE#,PMDB,01120,AC,PR
7,2004,13,NaN,3,10,-1,1,601,2,3,...,13113.0,13,001750702445,1,23,#NE#,PT,01120,AC,ES
8,2004,13,NaN,3,10,-1,1,601,2,2,...,13613.0,13,001580082461,1,18,#NE#,PT,01120,AC,PR
9,2004,13,NaN,1,9,-1,1,999,2,4,...,43333.0,43,003552582461,1,8,#NE#,PV,01120,AC,RO
10,2004,13,NaN,1,2,-1,1,601,2,6,...,14014.0,14,003851432453,1,4,#NE#,PTB,01120,AC,AC
11,2004,13,NaN,3,10,-1,1,601,2,4,...,13456.0,13,002158792453,1,20,#NE#,PT,01120,AC,ES
12,2004,13,NaN,3,16,-1,1,999,4,6,...,45123.0,45,000968162410,1,32,#NE#,PSDB,01120,AC,PR
13,2004,13,NaN,3,18,-1,1,999,2,3,...,25555.0,25,002814592453,1,41,#NE#,PFL,01120,AC,PR
14,2004,13,NaN,1,18,-1,1,999,4,3,...,15123.0,15,020802772232,1,42,#NE#,PMDB,01120,AC,MS
15,2004,13,NaN,1,10,-1,1,227,2,3,...,13611.0,13,001738802410,1,19,#NE#,PT,01120,AC,PR
16,2004,13,NaN,3,16,-1,1,143,4,8,...,12345.0,12,001738842445,1,29,#NE#,PDT,01120,AC,PR
17,2004,13,NaN,3,16,-1,1,143,2,8,...,45678.0,45,002161102496,1,33,#NE#,PSDB,01120,AC,MG
18,2004,13,NaN,3,16,-1,1,999,2,6,...,45645.0,45,002817542437,1,34,#NE#,PSDB,01120,AC,SC
19,2004,13,NaN,1,18,-1,1,999,2,6,...,15130.0,15,003157012461,1,45,#NE#,PMDB,01120,AC,AC
20,2004,13,NaN,3,16,-1,1,143,2,7,...,12300.0,12,000764552488,1,30,#NE#,PDT,01120,AC,AM
21,2004,13,NaN,9,2,-1,1,601,2,3,...,14601.0,14,000924252437,1,3,#NE#,PTB,01120,AC,MA
22,2004,13,NaN,3,16,-1,1,999,2,4,...,45555.0,45,002817382410,1,35,#NE#,PSDB,01120,AC,BA
23,2004,13,NaN,1,18,-1,1,999,2,6,...,23456.0,23,002187552488,1,48,#NE#,PPS,01120,AC,AC
24,2004,13,NaN,3,9,-1,1,999,2,0,...,33222.0,33,003181972496,1,12,#NE#,PMN,01120,AC,AL
25,2004,13,NaN,3,10,-1,1,999,2,6,...,13333.0,13,000154372470,1,21,#NE#,PT,01120,AC,AC
26,2004,13,NaN,1,9,-1,1,143,2,6,...,40111.0,40,000405262445,1,15,#NE#,PSB,01120,AC,AC
27,2004,13,NaN,3,10,-1,1,999,2,8,...,13000.0,13,000612792402,1,26,#NE#,PT,01120,AC,AC
28,2004,13,NaN,1,9,-1,1,296,2,8,...,40240.0,40,003181562410,1,14,#NE#,PSB,01120,AC,MG
29,2004,13,NaN,3,18,-1,1,999,2,4,...,15110.0,15,002876952470,1,44,#NE#,PMDB,01120,AC,PR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1837229,2016,13,3.0,9,270000000706,-3,1,999,2,3,...,12456.0,12,033629232747,1,270000007727,#NULO#,PDT,96156,TO,TO
1837230,2016,13,2.0,1,270000000851,-3,1,512,2,6,...,36266.0,36,057684521198,1,270000009393,#NULO#,PTC,92410,TO,MA
1837231,2016,13,3.0,1,270000000546,-3,1,390,2,6,...,22123.0,22,032836722747,1,270000005784,#NULO#,PR,96857,TO,AL
1837232,2016,13,3.0,3,270000000812,-3,1,923,2,7,...,31444.0,31,002657462658,1,270000008849,#NULO#,PHS,92410,TO,PE
1837233,2016,13,3.0,3,270000000526,-3,1,601,4,6,...,25000.0,25,053587241333,1,270000005514,#NULO#,DEM,73245,TO,PA
1837234,2016,13,3.0,1,270000000824,-3,1,254,2,6,...,51234.0,51,031528412747,1,270000009049,#NULO#,PEN,92410,TO,CE
1837235,2016,13,3.0,1,270000000729,-3,1,278,2,3,...,31111.0,31,034597032747,1,270000008034,#NULO#,PHS,93653,TO,TO
1837236,2016,13,2.0,1,270000000526,-3,1,999,4,3,...,20333.0,20,038021712747,1,270000005527,#NULO#,PSC,73245,TO,TO
1837237,2016,13,3.0,1,270000000712,-3,1,601,2,6,...,44111.0,44,038279912763,1,270000007804,#NULO#,PRP,73423,TO,TO
1837238,2016,13,2.0,3,270000000289,-3,1,298,2,4,...,14444.0,14,031911322739,1,270000002864,#NULO#,PTB,73512,TO,TO
1837239,2016,13,3.0,1,270000000179,-3,1,931,2,7,...,40123.0,40,039209622780,1,270000001479,#NULO#,PSB,92533,TO,TO
1837240,2016,13,3.0,1,270000000588,-3,1,999,4,6,...,10456.0,10,039034422798,1,270000006363,#NULO#,PRB,92525,TO,TO
1837241,2016,13,1.0,3,270000000547,-3,1,266,2,8,...,27777.0,27,016600262763,1,270000005806,#NULO#,PSDC,92134,TO,MG
1837242,2016,13,3.0,3,270000000881,-3,1,169,2,4,...,15051.0,15,015195812739,1,270000005837,#NULO#,PMDB,94633,TO,GO
1837243,2016,13,3.0,1,270000000882,-3,1,999,4,5,...,25123.0,25,034635792739,1,270000005843,#NULO#,DEM,94633,TO,TO
1837244,2016,13,3.0,9,270000000734,-3,1,999,2,3,...,15999.0,15,022451762755,1,270000008068,#NULO#,PMDB,94617,TO,CE
1837245,2016,13,1.0,1,270000000734,-3,1,257,2,4,...,15015.0,15,016913921520,1,270000008070,#NULO#,PMDB,94617,TO,PI
1837246,2016,12,3.0,3,270000000590,-3,1,298,4,8,...,55.0,40,034252012704,1,270000006383,#NULO#,PSB,73555,TO,TO
1837247,2016,11,1.0,1,270000000716,-3,1,111,2,8,...,25.0,25,041659041007,1,270000010291,#NULO#,DEM,96792,TO,GO
1837248,2016,13,3.0,9,270000000555,-3,1,298,2,2,...,43123.0,43,033743202771,1,270000005918,#NULO#,PV,73512,TO,TO
1837249,2016,13,2.0,1,270000000647,-3,1,402,2,6,...,43123.0,43,048802331066,1,270000007049,#NULO#,PV,73261,TO,MA
1837250,2016,13,1.0,3,270000000599,-3,1,278,2,7,...,40000.0,40,032734862771,1,270000006440,#NULO#,PSB,73377,TO,TO
1837251,2016,13,3.0,3,270000000604,-3,1,278,2,6,...,15123.0,15,034788412771,1,270000006501,#NULO#,PMDB,96156,TO,TO
1837252,2016,13,2.0,3,270000000804,-3,1,171,4,8,...,51765.0,51,027009932798,1,270000008687,#NULO#,PEN,73440,TO,GO
1837253,2016,13,2.0,1,270000000831,-3,1,931,4,6,...,13123.0,13,040320122704,1,270000009131,#NULO#,PT,92479,TO,TO
1837254,2016,13,2.0,3,270000000739,-3,1,257,2,4,...,22444.0,22,032836852763,1,270000008160,#NULO#,PR,73423,TO,MA
1837255,2016,11,1.0,3,270000000739,-3,1,275,2,8,...,11.0,11,033807392763,1,270000008166,#NULO#,PP,73423,TO,MA
1837256,2016,13,1.0,1,270000000545,-3,1,606,2,3,...,14444.0,14,022770912771,1,270000005767,#NULO#,PTB,73598,TO,GO
1837257,2016,13,1.0,3,270000000881,-3,1,257,2,3,...,15101.0,15,015219732798,1,270000005831,#NULO#,PMDB,94633,TO,TO
1837258,2016,13,1.0,3,270000000941,-3,1,606,2,6,...,45123.0,45,022595862747,1,270000010001,#NULO#,PSDB,73180,TO,TO

In [10]:
candidatos = (
    df_candidatos[[
        'NOME_CANDIDATO',
        'DATA_NASCIMENTO',
        'CPF_CANDIDATO',
        'NUM_TITULO_ELEITORAL_CANDIDATO',
        'NM_EMAIL',
        'NOME_MUNICIPIO_NASCIMENTO',
        'SIGLA_UF_NASCIMENTO',
        'CODIGO_NACIONALIDADE',
        'COD_GRAU_INSTRUCAO',
        'CODIGO_OCUPACAO',
    ]]
    .drop_duplicates('CPF_CANDIDATO', keep='last')
    # .sort_values(by=['NOME_CANDIDATO'], ascending=True, na_position='first')
    .rename(columns = {
        'NOME_CANDIDATO': 'nome',
        'DATA_NASCIMENTO': 'data_nascimento',
        'CPF_CANDIDATO': 'cpf',
        'NUM_TITULO_ELEITORAL_CANDIDATO': 'titulo_eleitoral',
        'NM_EMAIL': 'email',
        'NOME_MUNICIPIO_NASCIMENTO': 'cidade',
        'SIGLA_UF_NASCIMENTO': 'estado',
        'CODIGO_NACIONALIDADE': 'nacionalidade',
        'COD_GRAU_INSTRUCAO': 'grau_instrucao',
        'CODIGO_OCUPACAO': 'ocupacao'
    })
)

In [11]:
candidatos

,nome,data_nascimento,cpf,titulo_eleitoral,email,cidade,estado,nacionalidade,grau_instrucao,ocupacao
0,JOÃO DE ALMEIDA,26081957,18139124249,000356682496,NaN,TENENTE PORTELA,RS,1,4,601
1,PAULO CÉSAR FERREIRA DE ARAUJO,08041957,07857136204,000525772445,NaN,ACRELÂNDIA,AC,1,3,601
3,ERAIDES CAETANO DE SOUZA,26081957,40917860900,002817512496,NaN,ACRELÂNDIA,AC,1,0,601
12,DAMARIS DE OLIVEIRA,24091966,49488929200,000968162410,NaN,UBIRATÃ,PR,1,6,999
14,EDILENE SILVA DOS REIS,07041971,38950707268,020802772232,NaN,CAARAPO,MS,1,3,999
16,EDNA BERNARDINO E SILVA,29061958,34006451253,001738842445,NaN,GUARACI,PR,1,8,143
18,ERACIDES CAETANO DE SOUZA,14011950,17630207972,002817542437,NaN,TAIO,SC,1,6,999
19,ESTEVÃO DE SOUZA FERREIRA,26121978,61072621215,003157012461,NaN,RIO BRANCO,AC,1,6,999
20,FRANCISCO ANTONIO DA SILVA DIAS,15061964,21580430244,000764552488,NaN,BOCA DO ACRE,AM,1,7,143
23,IVAN DA SILVA FERREIRA,23041974,44378793253,002187552488,NaN,SENA MADUREIRA,AC,1,6,999
26,JOSÉ GILDICELLI TEIXEIRA DA SILVA,14071955,19688440230,000405262445,NaN,BRASILÉIA,AC,1,6,143
27,JOSÉ IDNILTON SANTOS DA SILVA,10021961,13331698253,000612792402,NaN,RIO BRANCO,AC,1,8,999
28,JOSÉ LAURINDO,17111934,04876563187,003181562410,NaN,SÃO ROQUE DE MINAS,MG,1,8,296
30,JOSÉ URLANIO DE LIMA,09091969,21678545287,001867852470,NaN,UMUARAMA,PR,1,6,999
32,JURACI JULIO PEREIRA,12101957,00119685833,000355242402,NaN,ITAMARAJU,BA,1,2,999
33,LUCINEIA APARECIDA FALCÃO DE ALMEIDA,18011972,62278789287,002800582461,NaN,JABOTI,RJ,1,6,143
34,LUZIA CASSIMIRO FILHO,03111968,47817704287,001567462429,NaN,MARILUZ,PR,1,4,298
37,MARIA DE JESUS ANDER,25071952,23336510244,000180102461,NaN,PITANGA,PR,2,4,109
38,OSVALDO COUTINHO,19091956,81129602834,002815132437,NaN,OLINDA ASSAD LETRA,PR,1,3,999
40,RAIMUNDO PAZ DE MELO,12071963,33965790200,000475902445,NaN,RIO BRANCO,AC,1,2,999
41,RENATO SALVADOR GUARECHI,01041970,36063169253,002884752453,NaN,COLATINA,ES,1,4,999
45,SEBASTIÃO RITA DE CARVALHO,20011962,21600899234,000180142496,NaN,PARANAPOEMA,PR,1,6,999
46,SOLANGE DE AMORIM SOUZA,22021972,41223330249,000198292437,NaN,RIO BRANCO,AC,1,6,999
48,VANILTON MORAIS DE OLIVEIRA,29031969,30560330200,002242392470,NaN,SANTA MARIA DA VITÓRIA,BA,1,5,601
50,MANOEL BATISTA DE ARAÚJO,03031968,19697120234,001547772410,NaN,BRASILEIA,AC,1,6,143
51,DORISMAR GOMES RIBEIRO,04051957,12892262291,000141032488,NaN,BRASILEIA,AC,1,6,297
52,SÔNIA MARIA ARAÚJO BESSA,02061962,09139583287,000139702402,NaN,RIO BRANCO,AC,1,6,143
53,AGRINALDO RODRIGUES MOTA,31081973,72574275268,003520082402,NaN,BRASILEIA,AC,1,3,601
54,ALEXANDRE ARAÚJO DE ALMEIDA,15011985,74811045220,003356382488,NaN,BRASILEIA,AC,1,5,999
55,ALOÍSIO REBOUÇAS DE MELO,09121959,09561579200,001389392445,NaN,XAPURI,AC,1,3,411
...,...,...,...,...,...,...,...,...,...,...
1837229,NERIO PEREIRA DA SILVA,10/05/1957,18542603168,033629232747,ZEDOLINHA@HOTMAIL.COM,TAGUATINGA,TO,1,3,999
1837230,FRANCO BARBOSA DE SOUSA,11/11/1987,03225102369,057684521198,M.F.PICARRAMCFLY@GMAIL.COM,PASTOS BONS,MA,1,6,512
1837231,JOSÉ WALDIR DE ARAÚJO,18/05/1977,83510001168,032836722747,IRINEIA.HOLANDA@OUTLOOK.COM,CAMPO GRANDE,AL,1,6,390
1837232,PLINIO MEDEIROS,07/06/1948,03677311420,002657462658,PSDBARAGUAINA45@GMAIL.COM,LIMOEIRO,PE,1,7,923
1837233,GICELDA PEREIRA DE SOUSA MOURA,05/09/1987,90433084200,053587241333,UNIDOSPORBRASILANDIA20@GMAIL.COM,CONCEIÇAO DO ARAGUAIA,PA,1,6,601
1837234,MARCOS ANTONIO DE OLIVEIRA,27/04/1976,78518458072,031528412747,PITADEARRUDA@YAHOO.COM.BR,JAGUARUANA,CE,1,6,254
1837235,JOSE DE JESUS VERAS COSTA,06/10/1970,47065761134,034597032747,AVANTEFORMOSO28@GMAIL.COM,PARAISO DO TOCANTINS,TO,1,3,278
1837236,JANANE SILVA NASCIMENTO,18/07/1989,01818927152,038021712747,UNIDOSPORBRASILANDIA20@GMAIL.COM,ARAPOEMA TO,TO,1,3,999
1837237,DIONE PAULINHO DA SILVA,08/10/1990,03586129181,038279912763,LARIOS1958@GMAIL.COM,SAMPAIO,TO,1,6,601
1837238,RUBERVAL FEITOSA PEREIRA,04/09/1978,85646130344,031911322739,EDMARSARAIVAMOTA@GMAIL.COM,TOCANTINOPOLIS,TO,1,4,298
1837239,LUCAS GOMES DE ALMEIDA SANTOS,10/10/1993,05201785131,039209622780,LUCASGOMES08@HOTMAIL.COM.BR,AURORA DO TOCANTINS,TO,1,7,931
1837240,CAMILA DOS SANTOS SOUSA,18/04/1992,04443482121,039034422798,COLIGACAOOPOVONOPODER@GMAIL.COM,AXIXÁ DO TOCANTINS,TO,1,6,999
1837241,SILVEIRA FAGUNDES DA SILVA,01/01/1963,51038056691,016600262763,MEIRELES-RIBEIRO@HOTMAIL.COM,SERRA DA SAUDADE,MG,1,8,266
1837242,JOSÉ MARIA FERNANDES DA SILVA,11/03/1951,47635380125,015195812739,TODOSPORMIRANORTE@GMAIL.COM,MIRANORTE,GO,1,4,169
1837243,MARIA SELMA ROCHA DOS SANTOS,17/12/1979,00306454173,034635792739,TODOSPORMIRANORTE@GMAIL.COM,MIRANORTE,TO,1,5,999
1837244,ANTONIO INACIO LEITÃO,15/06/1969,47723742134,022451762755,MIRACEMAQUERMUDANCA_15@HOTMAIL.COM,MANITUBA,CE,1,3,999
1837245,JOSÉ COELHO MAURIZ,10/04/1970,15519779821,016913921520,MIRACEMAQUERMUDANCA_15@HOTMAIL.COM,SIMPLICIO MENDES,PI,1,4,257
1837246,NEIVA GOMES DE ALENCAR,28/08/1979,00332326101,034252012704,JOSIANO_100@HOTMAIL.COM,CRISTALANDIA,TO,1,8,298
1837247,JOAOZINEI FRANCISCO DA ROCHA,07/08/1978,97148733120,041659041007,CLAUDINEI-ROCHA@HOTMAIL.COM,GOIANIA,GO,1,8,111
1837248,RAIMUNDO PEREIRA DOS SANTOS NETO,12/06/1965,40139280359,033743202771,PAIZIM43123@HOTMAIL.COM,TOCANTINOPOLIS,TO,1,2,298
1837249,ISMAR LIMA XAVIER,30/08/1979,90997611120,048802331066,CAMPANHAPAUDARCO2016@GMAIL.COM,PORTO FRANCO,MA,1,6,402
1837250,DORISMAR CORDEIRO DA SILVA,11/11/1978,94983380191,032734862771,SIMONEBAZEVEDO2016@HOTMAIL.COM,PEIXE,TO,1,7,278
1837251,LINDOMA ALMEIDA DA SILVA,19/08/1976,01516951131,034788412771,GIVANILDOJUBI@HOTMAIL.COM,AURORA DO TOCANTINS,TO,1,6,278
1837252,ZULEICA SILVA NEGRI BARROS,01/10/1972,00116326662,027009932798,ZFVIDEOPRODUCOES@GMAIL.COM,PORONGATU,GO,1,8,171
1837253,VHALLERIA RIBEIRO PEREIRA,02/12/1997,04771913129,040320122704,VHALLERIARP@GMAIL.COM,ARRAIAS,TO,1,6,931
1837254,JORGE DA SILVA,08/10/1968,33297240130,032836852763,COLIGAUNIDOSVENCEREMOS@GMAIL.COM,GOVERNADOR ARCHER,MA,1,4,257
1837255,CARLOS ALBERTO RODRIGUES DA SILVA,26/11/1976,74985442372,033807392763,COLIGAUNIDOSVENCEREMOS@GMAIL.COM,PASSAGEM FRANCA,MA,1,8,275
1837256,ELIAS EVANGELISTA DA COSTA,26/08/1968,48535559191,022770912771,FABRICIANO4744@GMAIL.COM,NOVO BRASIL,GO,1,3,606
1837257,ANTÔNIO CARLOS ANDRADE JARDIM,13/06/1962,28252438172,015219732798,TODOSPORMIRANORTE@GMAIL.COM,MIRANORTE,TO,1,3,257
1837258,RAIMUNDO FRANOMAR ROCHA MARTINS,06/08/1969,87960109168,022595862747,JFAGUIAR233@GMAIL.COM,ITAGUATINS,TO,1,6,606

Observações
- Algumas 'cidades de nascimento' são inválidas
- Algumas datas de nascimento estão com tipo float
- Alguns estados estão com tipo float

In [15]:
cnx = mysql.connect(**config)
cursor = cnx.cursor(buffered=True)

for candidato in candidatos.itertuples():
    # Buscar id da cidade
    query = ("SELECT id FROM cidade WHERE "
             "nome = '" + candidato.cidade + "' AND "
             "estado_id = (SELECT id FROM estado WHERE sigla = '" + str(candidato.estado) + "')")
    cursor.execute(query)
    cidades = cursor.fetchall()
    cidade_id = cidades[0][0] if len(cidades) > 0 else None

    # Cadastrar candidato
    novo_candidato = ("INSERT INTO candidato "
                   "(nome, data_nascimento, cpf, titulo_eleitoral, email, cidade_id, ocupacao_id, nacionalidade_id, grau_instrucao_id) "
                   "VALUES (%(nome)s, %(data_nascimento)s, %(cpf)s, %(titulo_eleitoral)s, %(email)s, %(cidade_id)s, %(ocupacao)s, %(nacionalidade)s, %(grau_instrucao)s)")
    cursor.execute(novo_candidato, {
        'nome': candidato.nome,
        'data_nascimento': formatar_data(str(candidato.data_nascimento)),
        'cpf': candidato.cpf,
        'titulo_eleitoral': candidato.titulo_eleitoral,
        'email': candidato.email if email_valido(candidato.email) else None,
        'cidade_id': cidade_id,
        'ocupacao': candidato.ocupacao if (int(candidato.ocupacao) >= 0 & int(candidato.ocupacao)) <= 999 else 0,
        'nacionalidade': candidato.nacionalidade if (int(candidato.nacionalidade) >= 0 & int(candidato.nacionalidade) <= 4) else 0,
        'grau_instrucao': candidato.grau_instrucao if (int(candidato.grau_instrucao) >= 0 & int(candidato.grau_instrucao) <= 8) else 0
    })
    cnx.commit()

cursor.close()
cnx.close()

formatar_data: nan

TypeError: must be str, not float

In [27]:
cnx = mysql.connect(**config)
cursor = cnx.cursor(buffered=True)
candidato = candidatos.iloc[18]
query = ("SELECT id FROM cidade WHERE "
             "nome = '" + candidato.cidade + "' AND "
             "estado_id = (SELECT id FROM estado WHERE sigla = '" + str(candidato.estado) + "')")
print(query)
cursor.execute(query)
cidades = cursor.fetchall()
cidade_id = cidades[0][0] if len(cidades) > 0 else None
print(cidade_id)
cursor.close()
cnx.close()

SELECT id FROM cidade WHERE nome = 'OLINDA ASSAD LETRA' AND estado_id = (SELECT id FROM estado WHERE sigla = 'PR')
None

In [310]:
candidatos.iloc[18].cidade

'OLINDA ASSAD LETRA'

In [22]:
print(type(str(candidatos.iloc[0].email)))
print(str(candidatos.iloc[0].email)[0])
print(type(candidatos.iloc[0].email))

<class 'str'>
n
<class 'float'>