# 11 abr 2018

O objetivo de hoje é terminar a migração dos datasets de candidatos (resta apenas o de 2008) separadamente. Feito isso, vamos alterar o algoritmos para que possamos migrar todos os dados de uma só vez, atualizando as informações do candidato

In [5]:
import pandas as pd
import numpy as np
import mysql.connector as mysql

In [2]:
import os
import glob

from utils.tse_data_headers import get_header

In [1]:
bd_config = {
    'user': 'root',
    'password': '',
    'host': '127.0.0.1',
    'database': 'laddres'
}

In [3]:
# DIRETORIO_TEMPORARIO = mkdtemp()
DIRETORIO_TEMPORARIO = os.path.join('../temp')

# Nome e endereço dos arquivos do diretório do TSE
PREFIXO_ARQUIVO_CANDIDATURAS = 'consulta_cand_'

In [5]:
import sys
import time

import utils.tse_parsers as parsers

def migrar_dados(ano):
    tempo_inicio_ano = time.time()

    arquivos = PREFIXO_ARQUIVO_CANDIDATURAS + str(ano) + '*.txt'
    pathes = os.path.join(DIRETORIO_TEMPORARIO, arquivos)
    arquivos_do_ano = sorted(glob.glob(pathes))

    for arquivo_estado in arquivos_do_ano:
        tempo_inicio_estado = time.time()
        print('Iniciando ', arquivo_estado)

        df_estado = pd.read_csv(
            arquivo_estado,
            sep = ';',
            header = None,
            dtype = np.str,
            names = get_header(ano),
            encoding = 'iso-8859-1'
        )

        candidatos = (
            df_estado[[
                'NOME_CANDIDATO',
                'DATA_NASCIMENTO',
                'CPF_CANDIDATO',
                'NUM_TITULO_ELEITORAL_CANDIDATO',
#                 'NM_EMAIL',
                'NOME_MUNICIPIO_NASCIMENTO',
                'SIGLA_UF_NASCIMENTO',
                'CODIGO_NACIONALIDADE',
                'COD_GRAU_INSTRUCAO',
                'CODIGO_OCUPACAO',
            ]]
            .drop_duplicates('CPF_CANDIDATO', keep='last')
            .rename(columns = {
                'NOME_CANDIDATO': 'nome',
                'DATA_NASCIMENTO': 'data_nascimento',
                'CPF_CANDIDATO': 'cpf',
                'NUM_TITULO_ELEITORAL_CANDIDATO': 'titulo_eleitoral',
#                 'NM_EMAIL': 'email',
                'NOME_MUNICIPIO_NASCIMENTO': 'cidade',
                'SIGLA_UF_NASCIMENTO': 'estado',
                'CODIGO_NACIONALIDADE': 'nacionalidade',
                'COD_GRAU_INSTRUCAO': 'grau_instrucao',
                'CODIGO_OCUPACAO': 'ocupacao'
            })
        )

        total_candidatos = candidatos.shape[0]
        print('Total de candidatos em', ano, ':', total_candidatos)


        cnx = mysql.connect(**bd_config)
        cursor = cnx.cursor(buffered=True)

        for candidato in candidatos.itertuples():
            # Buscar id da cidade
            cidade = parsers.parse_cidade(candidato.cidade)
            sigla_estado = parsers.parse_estado(candidato.estado)
            try:
                query = ("SELECT id FROM cidade WHERE "
                     "nome = \"" + cidade + "\" AND "
                     "estado_id = (SELECT id FROM estado WHERE sigla = '" + sigla_estado + "')")
            except:
                print('Candidato: {}'.format(candidato))
                print('Cidade: {}'.format(cidade))
                print('Sigla do Estado: {}'.format(sigla_estado))
                cursor.close()
                cnx.close()
                raise

            try:
                cursor.execute(query)
            except:
                print(candidato)
                print(query)
                cursor.close()
                cnx.close()
                raise

            cidades = cursor.fetchall()
            cidade_id = cidades[0][0] if len(cidades) > 0 else None

            # Cadastrar candidato
            novo_candidato = ("INSERT INTO candidato" + str(ano) + " "
                           "(nome, data_nascimento, cpf, titulo_eleitoral, email, cidade_id, ocupacao_id, nacionalidade_id, grau_instrucao_id) "
                           "VALUES (%(nome)s, %(data_nascimento)s, %(cpf)s, %(titulo_eleitoral)s, %(email)s, %(cidade_id)s, %(ocupacao)s, %(nacionalidade)s, %(grau_instrucao)s)")
            atributos = {
                'nome': parsers.parse_nome(candidato.nome),
                'data_nascimento': parsers.parse_data(candidato.data_nascimento),
                'cpf': parsers.parse_cpf(candidato.cpf),
                'titulo_eleitoral': parsers.parse_titulo_eleitoral(candidato.titulo_eleitoral),
                'email': None,
#                 'email': parsers.parse_email(candidato.email),
                'cidade_id': cidade_id,
                'ocupacao': parsers.parse_ocupacao(candidato.ocupacao),
                'nacionalidade': parsers.parse_nacionalidade(candidato.nacionalidade),
                'grau_instrucao': parsers.parse_grau_instrucao(candidato.grau_instrucao)
            }

            try:
                cursor.execute(novo_candidato, atributos)
                cnx.commit()
            except:
                print(candidato)
                cursor.close()
                cnx.close()
                raise

            sys.stdout.write('\r{} de {}'.format(candidato[0], total_candidatos))
            sys.stdout.flush()

        cursor.close()
        cnx.close()

        sys.stdout.write('\n')
        tempo_final_estado = time.time()
        print('Tempo total desse estado: {:.2f}s \n'.format((tempo_final_estado - tempo_inicio_estado)))

    tempo_final_ano = time.time()
    print('Tempo total em {}: {:.2f}s \n'.format(ano, (tempo_final_ano - tempo_inicio_ano)))

In [6]:
migrar_dados(2008)

Iniciando  ../temp\consulta_cand_2008_PR.txt
Total de candidatos em 2008 : 26051
26158 de 26051
Tempo total desse estado: 101.58s

Iniciando  ../temp\consulta_cand_2008_RJ.txt
Total de candidatos em 2008 : 15314
15371 de 15314
Tempo total desse estado: 56.58s

Iniciando  ../temp\consulta_cand_2008_RN.txt
Total de candidatos em 2008 : 7169
7192 de 7169
Tempo total desse estado: 26.92s

Iniciando  ../temp\consulta_cand_2008_RO.txt
Total de candidatos em 2008 : 4588
4605 de 4588
Tempo total desse estado: 18.11s

Iniciando  ../temp\consulta_cand_2008_RR.txt
Total de candidatos em 2008 : 1293
1308 de 1293
Tempo total desse estado: 4.83s

Iniciando  ../temp\consulta_cand_2008_RS.txt
Total de candidatos em 2008 : 23400
23481 de 23400
Tempo total desse estado: 96.09s

Iniciando  ../temp\consulta_cand_2008_SC.txt
Total de candidatos em 2008 : 14340
14392 de 14340
Tempo total desse estado: 56.79s

Iniciando  ../temp\consulta_cand_2008_SE.txt
Total de candidatos em 2008 : 4687
4710 de 4687
Tempo total desse estado: 17.16s

Iniciando  ../temp\consulta_cand_2008_SP.txt
Total de candidatos em 2008 : 63480
63632 de 63480
Tempo total desse estado: 277.33s

Iniciando  ../temp\consulta_cand_2008_TO.txt
Total de candidatos em 2008 : 6921
6935 de 6921
Tempo total desse estado: 27.12s

Tempo total em 2008: 682.51s

In [6]:
df = pd.read_csv(
    '../data/2018-04-04-candidaturas-tse.xz',
    low_memory=False
)

In [40]:
(df[['ANO_ELEICAO', 'DATA_NASCIMENTO', 'CPF_CANDIDATO', 'NUM_TITULO_ELEITORAL_CANDIDATO']]
#      .loc[df['CPF_CANDIDATO', 'NUM_TITULO_ELEITORAL_CANDIDATO'] == '#NULO#']
     .drop_duplicates(['CPF_CANDIDATO', 'NUM_TITULO_ELEITORAL_CANDIDATO'], keep='last')
     .sort_values(by=['CPF_CANDIDATO', 'NUM_TITULO_ELEITORAL_CANDIDATO'], ascending=True, na_position='first')
)
    

# ['ANO_ELEICAO', 'DATA_NASCIMENTO', 'CPF_CANDIDATO']
# df[(df['CPF_CANDIDATO'] != '#NULO#') & (df['CODIGO_CARGO'] != 91)]

,ANO_ELEICAO,DATA_NASCIMENTO,CPF_CANDIDATO,NUM_TITULO_ELEITORAL_CANDIDATO
390396,2004,NaN,#NULO#,#NI#
800173,2008,01-OCT-83,#NULO#,000000000055
800172,2008,01-OCT-83,#NULO#,000000000077
282287,2004,29091963,#NULO#,000069042631
282225,2004,28091947,#NULO#,000094342607
1345,2004,08101956,#NULO#,000264232470
282193,2004,21061951,#NULO#,000270002682
282669,2004,11021955,#NULO#,000288772623
282664,2004,19101942,#NULO#,000300262682
282167,2004,22031960,#NULO#,000320832682
282205,2004,13031958,#NULO#,000327962640
281816,2004,23091950,#NULO#,000436682623
224729,2004,23111954,#NULO#,000500871597
282173,2004,31031957,#NULO#,000501332666
264538,2004,31081951,#NULO#,000640470361
5994,2004,06051961,#NULO#,000779321767
323747,2004,03011958,#NULO#,001033302119
323803,2004,04061964,#NULO#,001033462186
282294,2004,18101968,#NULO#,001052252607
298,2004,12021963,#NULO#,001067152402
281622,2004,17121955,#NULO#,001097792323
13796,2004,22061950,#NULO#,001249762224
15937,2004,04041954,#NULO#,001264642585
321359,2004,12061957,#NULO#,001378670981
282585,2004,22011956,#NULO#,001515882682
768,2004,06021970,#NULO#,001580452402
10762,2004,30041948,#NULO#,001598372267
12259,2004,11091963,#NULO#,001656212208
146247,2004,15021965,#NULO#,001770410213
282926,2004,25101966,#NULO#,001795412640
...,...,...,...,...
866641,2012,10/02/1979,99993830500,082038150558
861517,2012,27/04/1979,99993929549,083866160574
1394007,2016,21/10/1979,99993970506,089568320507
796491,2008,30-NOV-57,99993970859,188775570191
1407354,2016,09/04/1968,99994232304,015494810701
674505,2008,28-JUL-54,99994623753,033471100302
1387659,2016,02/07/1977,99994674587,088105080531
1661180,2016,13/03/1968,99994844768,068311520345
261000,2004,04111964,99995034700,047671150370
572151,2008,26-JUN-75,99995115620,104333160221
1618816,2016,10/04/1973,99995360349,020749051589
1747078,2016,17/04/1957,99995492849,043759620191
1436367,2016,13/11/1983,99995530104,044430491031
515787,2008,29-JAN-81,99995727153,040778311120
628716,2008,24-JUN-41,99996332853,063739880876
46202,2004,11091977,99997126572,088328070540
1666786,2016,05/12/1970,99997339720,083347770310
975380,2012,17/01/1948,99997967887,012263970248
1717419,2016,12/07/1978,99998882087,069559300493
1360534,2016,17/01/1987,99999056253,005311512593
1190240,2012,03/12/1959,99999382053,044542510485
1654478,2016,01/09/1966,99999447791,044967710337
1196514,2012,25/05/1982,99999552072,074422330426
1186429,2012,28/05/1982,99999595049,076350110485
1193275,2012,17/07/1983,99999757049,080503580469
1475831,2016,04/12/1974,99999854672,151025410205
446,2004,14031966,99999999999,001546742402
27248,2004,11011938,99999999999,013565630507
27136,2004,15021966,99999999999,016246730507
27187,2004,30031952,99999999999,035476350540

---

In [1]:
import utils.tse_migrar_dados_por_estado as mdpe

In [2]:
mdpe.migrar_dados_candidato(2006)

Iniciando ../temp\consulta_cand_2006_AC.txt
Total de candidatos em 2006: 462
463 de 462
Tempo total desse estado: 1.88s

Iniciando ../temp\consulta_cand_2006_AL.txt
Total de candidatos em 2006: 393
395 de 393
Tempo total desse estado: 1.91s

Iniciando ../temp\consulta_cand_2006_AM.txt
Total de candidatos em 2006: 561
560 de 561
Tempo total desse estado: 2.43s

Iniciando ../temp\consulta_cand_2006_AP.txt
Total de candidatos em 2006: 386
385 de 386
Tempo total desse estado: 1.74s

Iniciando ../temp\consulta_cand_2006_BA.txt
Total de candidatos em 2006: 884
888 de 884
Tempo total desse estado: 4.46s

Iniciando ../temp\consulta_cand_2006_BR.txt
Total de candidatos em 2006: 16
19 de 16
Tempo total desse estado: 0.10s

Iniciando ../temp\consulta_cand_2006_CE.txt
Total de candidatos em 2006: 785
787 de 785
Tempo total desse estado: 3.99s

Iniciando ../temp\consulta_cand_2006_DF.txt
Total de candidatos em 2006: 863
869 de 863
Tempo total desse estado: 4.75s

Iniciando ../temp\consulta_cand_2006_ES.txt
Total de candidatos em 2006: 531
530 de 531
Tempo total desse estado: 3.03s

Iniciando ../temp\consulta_cand_2006_GO.txt
Total de candidatos em 2006: 728
741 de 728
Tempo total desse estado: 4.39s

Iniciando ../temp\consulta_cand_2006_MA.txt
Total de candidatos em 2006: 693
702 de 693
Tempo total desse estado: 4.33s

Iniciando ../temp\consulta_cand_2006_MG.txt
Total de candidatos em 2006: 1612
1629 de 1612
Tempo total desse estado: 11.37s

Iniciando ../temp\consulta_cand_2006_MS.txt
Total de candidatos em 2006: 309
311 de 309
Tempo total desse estado: 2.15s

Iniciando ../temp\consulta_cand_2006_MT.txt
Total de candidatos em 2006: 356
361 de 356
Tempo total desse estado: 2.53s

Iniciando ../temp\consulta_cand_2006_PA.txt
Total de candidatos em 2006: 700
705 de 700
Tempo total desse estado: 4.98s

Iniciando ../temp\consulta_cand_2006_PB.txt
Total de candidatos em 2006: 390
399 de 390
Tempo total desse estado: 2.92s

Iniciando ../temp\consulta_cand_2006_PE.txt
Total de candidatos em 2006: 797
801 de 797
Tempo total desse estado: 5.98s

Iniciando ../temp\consulta_cand_2006_PI.txt
Total de candidatos em 2006: 342
350 de 342
Tempo total desse estado: 2.62s

Iniciando ../temp\consulta_cand_2006_PR.txt
Total de candidatos em 2006: 919
923 de 919
Tempo total desse estado: 7.70s

Iniciando ../temp\consulta_cand_2006_RJ.txt
Total de candidatos em 2006: 2405
2415 de 2405
Tempo total desse estado: 20.46s

Iniciando ../temp\consulta_cand_2006_RN.txt
Total de candidatos em 2006: 298
305 de 298
Tempo total desse estado: 2.67s

Iniciando ../temp\consulta_cand_2006_RO.txt
Total de candidatos em 2006: 536
539 de 536
Tempo total desse estado: 5.08s

Iniciando ../temp\consulta_cand_2006_RR.txt
Total de candidatos em 2006: 527
528 de 527
Tempo total desse estado: 5.07s

Iniciando ../temp\consulta_cand_2006_RS.txt
Total de candidatos em 2006: 879
884 de 879
Tempo total desse estado: 8.81s

Iniciando ../temp\consulta_cand_2006_SC.txt
Total de candidatos em 2006: 514
520 de 514
Tempo total desse estado: 5.24s

Iniciando ../temp\consulta_cand_2006_SE.txt
Total de candidatos em 2006: 296
301 de 296
Tempo total desse estado: 2.93s

Iniciando ../temp\consulta_cand_2006_SP.txt
Total de candidatos em 2006: 2960
2972 de 2960
Tempo total desse estado: 32.87s

Iniciando ../temp\consulta_cand_2006_TO.txt
Total de candidatos em 2006: 481
480 de 481
Tempo total desse estado: 5.53s

Tempo total em 2006: 161.95s

In [3]:
mdpe.migrar_dados_candidato(2010)

Iniciando ../temp\consulta_cand_2010_AC.txt
Total de candidatos em 2010: 455
455 de 455
Tempo total desse estado: 5.23s

Iniciando ../temp\consulta_cand_2010_AL.txt
Total de candidatos em 2010: 463
470 de 463
Tempo total desse estado: 5.44s

Iniciando ../temp\consulta_cand_2010_AM.txt
Total de candidatos em 2010: 533
534 de 533
Tempo total desse estado: 6.30s

Iniciando ../temp\consulta_cand_2010_AP.txt
Total de candidatos em 2010: 399
486 de 399
Tempo total desse estado: 4.80s

Iniciando ../temp\consulta_cand_2010_BA.txt
Total de candidatos em 2010: 1013
1019 de 1013
Tempo total desse estado: 12.52s

Iniciando ../temp\consulta_cand_2010_BR.txt
Total de candidatos em 2010: 18
21 de 18
Tempo total desse estado: 0.24s

Iniciando ../temp\consulta_cand_2010_CE.txt
Total de candidatos em 2010: 799
806 de 799
Tempo total desse estado: 9.93s

Iniciando ../temp\consulta_cand_2010_DF.txt
Total de candidatos em 2010: 1058
1065 de 1058
Tempo total desse estado: 13.45s

Iniciando ../temp\consulta_cand_2010_ES.txt
Total de candidatos em 2010: 535
537 de 535
Tempo total desse estado: 7.00s

Iniciando ../temp\consulta_cand_2010_GO.txt
Total de candidatos em 2010: 823
843 de 823
Tempo total desse estado: 10.79s

Iniciando ../temp\consulta_cand_2010_MA.txt
Total de candidatos em 2010: 643
645 de 643
Tempo total desse estado: 8.63s

Iniciando ../temp\consulta_cand_2010_MG.txt
Total de candidatos em 2010: 1768
1788 de 1768
Tempo total desse estado: 25.14s

Iniciando ../temp\consulta_cand_2010_MS.txt
Total de candidatos em 2010: 365
364 de 365
Tempo total desse estado: 5.04s

Iniciando ../temp\consulta_cand_2010_MT.txt
Total de candidatos em 2010: 431
438 de 431
Tempo total desse estado: 6.36s

Iniciando ../temp\consulta_cand_2010_PA.txt
Total de candidatos em 2010: 846
855 de 846
Tempo total desse estado: 12.04s

Iniciando ../temp\consulta_cand_2010_PB.txt
Total de candidatos em 2010: 453
457 de 453
Tempo total desse estado: 6.50s

Iniciando ../temp\consulta_cand_2010_PE.txt
Total de candidatos em 2010: 711
712 de 711
Tempo total desse estado: 10.30s

Iniciando ../temp\consulta_cand_2010_PI.txt
Total de candidatos em 2010: 403
408 de 403
Tempo total desse estado: 5.86s

Iniciando ../temp\consulta_cand_2010_PR.txt
Total de candidatos em 2010: 1030
1033 de 1030
Tempo total desse estado: 15.49s

Iniciando ../temp\consulta_cand_2010_RJ.txt
Total de candidatos em 2010: 2817
2824 de 2817
Tempo total desse estado: 43.06s

Iniciando ../temp\consulta_cand_2010_RN.txt
Total de candidatos em 2010: 249
248 de 249
Tempo total desse estado: 3.95s

Iniciando ../temp\consulta_cand_2010_RO.txt
Total de candidatos em 2010: 499
505 de 499
Tempo total desse estado: 7.96s

Iniciando ../temp\consulta_cand_2010_RR.txt
Total de candidatos em 2010: 555
561 de 555
Tempo total desse estado: 8.97s

Iniciando ../temp\consulta_cand_2010_RS.txt
Total de candidatos em 2010: 993
996 de 993
Tempo total desse estado: 16.55s

Iniciando ../temp\consulta_cand_2010_SC.txt
Total de candidatos em 2010: 587
588 de 587
Tempo total desse estado: 9.84s

Iniciando ../temp\consulta_cand_2010_SE.txt
Total de candidatos em 2010: 268
268 de 268
Tempo total desse estado: 4.46s

Iniciando ../temp\consulta_cand_2010_SP.txt
Total de candidatos em 2010: 3319
3329 de 3319
Tempo total desse estado: 58.03s

Iniciando ../temp\consulta_cand_2010_TO.txt
Total de candidatos em 2010: 294
294 de 294
Tempo total desse estado: 5.28s

Tempo total em 2010: 329.18s

In [2]:
mdpe.migrar_dados_candidato(2014)

Iniciando ../temp\consulta_cand_2014_BR.txt
Total de candidatos em 2014: 23
27 de 23
Tempo total desse estado: 0.59s

Tempo total em 2014: 0.59s

---

## Candidaturas

In [9]:
(df[['NUMERO_PARTIDO']]
#      .loc[df['CPF_CANDIDATO', 'NUM_TITULO_ELEITORAL_CANDIDATO'] == '#NULO#']
     .drop_duplicates(['NUMERO_PARTIDO'], keep='last')
     .sort_values(by=['NUMERO_PARTIDO'], ascending=True, na_position='first')
)

        NUMERO_PARTIDO
1837240             10
1837255             11
1837229             12
1837253             13
1837256             14
1837257             15
1824733             16
1837217             17
1836945             18
1837140             19
1837236             20
1830854             21
1837254             22
1837197             23
1837247             25
422547              26
1837241             27
1837219             28
1829488             29
1829030             30
1837235             31
1837143             33
1836309             35
1837230             36
1837250             40
1837249             43
1837237             44
1837258             45
1837210             50
1837252             51
1836967             54
1837214             55
422365              56
1836869             65
1836365             70
1837203             77
1837221             90
653018             PPS
743740              PR