# 16 set 2018

O objetivo de hoje Ã©:

- Obter todas as fotos de todos os candidatos que se cadastraram no TSE
- Disponibilizar todas as fotos em escala de cinza

In [1]:
import pandas as pd
import numpy as np
import requests
import sys
import os
import glob
import time

In [2]:
from utils.dataframe_to_database import dataframe_to_database
from utils.dataframe_to_file import dataframe_to_file
from utils.database_to_dataframe import database_to_dataframe
from utils.download import download

## Todos os registros cadastrados na hot table de candidatos

In [3]:
df_candidatos_2018 = database_to_dataframe(
    tabela='candidatura',
    colunas_tabela=['candidato_id', 'sequencial_candidato', 'sigla'],
    condicao='LEFT JOIN estado e on candidatura.estado_id = e.id WHERE (eleicao_id = 202 OR eleicao_id = 203) AND (candidatura.situacao_candidatura_id IS NULL OR candidatura.situacao_candidatura_id != 3)'
)

df_candidatos_2018['sigla'] = df_candidatos_2018.sigla.fillna('BR').astype(str)

df_candidatos_2018

       candidato_id sequencial_candidato sigla
0           1261292          10000602842    AC
1            957409          10000600143    AC
2            957477          10000601043    AC
3           1261158          10000610684    AC
4           1261175          10000607159    AC
5           1261233          10000601030    AC
6            969552          10000600804    AC
7            401312          10000600791    AC
8           1261222          10000600117    AC
9            968434          10000610660    AC
10           957518          10000608369    AC
11           957505          10000602523    AC
12           957461          10000600004    AC
13          1261210          10000604791    AC
14          1261307          10000607158    AC
15          1261140          10000610683    AC
16           957385          10000600136    AC
17             1077          10000607171    AC
18          1261144          10000602293    AC
19              693          10000610619    AC
20          1261126          10000607178    AC
21          1261241          10000600778    AC
22          1261246          10000610654    AC
23           957511          10000602283    AC
24           969248          10000601171    AC
25          1261337          10000610653    AC
26              484          10000600841    AC
27           957471          10000607162    AC
28           968419          10000600785    AC
29          1261254          10000601019    AC
...             ...                  ...   ...
27331       1273923         270000629610    TO
27332       1259046         270000610971    TO
27333       1273364         270000626086    TO
27334       1273235         270000618880    TO
27335       1273323         270000618847    TO
27336       1273252         270000627113    TO
27337       1273338         270000620991    TO
27338        398902         270000629137    TO
27339       1273303         270000627388    TO
27340       1273318         270000625469    TO
27341       1273243         270000610972    TO
27342        656390         270000620984    TO
27343        968151         270000618823    TO
27344       1273228         270000627751    TO
27345       1273244         270000626091    TO
27346       1273217         270000627143    TO
27347        656363         270000627131    TO
27348       1273234         270000625474    TO
27349        968205         270000626132    TO
27350        413999         270000618828    TO
27351       1273275         270000626107    TO
27352       1273221         270000618869    TO
27353       1273279         270000621000    TO
27354       1273240         270000625466    TO
27355        395695         270000627382    TO
27356        399452         270000610925    TO
27357       1273215         270000627375    TO
27358        413899         270000618856    TO
27359        414038         270000627111    TO
27360        399175         270000625457    TO

[27361 rows x 3 columns]

In [5]:
dataframe_to_file(
    dataframe=df_candidatos_2018,
    origem_dados='tse',
    nome='candidatos-id-sequencial-estado'
)

In [ ]:
falhas = []
total = len(df_candidatos_2018)
df_fotos = pd.DataFrame()

for candidato in df_candidatos_2018.itertuples():
    sys.stdout.write('\rCandidato {} de {}'.format(candidato.Index, total))
    sys.stdout.flush()

    while True:
        try:
            link = 'http://divulgacandcontas.tse.jus.br/divulga/rest/v1/candidatura/buscar/2018/{}/2022802018/candidato/{}'.format(
                candidato.sigla,
                candidato.sequencial_candidato
            )
            request = requests.get(link)
            response = request.json()

            df_i = pd.DataFrame(data = {
                'candidato_id': [candidato.candidato_id],
                'foto': [response['fotoUrl']]
            })

            if df_i.empty:
                raise Exception(candidato.candidato_id)
            else:
                df_fotos = df_fotos.append(df_i)
                break
        except:
            falhas.append(candidato.candidato_id)

Candidato 0 de 27361